[2009-10-18 18:40] henrypoydar opened #1 "Upload to gemcutter.org"
Since github isn't serving gems anymore, it would be convenient if the gem was available on gemcutter.org.  Thanks!

[2009-10-18 20:10] #1 closed, assigned to nobody

[2009-12-20 06:41] Empact opened #2 "Should use TRUNCATE ... CASCADE or similar on Postgres"
In the presence of constraints, a regular truncate will fail on postgres.  DatabaseCleaner should either CASCADE the TRUNCATE or defer enforcement of the constraints.

[2009-12-21 05:22] #2 closed, assigned to nobody

[2010-01-29 17:11] bmabey opened #3 "MongoMapper Truncation not respecting :only option"
I was just taking a closer look at the MongoMapper truncation strategy and it doesn't seem to heed any of the options passed to it.  So instead of just truncating the collections specified in the :only option it drops all the collections.

Need to fix that, and maybe add a good way of testing all of this as well.

[2010-02-22 18:51] #3 closed, assigned to nobody

[2010-02-25 17:06] byrnejb opened #4 "PostgreSQL CASCADE option only available in V 8.2 and later."
When using DatabaseCleaner in a Rails-2.5 project that uses PG-8.1 DBMS I get this error:

[code]

(ActiveRecord::StatementInvalid)
      /usr/lib64/ruby/gems/1.8/gems/activerecord-2.3.5/lib/
active_record/connection_adapters/abstract_adapter.rb:219:in `log'

And, if I try an remove the reference to DBC from env.rb then I get
this error:
      uninitialized constant DatabaseCleaner (NameError)

[2010-03-14 22:17] aslakhellesoy opened #5 "Bad Superclass for ActiveRecord connection adapters"
In http://github.com/bmabey/database_cleaner/blob/master/lib/database_cleaner/active_record/truncation.rb the superclass of each adapter is incorrect. Every class should inherit from ActiveRecord::ConnectionAdapters::AbstractAdapter

The issue was originally filed here: http://github.com/aslakhellesoy/cucumber-rails/issues#issue/19

[2010-03-21 17:18] #4 closed, assigned to nobody

[2010-03-25 03:00] thirdreplicator opened #6 "need a nil strategy"
There should be an easy way to turn off database cleaner.  LIke setting the strategy to nil.

[2010-03-29 16:04] bmabey opened #7 "Support multiple ORMs in a single process"
I had a discussion with jerryvos over github about adding this feature.  I'd like to see this added since I think more and more projects will be have multiple DBs (i.e. AR, and MongoDB).  Here are some of the ideas taken from that thread:

Sorry, but currently there is no support for multiple ORM types. Once I merged in the MongoMapper support I realized that this might be a desired feature. I hav

[2010-03-29 16:20] bmabey opened #8 "Support multiple connections for a given ORM"
This is very similar to the concept of having multiple ORM's in a single process:

http://github.com/bmabey/database_cleaner/issues#issue/7

Often times AR project, for example, will connect to a number of DBs.  Right now all of the ORM's operate on a single DB connection.  John Rowe has a fork that added support for multiple AR connections:

http://github.com/JonRowe/database_cleaner

I think sin

[2010-04-03 21:28] #5 closed, assigned to nobody

[2010-04-16 04:10] rsutphin opened #9 "Debug (?) puts in configuration.rb"
In version 0.5.1 there's a `puts` on line 86 of database_cleaner/configuration.rb:

http://github.com/bmabey/database_cleaner/blob/master/lib/database_cleaner/configuration.rb#L86

I'm assuming this was left in by mistake.  I'd supply a patch, but it's probably quicker to let you delete it yourself.

[2010-04-16 04:32] #9 closed, assigned to nobody

[2010-05-02 16:45] rrouse opened #10 "SQL syntax error in DataMapper"
Using git master of dm-rails and dm in a Rails 3 app along with cumber-rails (git master), I get the following error from DatabaseCleaner when I run DatabaseCleaner.clean! with the truncation strategy set.

Exception encountered: #<DataObjects::SQLError: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1]' at li

[2010-05-02 18:42] #10 closed, assigned to nobody

[2010-05-03 22:11] elitwin opened #11 "superclass mismatch for class MysqlAdapter"
I am getting a superclass mismatch for class MysqlAdapter (TypeError) on a Rails 2.3.5 application. It works fine with version 0.5.0, or if I remove the inheritance from AbstractAdapter in the class definition.

superclass mismatch for class MysqlAdapter (TypeError)
/usr/lib/ruby/gems/1.8/gems/database_cleaner-0.5.2/lib/database_cleaner/active_record/truncation.rb:14
/usr/local/lib/site_ruby/1.8/r

[2010-06-10 13:56] enriquez opened #12 "Support for OracleAdapter"
http://github.com/enriquez/database_cleaner/commit/aa704a9625b701635f4ccc53b9f8ea6398bd0267

[2010-08-23 17:55] ghost opened #13 "Issue with gemspec when using bundler and git source"
When I have   `gem "database_cleaner", :git => 'http://github.com/bmabey/database_cleaner.git'`
 in my gemfile, I get:

`Using database_cleaner (0.6.0.rc.1) from http://github.com/bmabey/database_cleaner.git (at master)
database_cleaner at /Users/momoro/.rvm/gems/ree-1.8.7-2010.02/bundler/gems/database_cleaner-99da2e3 did not have a valid gemspec.
This prevents bundler from installing bins or nati

[2010-08-23 18:35] #7 closed, assigned to nobody

[2010-08-23 18:47] #8 closed, assigned to nobody

[2010-08-24 01:46] #13 closed, assigned to nobody

[2010-09-02 16:35] byrnejb opened #14 "PostgreSQL CASCADE error on PG vers < 8.2 and Ruby v > 1.8"
The Array.to_s method has a different behaviour in Ruby V 1.9 from that of Ruby 1.8.  Under 1.8 the .to_s method of Array performed an implicit .join before creating the string.  Ruby 1.9 does not do this but instead produces a literal string representation of the array complete with delimiters. The difference in string representations causes the db_version check in lib/database_cleaner/active_rec

[2010-09-03 00:01] #14 closed, assigned to nobody

[2010-09-11 21:53] bjeanes opened #15 "Not cleaning DB with Rails 3, pg adapter, and machinist 2"
No cleaning occurs, regardless of the strategy used. I'm not sure what other information I can give. I tried the latest release version, the latest prerelease versions, and master.

[2010-09-20 23:18] ak47 opened #17 "multiple DB support leads to undefined method"
I have in my cuke env.rb...

  DatabaseCleaner[:active_record, {:connection => :test}].strategy = :truncation
  DatabaseCleaner[:active_record, {:connection => :test_security}].strategy = :truncation

but every time I try to run cucumber it does...

undefined method `[]' for DatabaseCleaner:Module (NoMethodError)
/Users/andy/gits/sdbpg/features/support/env.rb:34

unfortunate as your test cases sho

[2010-09-21 20:33] pcreux opened #18 "undefined method `truncate_table' with mysql2 adapter"
Hello,

looks like DBCleaner strategy :truncation doesn't work mysql2 adapter.

<pre>
  DatabaseCleaner.strategy = :truncation
  DatabaseCleaner.clean
  undefined method `truncate_table' for #&ltActiveRecord::ConnectionAdapters::Mysql2Adapter:0x7fcdeb8a1f68&gt
</pre>

[2010-09-21 23:24] #17 closed, assigned to nobody

[2010-09-22 06:24] #18 closed, assigned to nobody

[2010-10-25 17:25] bmabey opened #22 "can not use the transaction strategy when using multiple DBs (with AR)..."
This fails the tests, at least with ActiveRecord.  Still need to manually test this to verify it isn't a testing bug.  Either way, this needs to be fixed.

[2010-10-26 08:44] svenfuchs opened #23 "ActiveRecord strategy now requires a config/database.yml?"
Am I missing something or is using the ActiveRecord strategy without a config/database.yml (at that very location) now impossible?

I usually setup the connection manually (ActiveRecord::Base.establish_connection(:adapter => 'sqlite3', :database => ':memory:')) for unit tests in libraries and then set the DatabaseCleaner strategy. This now with 0.6.0 fails because I just don't have a database.yml

[2010-10-27 02:40] cgriego opened #24 "Not tuncating reserved MongoDB collections"
The system.\* collections in MongoDB are reserved for internal metadata and should not be truncated by default, for example system.indexes. A project using MongoDB should be able to setup indexes before a test suite is run and have them remain in place throughout the suite execution.

More information
http://www.mongodb.org/display/DOCS/Mongo+Metadata

[2010-11-01 23:26] knewter opened #25 "fails quietly and painfully if there's a view in the database and using truncation strategy"
In a database with a view, it will try to "truncate table" on the view, which throws a mysql error.  At least in our setup, this fails silently in the cucumber runs, which causes random failures (data related) that are hard to diagnose.  For now, we just threw a rescue after it in the gem to get our release out the door (releasing tonight), but I'm willing to work to figure out the appropriate pat

[2010-11-08 09:16] stonegao opened #26 "0.6.0 and 0.6.0.rc3 not work for mongoid, undefined method `const_get' for nil:NilClass (NoMethodError)"
/Users/stone/.rvm/gems/ree-1.8.7-2010.02/gems/activesupport-3.0.1/lib/active_support/whiny_nil.rb:48:in `method_missing': undefined method`const_get' for nil:NilClass (NoMethodError)
        from /Users/stone/.rvm/gems/ree-1.8.7-2010.02/gems/database_cleaner-0.6.0/lib/database_cleaner/base.rb:104:in `orm_strategy'
        from /Users/stone/.rvm/gems/ree-1.8.7-2010.02/gems/database_cleaner-0.6.0/li

[2010-11-11 17:42] bmabey opened #27 "Specifying a strategy via the multi-orm way results in a nil strategy for the autodetected one"
When configured like this:

[code]

The following error is raised:

[code]

That is because the connections look like this:

[code]

[2010-11-11 17:46] #26 closed, assigned to nobody

[2010-11-23 01:50] #24 closed, assigned to nobody

[2010-11-25 05:52] #6 closed, assigned to nobody

[2010-11-29 03:45] mynameisrufus opened #30 "database hash fail"
Trying to do this:

[code]

But from reading the source it seems you can't pass the object pointer only a hash that is then read from database.yml :( we are using a nested database yml for multiple postgres connections so this don't work.

Would be good to pass in the connection object :)

[2010-12-03 20:21] kberridge opened #33 "Doesn't work with SqlServer databases that use schemas"
I'm basing this on the behavior I'm seeing, please direct me in the right direction if I've misinterpreted what's happening.

I'm using database_cleaner with cucumber, active_record, and activerecord-sqlserver-adapter.

I have a table in my database called Contact.ContactEmail.  Database cleaner is trying to execute the command TRUNCATE TABLE [ContactEmail]; which fails because that table doesn't

[2010-12-03 21:37] djsun opened #34 "order of configuration matters (but it should not)"
This order works for me:

[code]

But this order does not:

[code]

Since these are declarative configuration statements, it would be better if the order does not matter.

[2010-12-17 15:40] kristianmandrup opened #35 "Specifying location of database.yml"
Hi,
Is there an easy way I can configure database_cleaner to load the database.yml from a different location than the default config/database.yml ?
Would really appreciate that!
Thanks

[2010-12-19 19:36] sikachu opened #36 "DatabaseCleaner::Mongoid not loaded when strategy not existed"
Hi,

I'm currently using the edge `database_cleaner` with edge `cucumber-rails` I've tried to run cucumber feature which defaults try to use `:transaction` strategy on my ORM, and it turns out that `DatabaseCleaner::Mongoid` doesn't get included on error.

Here is the trace log:

[code]

I've dug into the source code and couldn't find the culprit. Would you mind helping me out for this? Thank you

[2010-12-27 01:48] brunoarueira opened #37 "Database cleaner broke my rspec tests on rails 3, rspec 2, machinist and pg adapter"
I run the rspec tests without database cleaner and my tests passed and work very well, but I configure the database cleaner on spec_helper.rb with config on the readme and my tests are broken.

Show me an error like this:

[code]

I verify why its occur and check before the suite test the config load normal with all keys declared on the config/database.yml, but inside the suite before each spec th

[2010-12-31 02:07] #37 closed, assigned to nobody

[2011-01-20 02:26] samerbuna opened #39 "Support IBM_DB Adapter for truncate table"
I had to work with a project on DB2 and I needed to truncate all tables, The easiest way was to patch DC to do it.

[2011-01-20 02:35] #39 closed, assigned to nobody

[2011-01-24 12:28] opsb opened #41 "mongoid truncate strategy doesn't remove system.indexes"
The current implementation doesn't remove the system.indexes collection. This causes problems for mongo as it uses the indexes created for previous runs of your tests.

The following implementation for https://github.com/bmabey/database_cleaner/blob/master/lib/database_cleaner/mongoid/truncation.rb#L21 will fix it.

[code]

[2011-01-27 17:45] #34 closed, assigned to nobody

[2011-01-28 01:43] #41 closed, assigned to nobody

[2011-02-04 16:07] #33 closed, assigned to nobody

[2011-02-10 09:46] leehambley opened #44 "Invalid SAVEPOINT name for PostgreSQL 9.x (possibly 8.x) - SAVEPOINT"
Using version 0.6.2, and I suspect 0.6.3 (but it's not yet in Gem mirrors, and the change-log indicates you didn't change something here) there is an error with an incorrect name for a SAVEPOINT under PostgreSQL (at least, I haven't tested other adapters)

[code]

… hack that… I'll leave this issue here, but it's not a database cleaner issue… the SAVEPOINT name is taken from the PostgresAdapter in

[2011-02-10 17:46] #44 closed, assigned to nobody

[2011-02-18 03:11] anathematic opened #45 "Excluding tables from the database clean"
Howdy,
I've been digging through the code and found the except / only options but I don't quite understand how to use them.
I've tried Database.clean(:except => [:bar, :foo]) with no luck - my ruby-fu wasn't quite strong enough to understand what was going on in the code.

Cheers!
Thomas

[2011-02-28 10:29] millisami opened #47 "How to override the after(:each) not to clean the database?"
Hi, I want to clean the database just before my rspec examples run.
The default is it cleans the db after the examples run. How to configure it to clean the db just before the example run so that I can poke around the Test db to see what records were presisted?

[2011-03-09 10:36] #47 closed, assigned to nobody

[2011-03-21 15:43] voxik opened #54 "ERB should be explicitly required to avoid errors"
Hello, this patch: https://gist.github.com/879643 should fix the $subject. ActiveRecord specs fails due to this error when they are executed without Bundler. This should make database_cleaner more robust.

[2011-03-21 22:44] #54 closed, assigned to nobody

[2011-03-30 21:55] danielb2 opened #57 "multiple database connections do not get cleaned"
hi, let's say I have two classes,

[code]

In this case, DatabaseCleaner does not clean up the table in the other DB.

[2011-04-13 21:25] oreoshake opened #58 "Incompatibility with mysql2?"
ENV: OSX, mysql 5.5.1, gem mysql2 0.2.7, database_cleaner 0.6.5

Disclaimer: I am not saying this is necessarily an issue with database_cleaner, but this error only occurs when using database_cleaner.

Using DatabaseCleaner[:active_record, {:connection => :test }].strategy = :truncation

/Users/oreoshake/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.3/lib/active_support/whiny_nil.rb:48:in `meth

[2011-04-21 21:57] ak47 opened #59 "help with multiple db setup"
can't seem to get a multiple db setup to work and I can't find any examples of doing this...

here is what I've got so far,
## database.yml

test_security:
  adapter: postgresql
  username: psg_user_1
  password:
  database: db_1
  pool: 5
  timeout: 5000
test:
  encoding: unicode
  adapter: postgresql
  username: psg_user_2
  database: db_2
  password:
branch_test:
  encoding: unicode
  adapter:

[2011-04-27 07:22] consu opened #60 "ActiveRecord::JDBCError: ORA-00911: invalid character by DatabaseCleaner.clean"
Hello,

I use database_cleaner with jruby-1.6.1, Rails 3 and Oracle.
When I use DatabaseCleaner.clean (DatabaseCleaner.strategy = :truncation) I became the following error:

[code]

It happens because database_cleaner appends a ; in

[code]

My workaround looks like this:

[code]

Regards
Dieter

[2011-05-25 19:33] #59 closed, assigned to nobody

[2011-07-11 17:35] evdevdev opened #66 "ActiveRecord/sqlite3 truncation strategy & sqlite_sequence"
I'm using sqlite and ActiveRecord and the truncation strategy, and I noticed there was some funny behavior with sqlite_sequence not getting cleared. (I have some seed data with hard coded IDs, thus the problem.) I can't think of any reason why this table shouldn't be cleared, and likewise, it DOES get cleared if you use the transaction strategy. I think these two strategies should have the same ef

[2011-08-12 23:14] techwhizbang opened #70 "Support for Sequel ORM to be released when?"
I was looking through master and I see there is support for the Sequel ORM, but it isn't available in 0.6.7. Will it be available in 0.6.8?

[2011-08-22 23:46] thebaggage opened #72 "No database specified. Missing argument: database. (ArgumentError)"
Hi folks,

Getting a 'no database' error in cucumber with database cleaner that's proving very stubborn. (Goes away if I remove database cleaner.) A few things:
- Double & triple-checked my config/database.yml file. It's legit
- Can connect to the cucumber environment through console & interact with the db just fine
- Using postgres for DB

If anyone has any ideas I'd be really appreciative - I'm

[2011-08-23 09:12] #72 closed, assigned to nobody

[2011-08-29 22:17] masterkain opened #73 "rails-head superclass mismatch"
Hello,
since this commit: https://github.com/rails/rails/commit/5766539342426e956980bf6f54ef99600cbfc33e

I get:

[code]

[2011-10-12 21:12] bantic opened #74 "Error in ActiveRecord's decrement_open_transactions call, mysql and Rails 3"
This is with a Rails 3.0.10 project using mysql (I'm also using mongo_mapper and redis in the same project, but not trying to use database_cleaner with them).

I upgraded from DatabaseCleaner v 0.5.2 to v 0.6.7 and now when I run tests I get a nil object error.

The error is from activerecord's "decrement_open_transactions" method here:
https://github.com/rails/rails/blob/3-0-10/activerecord/lib/a

[2011-10-26 06:49] rurounijones opened #76 "Allow for specifying table truncation order"
I am having to interface with an Microsoft SQL Server 2005 instance which is populated with a bunch of foreign key constraints.

The transaction strategy causes the tests to hang. I am not sure why so I went with the truncation strategy. However because database_cleaner cleans the tables in the order that it finds them it is trying to truncate tables with violates the foreign key constraints of th

[2011-10-26 08:44] rurounijones opened #77 "Tests failing in master"
In order to fix #76 I just pulled from master ( 18108d775a
bmabey authored 1 day ago ), bundle installed the gems etc and ran the specs.

Various specs are failing for me (See following Gist)  https://gist.github.com/1315804

Is there some setup step that I am missing?

[2011-10-30 17:05] #77 closed, assigned to nobody

[2011-11-08 00:53] bgentry opened #79 "Sequel ORM: Should use TRUNCATE ... CASCADE on Postgres"
Surprised this isn't built into the Sequel ORM. There's no simple way to do this other than running the SQL directly.

This doesn't work:

[code]

This does:

[code]

I didn't have a chance cleanly integrate this, but thought I'd at least create an issue. You could do a check to see if the db is a Sequel::Postgres::Database type prior to either running the default truncate method or running the cu

[2011-11-08 20:52] joevandyk opened #80 "New Strategy: The Snapshot"
I'd like to be able to use transactions inside my tests, so that rules out the transaction strategy.

My general pattern when running tests:
1. Remove all the data from the database
2. Load some initial data using factories
3. Run tests, reverting back to the initial data after each test run

I would use the deletion or truncate pattern (fwiw, deletion is much faster than truncate for me with post

[2011-11-13 00:12] will opened #81 "please push a gem release with the sequel support"
please

[2011-11-13 01:28] #81 closed, assigned to nobody

[2011-11-13 01:29] #70 closed, assigned to nobody

[2011-12-07 16:29] #58 closed, assigned to nobody

[2011-12-20 15:53] #22 closed, assigned to nobody

[2012-01-03 02:25] jviney opened #90 "ActiveRecord deletion strategy and disable_referential_integrity?"
Is there a reason why the deletion strategy does not use disable_referential_integrity?

(sorry, couldn't see a list to post this on)

[2012-01-07 02:43] #90 closed, assigned to nobody

[2012-01-17 13:41] leifg opened #92 "Use database_clener with sequel and mysql"
hello everyone,

I've looking for an example on how to use database_cleaner together with sequel and a mysql database. I was not able to find one. Also I am confused on which mysql adapter I should use.

It would be nice if you could help me out.

[2012-01-17 16:04] #92 closed, assigned to nobody

[2012-01-26 00:49] #73 closed, assigned to nobody

[2012-01-28 00:21] tispratik opened #96 "Logging option"
Database Cleaner mostly works in the background and its like magic. But sometimes when debugging issues i feel the need of turning the logging ON so that i can see what database cleaner is doing. Can we have a log level option with it please?

Thanks!

[2012-01-29 11:07] gernotkogler opened #98 "Rails 3.2.1: superclass mismatch for class Mysql2Adapter"
Seems still to be a problem. Here's the stack trace:

gems/ruby-1.9.3-p0@rem2/gems/activerecord-3.2.1/lib/active_record/connection_adapters/mysql2_adapter.rb:23:in `<module:ConnectionAdapters>': superclass mismatch for class Mysql2Adapter (TypeError)
  from gems/ruby-1.9.3-p0@rem2/gems/activerecord-3.2.1/lib/active_record/connection_adapters/mysql2_adapter.rb:22:in`module:ActiveRecord'
  from gems

[2012-02-03 14:46] agibralter opened #99 "strange issue with changing strategies and AR `after_commit` hooks"
Wow this was a hard thing to track down. It turns out that if ActiveRecord models with after_commit hooks get created in a transactional (`DatabaseCleaner.strategy = :transaction`) example and then a non-transactional example runs, all the left over objects' after_commit hooks will fire on the first "COMMIT" of the non-transactional example. This is because DatabaseCleaner does not call `rollback_

[2012-02-22 15:34] #79 closed, assigned to nobody

[2012-03-04 12:03] thimmaiah opened #105 "Rails3.2, DatabaseCleaner.strategy = :truncation, ignoring :except and deleting all tables"
This is a prob encountered when migrating to rails 3.2.1 - No issues in prev versions

In my env.rb file I have

 DatabaseCleaner.strategy = :truncation ,
    {:except => %w[user_roles locations category_custom_fields industry_classifications]}

However all tables get truncated at the end of the test case
1. I put some debug statements inside "generic/truncation.rb" to print @tables_to_exclude.
2.

[2012-03-04 23:38] dznz opened #106 "Document the difference between the #connections and #[] methods"
I recently resolved a bug that was caused by the subtle difference between the following configurations:

[code]

Basically, the autodetect functionality appears to run when `DatabaseCleaner.connections` is used (e.g. by calling the `#orm` or `#strategy` methods). When another library is all "herp derp we should require ActiveRecord" it gets autodetected by database_cleaner and fails out if an act

[2012-03-05 18:01] #106 closed, assigned to nobody

[2012-04-12 16:02] #36 closed, assigned to nobody

[2012-04-16 09:49] ADogan opened #113 "Mongoid 3.0: undefined method `database' for Mongoid:Module (NoMethodError)"
In database_cleaner 0.7.2, I get the following error after upgrading Mongoid to 3.0:

<pre>
undefined method `database' for Mongoid:Module (NoMethodError)

..
/gems/database_cleaner-0.7.2/lib/database_cleaner/mongoid/truncation.rb:15:in `database'
/gems/database_cleaner-0.7.2/lib/database_cleaner/mongo/truncation.rb:17:in `collections'
/gems/database_cleaner-0.7.2/lib/database_cleaner/mongo/trunca

[2012-04-22 19:44] atipugin opened #115 "Problem with Postgres"
Everything was absolutely fine with MySql, but when i switched to Postgres - my tests began to fail with this:

[code]

How to resolve it? I've seen similar issues here, but still haven't found any solution.

[2012-05-03 21:44] mhaylock opened #117 "`disable_referential_integrity` failing with postgres and :truncation strategy"
We are using database_cleaner 0.7.2 with cucumber and are using the `:truncation` strategy - set up as suggested by [README.textile](https://github.com/bmabey/database_cleaner/blob/master/README.textile).

We haven't had any issues with this setup until yesterday when one of our tests that uses capybara + poltergeist started failing intermittently.

Most of the time it will fail, sometime it passe

[2012-05-31 05:47] #115 closed, assigned to nobody

[2012-06-13 13:26] #113 closed, assigned to nobody

[2012-06-15 00:53] conradwt opened #123 "Database not properly cleaned"
The database, MySQL, isn't being properly cleaned using the RSpec recipe below:

[code]

Setup:

[code]

Lastly, this isn't so much of an issue with the unit tests but causes issues with the controller and acceptance tests.

[2012-07-03 06:30] stanislaw opened #126 "15x - 150x faster truncation strategy for Mysql (tested with mysql2 gem)"
Hello,

Somehow, I didn't use DatabaseCleaner at all for a very long time, just using the tip №3 from Jose Valim http://blog.plataformatec.com.br/2011/12/three-tips-to-improve-the-performance-of-your-test-suite/ instead.

Today I tried to switch to using Capybara's :webkit driver instead of default :selenium for my JS tests. This led me to some issues with transactions, which always worked good fo

[2012-07-06 22:54] #11 closed, assigned to nobody

[2012-07-06 23:19] #12 closed, assigned to nobody

[2012-07-06 23:33] #23 closed, assigned to nobody

[2012-07-06 23:34] #15 closed, assigned to nobody

[2012-07-07 22:20] #30 closed, assigned to nobody

[2012-07-07 23:22] #25 closed, assigned to nobody

[2012-07-07 23:22] #27 closed, assigned to nobody

[2012-07-07 23:22] #35 closed, assigned to nobody

[2012-07-13 21:59] #57 closed, assigned to nobody

[2012-07-13 22:12] #66 closed, assigned to nobody

[2012-07-13 22:16] #60 closed, assigned to nobody

[2012-07-14 21:53] #96 closed, assigned to nobody

[2012-07-31 15:34] betelgeuse opened #130 "cache tables to clean with truncation on ActiveRecord"
Using ActiveRecord::Base.connection.tables does not include caching (at least on rails 3.1). Rails itself does provide caching in ActiveRecord::Base.connection_pool. The downside I found there was that on 3.1 at least looking at the class it's possible for the #tables to be uninitialized as it's initialized with calls to table_exists?. Maybe however we can rely on something always having called th

[2012-08-06 04:26] #130 closed, assigned to nobody

[2012-08-06 07:26] #126 closed, assigned to nobody

[2012-08-06 15:27] gaustin opened #136 "Configuration instructions conflict with Cucumber(-Rails) instructions"
The README for database_cleaner states that you should do configuration in features/support/env.rb. This file says that it shouldn't be modified as it should be regenerated when upgrading cucumber-rails.

Is there a better place to put this configuration?

[2012-08-07 16:24] #136 closed, assigned to nobody

[2012-08-16 22:49] mfp4073 opened #143 "Some tests do not clear"
See my stack overflow question:

http://stackoverflow.com/questions/11996522/database-cleaner-not-clearing-some-of-my-tests-rspec-capybara-selenium

[2012-08-23 04:49] ciaranlee opened #144 "Problem changing away from transaction strategy for activerecord"
I'm trying to run tests with the truncation strategy, but for some reason I can't actually change away from transaction.

I stuck a binding.pry in spec_helper.rb

[code]

I'm using MongoMapper with the truncation strategy, and it's working fine. It's really puzzling...

[2012-08-25 16:44] #117 closed, assigned to nobody

[2012-08-26 01:58] #76 closed, assigned to nobody

[2012-08-26 01:59] #143 closed, assigned to nobody

[2012-09-03 22:33] #98 closed, assigned to nobody

[2012-09-03 22:34] #144 closed, assigned to nobody

[2012-09-03 22:42] #45 closed, assigned to nobody

[2012-09-06 21:17] ghost opened #147 "undefined local variable or method `migration_storage_name' for #<DatabaseCleaner::ActiveRecord::Truncation:0x007ffdd95c5448>"

[2012-09-08 15:51] #147 closed, assigned to nobody

[2012-09-19 10:24] slbug opened #150 "Rails 4 deprecation warnings"
DEPRECATION WARNING: #increment_open_transactions is deprecated and has no effect. (called from start at GEM_HOME/database_cleaner-e1c3b908d522/lib/database_cleaner/active_record/transaction.rb:11)

[2012-10-09 10:39] dwhenry opened #152 "Help file does not match released gem"
Love the gem, however just spent 1/2 a day trying to get the :model parameter to work with ver 0.8.0 and understand what I was doing wrong.

Can I ask that if you have added new functionality to github and put notes on the readme can you somewhere put a note that says this functionality is not currently in production and will not be live until release version X

Thanks

David

[2012-10-11 16:14] #152 closed, assigned to nobody

[2012-10-30 18:25] joevandyk opened #156 "Move to ruby 1.9?"
I noticed while trying to run the tests on Ruby 1.9.3 that database_cleaner required linecache 0.46, which doesn't support 1.9 yet. Isn't it about time to move to 1.9?

[2012-11-12 16:03] ishe-ua opened #159 "minitest and mongoid issue"
it dosnt clean database for me:

class MiniTest::Rails::ActiveSupport::TestCase
...

but its work fine:

class MiniTest::Spec
...

[2012-11-14 11:18] #159 closed, assigned to nobody

[2013-01-10 18:44] stevecj opened #173 "Transactional cleanup after psql error broken with Rails 3.2.11"
We have RSpec example code such as...

[code]

When this is executed using the database_cleaner transaction strategy in Rails 3.2.11, an error occurs during test teardown...

[code]

This problem does not occur in Rails 3.2.10, and it does not occur when using the Rails transactional fixtures (not using database_cleaner) in Rails 3.2.11.

Until this is fixed, the work-around that my coworker figur

[2013-01-17 12:43] filimonov opened #174 "multiple active_record databases without database.yml"
I have a cucumber-tests of non-rails application, but i'm using ActiveRecords in tests.

I do not have database.yml in my project, and for some reasons dont want to have it (connection setting are stored in a bit different format).

I have several database models, defined like

[code]

Now to clean that databases i'm trying to use the following code. I do not have database.yml so i'm just passing

[2013-01-18 22:38] JustinAiken opened #175 "DB_C not working on second database"
From my spec_helper:

[code]

Which produces text such as:

[code]

Everything from the main test database is cleaned okay, but anything in my second database isn't..

[2013-01-22 19:40] tabfugnic opened #176 "Having trouble with database_cleaner on jenkins/hudson ci server"
So I'm setting up a CI Server using hudson 3.0.  After getting it all up and running I have a few tests that fail.  Check to see what's going on and I finally figure out that the data that I'm throwing into my database isn't getting cleaned out properly.

I've run my test suite on a bunch of different machines and they all seem to work, but when I run it manually on the CI server it also breaks an

[2013-01-22 20:25] bcavileer opened #177 "Transaction strategy and Postgres"
I changed from Sqlite to Postgres and I'm having trouble running my tests with the transaction strategy.

I haven't changed anything other than the database.

It seems the transactions are working, but the autoincrementing 'id' sequences are not reset after the tests.

Running with truncation works but is much slower.  I'm not using Selenium.

This used to work with Sqlite.

[2013-01-27 00:00] #99 closed, assigned to nobody

[2013-01-31 12:34] scho opened #179 "Stack level too deep in development environment"
Hi folks,

I wanted to use database_cleaner in development environment in order to clear out all my seed data (I can't use `rake db:reset`). But I get a strange `stack level too deep`error:

[code]

The same happens in a rake task, but all works find in test environment!
I use Ubuntu Server 12.04. My version of database_cleaner is `0.9.1`.

Any ideas, why this doesn't work?

cheers,
Georg

[2013-01-31 19:10] #179 closed, assigned to nobody

[2013-02-05 18:40] #156 closed, assigned to nobody

[2013-02-08 22:50] #150 closed, assigned to nobody

[2013-02-14 05:59] andreypronin opened #183 "Check if the strategy is the same before creating a new strategy object in 'strategy='"
Note the difference between the DatabaseCleaner usage code in these two places and the rationale for that difference:
http://devblog.avdi.org/2012/08/31/configuring-database_cleaner-with-rails-rspec-capybara-and-selenium/
vs
https://gist.github.com/moonfly/4950750.

For example, setting "DatabaseCleaner.strategy = :transaction" (as in the 1st post) before each spec leads to DatabaseCleaner::Active

[2013-02-18 03:47] etagwerker opened #184 "superclass mismatch for class MysqlAdapter on Ruby 1.9.3"
I keep getting `superclass mismatch for class MysqlAdapter (TypeError)`

I tried with the latest version (`0.9.1`) and `master`

Here is the stack trace:

[code]

This seems to be the cause:

[code]

I am using the `mysql2` gem and not the `mysql` gem, which is working alright with everything but `database_cleaner`

I am submitting a pull request that should fix this issue.

Please let me know wha

[2013-03-01 18:27] sjmadsen opened #187 "Nested transactions is causing a warning with Rails 4 beta + PostgreSQL"
I've only had enough time to dig into this issue to lead me to think it's database_cleaner, and not something else, but I want to file the issue in case someone else has an easy fix.

With Rails 4 beta, database_cleaner, FactoryGirl and RSpec, I get lot of these warnings during a spec run:

[code]

Database_cleaner is configured to use truncation at the start of the suite and transactions before e

[2013-03-02 17:24] dchelimsky opened #188 "Nested transactions are causing an exception with Rails 4 beta + sqlite"
Similar to #187, but it's sqlite and it's a blocker since this is an exception, not a warning. I'll look into it and see if I can pinpoint a change.

[code]

[2013-03-18 17:07] betelgeuse opened #192 "Deletion strategy broken on MySQL"
#166 broke deletion strategy on MySQL because the adapter can't handle multiple statements identically to PostgreSQL and there were no unit tests to catch the regression.

[2013-03-25 20:06] DaveSanders opened #196 "Using rake causes "except" to be ignored?"
I am still trying to piece this together, but as I was trying to get my CI server up and running again, I ran into this weird issue.  It boils down to this:

If I run my rspec with bundle exec rspec, database cleaner acts like it should, and respects my ":except=>" array as it should.

If I run my tests with "RAILS_ENV=test rake spec" then the tables are all getting truncated each and every time..

[2013-03-25 20:38] #196 closed, assigned to nobody

[2013-04-01 16:16] daniel-g opened #198 "Transaction is not closed in Rails 4"
Here is my conf:

[code]

Here is the test log:

[code]

As you can see in the log, after it truncates, it opens a new transaction to insert, but then it is not closed. The test holds there.

[2013-04-08 18:32] #198 closed, assigned to nobody

[2013-05-02 09:37] cesidio opened #200 "Rails 4 rc1 broken on master branch"
Hi, the latest master branch is causing this issue in our dummy ruby2 - rails 4 application

[code]

this is our postgresql.rb:

[code]

reverting back to `gem 'database_cleaner', github: 'bmabey/database_cleaner', ref: '20136e89'` specs pass

(actually we are not testing any AR model)

[2013-05-03 14:44] #200 closed, assigned to nobody

[2013-05-10 14:59] cout opened #204 "transaction rolls back database but not activerecord objects (memory leak)"
When cleaning the database via transaction, database_cleaner calls rollback_db_transaction, which simply does a ROLLBACK on the database.

However, during a transaction, activerecord appends all modified activerecord objects to @_current_transaction_records on the connection adapter; the rollback_db_transaction method does not clear this array.  Over the course of a long test suite, this prevents

[2013-05-14 02:59] aptx4869 opened #206 "File missing in release v1.0"
I upgrade to version v1.0 from rubygems and then it breaks my test:

in the file `database_cleaner/moped/truncation` it requires truncation_base
`require 'database_cleaner/moped/truncation_base'`
but that is not exist in the gem...

please fix the gem to the gem server

[2013-05-14 03:24] #206 closed, assigned to nobody

[2013-05-24 18:36] kstevens715 opened #213 "Respect ActiveRecord's table_name_prefix option on schema_migrations"
ActiveRecord has a table_name_prefix and table_name_suffix option. When used, the schema_migrations table has the following behavior:

[code]

However, database_cleaner hard codes "schema_migrations" regardless, causing the nep_schema_migrations_co table to be cleaned by default. You can currently pass the :except option to get around the problem, but it would still be nice if it handled this by d

[2013-05-27 21:38] jfelchner opened #215 "Spec Failures Of Unusual Origin (SFOUO's)"
When attempting to implement #212, I wanted to make sure (obviously) that I hadn't broken anything.  I attempted to get the test suite to run and after some trial and error, got all but 3 to pass.  The last 3 are all the same error and have me perplexed.  Here is the stacktrace:

[code]

I get this error on the following 3 specs:

[code]

Any thoughts?

[2013-06-04 02:10] #213 closed, assigned to nobody

[2013-06-11 15:38] jwg2s opened #219 "Mysql2::Error: This connection is in use by: #<Thread:0x00000017bbf2f8 sleep>: TRUNCATE TABLE `cr_contacts`;"
We are getting the following error randomly in our test suite with database cleaner.  We are using database cleaner in combination with the following two code snippets that I think are related:

Shared DB Connection (The likely cause)

[code]

Potentially related (although unlikely)

[code]

[2013-06-11 16:24] #219 closed, assigned to nobody

[2013-06-12 12:44] tommeier opened #220 "[WIP] Truncation class_eval"
Hi,
I've had an attempt at the first cut for running with proper decoration of adapters for truncation.

Though the more I got into it the more design decisions I noticed, and didn't quite get.

Could you have a look at this? https://github.com/tommeier/database_cleaner/compare/fix-superclass and let me know if you think its on the right track or if i've missed a critical design choice in the cull

[2013-06-12 22:37] #220 closed, assigned to nobody

[2013-06-12 22:55] bmabey opened #222 "get features to pass on travis"

[2013-06-18 03:05] Tonkpils opened #223 "Deprecation warnings on gem version '1.0.1'"
It seems that the deprecation warnings explained in #150 and #182 are showing up on the gem version 1.0.1 but they are fixed on the 1.0.0 RC1

[2013-06-20 14:33] josemotanet opened #224 "PostgresSQLAdapter being used when using a SQLite3 database"
I'm beginning using Cucumber along with `database_cleaner` in a Rails 4 app. I'm using `sqlite3` as my testing database. A scenario I'm writing would pass if it weren't for this:

[code]

My suspicion is that the connection adapter is being incorrectly set somewhere.
Let me know if there's any other info I can provide.

[2013-07-08 18:05] tetherit opened #226 "ActiveRecord::ConnectionNotEstablished (ActiveRecord::ConnectionNotEstablished)"
I have active record disabled as described here: http://stackoverflow.com/questions/2212709/remove-activerecord-in-rails-3

Despite this, when I run rspec, I get:

[code]

The offending line is simply:

[code]

Have no sqlite or anything similar in the Gemfile, I have no active_record line anywhere in my rails app and this worked find until recently, I'm not sure what changed - I think this happen

[2013-07-18 04:43] brendon opened #228 "Using database_cleaner with postgresql schema_search_path and shared_connection"
Hi there,

I'm experiencing a problem with non-transaction examples when using database_cleaner to turn off and on the transactions. I use postgresql schemas to do multi-tennancy in my application and I also attempt to use a shared connection in my tests so that capybara plays nicely:

[code]

Unfortunately it looks like database_cleaner perhaps spawns a separate connection and I can't see how to

[2013-07-21 07:55] #228 closed, assigned to nobody

[2013-07-26 04:07] duncan-bayne opened #229 "Upgrade to 1.0.1 breaks cleaning SQLite3 database"
Upgrading to database_cleaner 1.0.1 has broken table truncation in SQLite3.

In 0.9.1, the following (valid) SQL is generated:

[code]

In 1.0.1, the following (invalid) SQL is generated instead:

[code]

[2013-08-01 16:12] #192 closed, assigned to nobody

[2013-08-09 11:03] cmierich opened #234 "No rollback on custom transaction if using strategy :transaction with rails and rspec"
If having a rspec test in  rails which triggers an custom transaction rollback the test fails because no rollback is done when using strategy :transaction.

Steps to reproduce:
For example the following test fails because User count is 1 instead of 0.

[code]

Without database_cleaner gem and just using the standard rspec transactional fixtures:

[code]

this test succeeds
The test also succeeds w

[2013-08-14 06:59] sebfie opened #235 "DatabaseCleaner clean between each HTTP requests with capybara"
Hello,

I have an issue using database_cleaner with capybara-webkit. I configured it like this :

    class ActionDispatch::IntegrationTest
      # Make the Capybara DSL available in all integration tests
      include Capybara::DSL

      # Stop ActiveRecord from wrapping tests in transactions
      self.use_transactional_fixtures = false

      DatabaseCleaner.strategy = :truncation
      Capyba

[2013-08-20 11:56] voxik opened #237 "AR test cases fails against AR 4.0"
[code]

It seems that https://github.com/bmabey/database_cleaner/issues/150 was incomplete.

[2013-08-20 12:08] voxik opened #238 "Test suite fails with RSpec 2.13+"
Here are some notes from RSpec upstream: https://github.com/rspec/rspec-core/issues/1052

[2013-08-21 00:50] dleve123 opened #239 "One Cucumber Scenario Not Cleaned"
Hey everyone,

So my team is driving out our rails app (a survey and lite electronic record system) using Cucumber, Rspec and all the gems necessary to use these testing frameworks.  I am in the process of setting up a Jenkins CI server and wanted to standardize our databases across our testing, development, and staging environments (we ended up choosing MySQL).

Upon switching the testing environ

[2013-08-21 21:42] #238 closed, assigned to nobody

[2013-08-29 16:47] garyfoster opened #242 "Pass the cleaner strategy as an option on a single test"
I'm using a configuration I found to dynamically switch the strategy depending on whether or not capybara-webkit is being used, which is working well. I'm using rspec and the below config is in my spec_helper.rb file:

[code]

What I would like to do is be able to pass in an option from a single test to override the cleaner strategy rules on a case by case basis like the following:

[code]

I can'

[2013-08-29 17:36] #242 closed, assigned to nobody

[2013-09-02 18:45] graudeejs opened #243 "Broken on Padrino + ActiveRecord."
I've had weird things happening.
I was experimenting with Padrino framework Padrino + Sequel + rspec + sqlite3. Tests worked.

Then I dumped sequel and switched to ActiveRecord.
Everything was fine until I started writing/running tests.

I got this error
[code]

I don't use PostgreSQL, so something is obviously wrong.
I started downgrading database_cleaner and v1.0.1 was the last release that work

[2013-09-11 13:41] hannesfostie opened #245 "Strange rails4 + establish_connection issue"
Hey

I'm sorry if this is described vaguely, I'm afraid we haven't been able to pinpoint the problem yet.

Situation is as follows:

- We have a legacy database for a number of our models. We connect to this using `establish_connection` in the models and also use `self.table_name_prefix` to change the table name.
- We set up database_cleaner to use different strategies for this database (I honestl

[2013-09-16 14:45] etagwerker opened #246 "NotImplementedError with ActiveRecord and :truncation strategy"
Hello,

I am currently getting a `NotImplementedError` when trying to use ~~master~~@tommeier's `fix-superclass` branch.

[code]

My current environment uses:
- activerecord (3.0.20)
- mysql2 (0.2.18)
- ohm (1.3.2)
- redis (3.0.4)

The problem is with the `active_record` truncation strategy.

My env.rb looks like this:

[code]

@bmabey @tommeier any thoughts?

Thanks!

[2013-09-29 00:35] #229 closed, assigned to nobody

[2013-10-09 15:37] #224 closed, assigned to nobody

[2013-11-03 23:38] #246 closed, assigned to nobody

[2013-11-15 11:47] srikanthkurni opened #251 "Use connection info from ActiveRecord::Base.configurations instead of database.yml for consistency"
Rails loads the database connection info from database.yml file into a hash accessible by `ActiveRecord::Base.configurations`. All subsequent `ActiveRecord::Base.establish_connection` picks the data from the `ActiveRecord::Base.configurations` hash.

Whenever we do `DatabaseCleaner[:active_record,{:connection => :another_database}]` the connection info is picked from the database.yml instead of `A

[2013-11-19 00:08] sideb0ard opened #252 "postgres migration"
I'm migrating a Jruby/Rails app from mysql to postgres, and now when trying to run my rspec tests, when it gets to the DatabaseCleaner steps, it bombs out with:

ActiveRecord::StatementInvalid: ActiveRecord::JDBCError: org.postgresql.util.PSQLException: ERROR: permission denied: "pg_statistic" is a system catalog: ALTER TABLE "pg_statistic" ENABLE TRIGGER USER;

I see a similar error in the postgr

[2013-11-19 00:45] #252 closed, assigned to nobody

[2013-12-03 06:01] #251 closed, assigned to nobody

[2013-12-28 21:18] #234 closed, assigned to nobody

[2014-01-23 21:31] ethco opened #256 "Sequel in JRuby doesn't clean"
In Jruby, sequel's connection pool isn't using the same connection for database cleaner and the rest of the testing, so the transaction is not doing anything.

This is due to a jruby bug, not a db cleaner bug ( http://jira.codehaus.org/browse/JRUBY-7081 ) which is causing the fiber db cleaner is using to start the transaction to have a different Thread.current than its context.

I can work around

[2014-02-01 13:42] kirtithorat opened #258 "Gettinng error as NoMethodError:undefined method 'cleaning'"
I included database_cleaner gem in my rails app sourced from RubyGems.org. Followed the example given on this git repo and included the following code in spec_helper :

  config.before(:suite) do
   DatabaseCleaner.strategy = :transaction
   DatabaseCleaner.clean_with(:truncation)
  end
  config.around(:each) do |example|
   DatabaseCleaner.cleaning do
    example.run
   end
  end
When i run the r

[2014-02-03 14:38] sockmonk opened #259 "Broken with oracle_enhanced because of bad syntax in delete statement"
Using activerecord-oracle_enhanced-adapter (1.4.2) and database_cleaner 1.2.0, I get this error:

ActiveRecord::StatementInvalid:
       OCIError: ORA-00911: invalid character: DELETE FROM "EMPLOYMENTS";

I don't think it likes the semicolon at the end. The last version of database_cleaner I've been able to get to work reliably has been 0.9.1. I think an issue with earlier versions was it trying t

[2014-02-04 08:27] zekefast opened #260 "Need to fix README file, because of absent DatabaseCleaner.cleaning method"
Version: 1.2.0

In `RSpec` example showed `DatabaseCleaner.cleaning` method in around filter. `.cleaning` method is absent in latest versions. So, example need to be changed to similar for Minitest.

[2014-02-11 17:19] #188 closed, assigned to nobody

[2014-02-11 17:20] #187 closed, assigned to nobody

[2014-02-14 19:15] jerico-dev opened #261 "Version 1.1.0 breaks Rails 2.3 compatibility"
is this intentional? See changes to truncate strategy, Rails 2.3 does not have an AbstractMysqlAdapter

[2014-03-05 03:45] #259 closed, assigned to nobody

[2014-03-22 15:59] harlow opened #263 "Travis-CI trying to load active_record instead of sequel gem"
I'm not using Active Record in the project. Only the Sequel gem.

Any ideas?

[code]

[2014-03-22 19:45] #260 closed, assigned to nobody

[2014-03-31 01:29] mockdeep opened #264 "Add a way to see which strategy is in use?"
I've been trying to debug my tests and wanted to see which strategy was in use. Turns out I was under the mistaken belief that I was using transaction for everything but the integration specs, and truncation for those. At any rate, in order to debug, I needed to do this:

[code]

It would be nice to have something like:

[code]

[2014-05-22 09:36] muichkine opened #268 "Not working with Pg 9.3 / ruby 2.1.2"
Hello,
    I've updated my environnment with postgresql 9.3 and ruby 2.1.2 and now:

avril14th@avril14th-ubuntu:~/src/mypopdesign/trunk$ rails c
Loading development environment (Rails 4.0.4)
2.1.1 :001 > DatabaseCleaner.clean
 => [#<DatabaseCleaner::Base:0x00000003b74ca8 @orm=:active_record, @strategy=#<DatabaseCleaner::ActiveRecord::Transaction:0x00000003b67440 @db=:default, @connection_class=Act

[2014-05-23 07:13] tborisova opened #269 "ftfffrgh233w2w33"

[2014-05-23 07:14] #269 closed, assigned to nobody

[2014-05-28 23:11] batter opened #271 "Version 1.3.0 breaks Ruby18 compatibility"
@dmitry pointed this out to me in airblade/paper_trail#372.  I realize that 8e448be is meant to deprecate Ruby18 support but it seemed to work fine (at least with our Travis CI build setup) with Ruby18 until 1.3.0 was released.  Looks like [this line is the culprit](https://github.com/bmabey/database_cleaner/blob/master/lib/database_cleaner/active_record/transaction.rb#L22), since it uses the new

[2014-05-30 13:42] coreyhaines opened #272 "Add License information to gemfile"
This will make it show up on rubygems.org. I'm doing due diligence on our gems and need to find out the licenses for all the gems. Having it show up on rubygems.org cuts out the step of having to go to the github repo.

[2014-06-01 15:32] steookk opened #273 "truncation in capybara tests results in rspec freezing (while deletion works)"
I found out that this code (necessary to truncate in case we are testing with capybara) makes RSpec freeze right after running capybara tests, while the same code with :deletion strategy works smoothly.
[code]
As a matter of fact, the following code works for truncation, which makes me think that DatabaseCleaner.start must be run for truncation as well.
[code]
I don't know whether this is a bug or

[2014-06-12 18:44] floydj opened #275 "Failing specs after upgrade from 1.2 to 1.3"
I have a few features that require large amounts of data to be loaded into the test db before they're run.  I have tagged these specs as "slow".  What I'm trying to accomplish is that any feature spec tagged as "slow" will populate the db just once, use it for all specs in that feature and then clean the entire db after that feature is complete.

I have the following in my rails app, which works f

[2014-06-25 21:47] pisaruk opened #280 "DatabaseCleaner fails to honor strategy options(:only, expect) for non javascript cucumber scenarios"
Let suppose your features/support/env.rb has the following database_cleaner config:

[code]

You will notice that after running any javascript scenario every table, including the ones in the except options, will have been truncated.

One workaround would be to change your configuration, setting `javascritp_strategy`:

[code]

I am quite convinced that it is a bug in cucumber-rails, because it is [

[2014-09-16 07:30] ksudheer opened #289 "cleaning functions too"
i created a function strip_tags though migration.
when i run tests, i think database cleaner clearing functions too?
How can i exclude database function deletion.

[2014-09-18 20:05] JDutil opened #291 "Rails 4.1.6 and 4.0.10 regressions with DatabaseCleaner 1.3.0"
We're experiencing issues with database cleaner not properly working after upgrading rails to latest releases on the https://github.com/spree/spree/ project.  I've been trying to dig into finding a solution, but haven't come up with much yet.  Will update with more info if I find out more.

[2014-09-18 20:16] #291 closed, assigned to nobody

[2014-10-08 03:22] clownba0t opened #293 "MySQL truncation with pre_count: true truncates unused tables in certain situations"
I use a single MySQL installation for the development and testing of a Rails project, which contains both the development and test databases for the project. Naturally, both of these databases have the same tables. Most of my development database tables are populated with data.

I have quite a few tables, so I decided to set database cleaner to use the `truncation` strategy with 'conditional' trun

[2014-10-15 23:08] stevedowney opened #294 "What databases get cleaned with multiple entries in database.yml?"
I apologize for not being able to answer my own question by looking at the source...

Short version: are any tables affected by `database_cleaner` other than those in the database specified by the `test` key in `database.yml`?

Longer version:

Using Rails/ActiveRecord I have the standard `development`, `test`, and `production` entries in my `database.yml`; in addition I have another database that

[2014-11-10 14:11] takashi opened #295 "Got weird error with multiple ORM's in master branch"
I got `The 'truncation' strategy does not exist for the mongoid ORM!  Available strategies: truncation (DatabaseCleaner::UnknownStrategySpecified)`

in my spec_helper

[code]

Then I changed my gem file

`gem 'database_cleaner', github: 'DatabaseCleaner/database_cleaner'` to `gem 'database_cleaner', '~> 1.3.0'`,  the error never occurred.

Is there any bug in master branch?

[2014-11-19 09:30] cema-sp opened #296 "Better cleaning method"
Hello!
In `cleaning` method in `database_cleaner/lib/database_cleaner/generic/base.rb` you have:
[code]
There is recommendation in `factory_girl_rails` gem on adding linting like this:
[code]
So I thought that it would be nice to define `cleaning` method in that style for better error tolerance and for database to be cleaned anyway after partly executed `yield`:
[code]

[2014-11-27 20:31] ekampp opened #299 "The 'truncation' strategy does not exist [...] Available strategies: truncation"
Hi everybody. As the title suggests there seems to be a bit of a missmatch in the way that mongoid strategies are determined in the current master.

This is the full error message ([which is raised from here](https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/base.rb#L137)):

[code]

And as you can see, "truncation" appears on the list of available strategies. I t

[2014-12-01 16:30] dpisarewski opened #301 "Failing specs/features"
I get 12 failures in rpes and 19 failures in cucumber. ActiveRecord::ConnectionAdapters::MysqlAdapter, DataMapper::Adapters::SqliteAdapter and Mongoid::Config:Module seem to be broke. I guess everyone can reproduce them since travis ci outputs same results.

[2014-12-10 15:14] #123 closed, assigned to nobody

[2014-12-11 03:33] tranvictor opened #305 "I got rspec errors with active record configuration"
[code]

There is `db/sample.config.yml` but in the `spec/support/active_record/database_setup.rb`, it loads `db/config.yml`, is that a mistake? Should it be `db/sample.config.yml`?

[2014-12-11 12:14] #305 closed, assigned to nobody

[2014-12-11 12:15] #301 closed, assigned to etagwerker

[2014-12-11 12:21] #239 closed, assigned to nobody

[2014-12-11 12:22] #256 closed, assigned to nobody

[2014-12-11 12:41] #294 closed, assigned to nobody

[2014-12-11 15:17] etagwerker opened #307 "Roadmap to 2.0.0"
Hey @DatabaseCleaner/owners

First of all I wanted to thank all the contributors for their amazing work.

Secondly, I wanted to start a discussion about `database_cleaner` version 2.0.0.

I can't find the discussion, but I'm _pretty sure_ @bmabey, other contributors and I talked about this in the past.

What if we refactored `database_cleaner` into smaller gems? For example: `database_cleaner_acti

[2014-12-13 06:25] wendy0402 opened #309 "problem to clean database when change config"
Hi, previously I got a problem here. so before I tried to configure the database cleaner in my rspec(I am using activerecord).
the code as below:

[code]

but it doesn't work. and after I trace it, I found out my problem. It is because I change my db config in the run time and when database cleaner configuration using connection instead of model, by default it tried to search configuration from `d

[2015-01-05 02:00] TimMoore commented on #299
I'm also getting this error in my app after updating from database_cleaner 1.3.0 to 1.4.0.

The backtrace is:

[code]

and the code invoking DatabaseCleaner is:

[code]

[2015-01-05 02:11] TimMoore commented on #299
It looks like this is in turned caused by a (swallowed) load error when requiring `database_cleaner/mongoid/truncation.rb`:

[code]

Looks like that snuck in (accidentally?) in commit 61feda02e0999a684951f2afb6746fd2ddf814f4. We're still on Mongoid 3.1.6, and that `mongoid/tree` file is not present in that version.

[2015-01-05 02:13] TimMoore commented on #299
Hmm... `mongoid/tree` isn't in Mongoid master either... seems to be a [separate gem](https://github.com/benedikt/mongoid-tree). Typo?

[2015-01-05 06:58] nepalez opened #317 "v1.4.0 cleans the 'schema_migrations'"
It seems, in v1.4.0 the cleaner cleans the 'schema_migrations' table as well.

This causes the next db migration to break, because the migration task tries to duplicate old migrations from the very beginning.

[2015-01-05 10:03] dbackeus commented on #299
+1

Get the same error with the following in spec_helper.rb:

[code]

[2015-01-05 10:44] lucke84 commented on #299
+1

After upgrading from 1.3.0 to 1.4.0:

[code]

[2015-01-05 12:52] balauru commented on #299
Same issue here.

My config file is:

[code]

Error stack is:

[code]

[2015-01-05 13:39] geoffharcourt commented on #317
I'm seeing the same behavior in my app in Rails 4.1.

[2015-01-05 13:47] enthrops commented on #317
Confirming on Rails 4.2

[2015-01-05 14:47] gurix commented on #295
duplicate of #299

[2015-01-05 15:58] bdarfler commented on #317
Confirmed on Postgres/ActiveRecord/Rails 4.1. It seems that the logic now requires the full `database.table` notation to work properly. A work around would be to add `except: %w[public.schema_migrations]` but obviously this should be fixed. It also impacts anyone trying to prevent `spatial_ref_sys` from being truncated.

[2015-01-05 18:20] celsoMartins commented on #299
The same here, with Sinatra. My spec_helper

require 'rspec'
require 'rack/test'
require 'simplecov'
require 'database_cleaner'
require 'json_spec'

require File.dirname(__FILE__) + '/../application'

SimpleCov.start

Sinatra::Base.set :environment, :test
Sinatra::Base.set :run, false
Sinatra::Base.set :raise_errors, true
Sinatra::Base.set :show_exceptions, true
Sinatra::Base.set :logging, false

[2015-01-06 00:53] uno4ki commented on #317
Yeah, nasty bug.
Confirmed on 4.2 with postgres, ```public.*``` is a lifesaver

[2015-01-06 23:47] wli opened #321 "Update changelog for 1.4.0"
The History.rdoc file still has changes in 1.4.0 under development(master), so it's hard to tell what changed from 1.3.0 -> 1.4.0, versus what's actually under development.

https://github.com/DatabaseCleaner/database_cleaner/blob/master/History.rdoc

[2015-01-07 11:00] seban commented on #275
Have simmilar problem. My project Sinatra + ActiveRecord + RSpec after upgrade to 1.3 / 1.4 start failing with missing savepoint error.
My configuration is copy-pasted from README

[code]

Any hints?

[2015-01-07 14:32] mrmylanman opened #322 "UnknownStrategySpecified: The 'truncation' strategy does not exist for the mongoid ORM! Available strategies: truncation"
Hello,

Thanks for this gem, I have used it a lot in Rails and am a big fan. I recently started a project that is somewhat simple so I decided using Grape as a standalone might be best, so I set it up and then worked on configuring rspec.

My `spec_helper.rb` file looks like this:

[code]

When I run rspec, I get the following error:

[code]

I have also tried just leaving the strategy out, but it

[2015-01-07 16:33] raphaelcosta commented on #317
Same here with Rails 4.2

[2015-01-07 19:47] tagliala commented on #322
It should be a duplicate of #299

[2015-01-07 20:05] mrmylanman commented on #322
Thanks, I'll look into that issue.

[2015-01-07 20:05] #322 closed

[2015-01-07 20:10] tagliala commented on #322
You're welcome, I'm experiencing the same issue :)

[2015-01-07 20:42] #299 closed

[2015-01-07 22:16] felipero commented on #317
+1

[2015-01-07 22:50] iangreenleaf opened #323 "Mongoid truncation broken in 1.4.0"
[code]

Seems to be a regression in 1.4.0. The 1.3 series is working fine.

[2015-01-08 11:33] thefron commented on #323
:+1:
I'm experiencing the same issue after updating the gem.

[2015-01-08 16:28] lilfaf commented on #317
:+1:

[2015-01-08 19:15] jonallured commented on #317
I recently upgraded to Rails 4.2 and mistakenly thought that had something to do with my `schema_migrations` table was getting truncated after cucumber runs. I eventually found this issue and I tried the work around of using the `except` option, but that didn't work.

I ended up downgrading to v1.3.0 for the time being, but I also cloned down the project and ran the tests. Everything is passing an

[2015-01-08 19:30] steveo7 commented on #323
Same here.

[2015-01-09 03:23] axlekb commented on #321
:+1:

[2015-01-09 12:41] etagwerker commented on #321
@wli If you submit a PR with 1.4.0's detail I'd be happy to review it and merge it.

Here is the information: http://databasecleaner.github.io/2014/12/17/v1-4-0-is-out/

Thanks!

[2015-01-09 21:33] dhf0820 commented on #323
Rolled back to 1.3.0 and works fine. 1.4.0 is broken as above.

[2015-01-09 22:34] jonallured commented on #317
I'm new to the internals of this library, so I spent some time reading through things this afternoon and something that stood out to me was the lack of outer loop testing for truncation and the `schema_migrations` table. What I was looking for was a test that migrates the database, truncates and then asserts about the state of the `schema_migrations` table, but I couldn't find a test like that. If

[2015-01-10 20:01] kiddrew opened #325 "NoORMDetected"
I have a clean install of database_cleaner 1.4.0 on Rspec 3.1.0 with Capybara 2.4.4 and I'm getting the following error:

    /Users/andrew/.rvm/gems/ruby-2.1.1/bundler/gems/database_cleaner-1b2eda6615f5/lib/database_cleaner/base.rb:149:in `autodetect': No known ORM was detected!  Is ActiveRecord, DataMapper, Sequel, MongoMapper, Mongoid, Moped, or CouchPotato, Redis or Ohm loaded? (DatabaseCleane

[2015-01-10 21:52] PeterMozesMerl opened #326 "1.4.0 except is broken"
I have the following lines in my rails_helper.rb

[code]

When I upgraded to 1.4.0 my Capybara features failed. The rails console test shows:

[code]

Downgrading to 1.3.0 solves the issue.

Rails 4.2, Ruby 2.1.5, Postgresql 9.4

[2015-01-12 15:58] windy commented on #323
I am just addd ` gem 'mongoid-tree' ` in my Rails Gemfile. it's ok now.
You can try this .

[2015-01-12 19:52] dkastner commented on #326
I can confirm:

[code]

Test error:

[code]

[2015-01-13 11:09] vrinek commented on #321
PR has been merged. Thanks!

[2015-01-13 11:09] #321 closed

[2015-01-13 11:15] vrinek commented on #325
@kiddrew, which version of Rails are you using? Could you also paste your Gemfile.lock here (if possible)?

[2015-01-13 16:35] kiddrew commented on #325
Hi @vrinek.  I unfortunately don't have my environment in the state it was in when I saw that issue, and I have somehow fixed it.  I wish I knew exactly what I did.  =)

I'll close for now and reopen if I see the issue again.

[2015-01-13 16:35] #325 closed

[2015-01-13 18:36] mmclead commented on #326
Having same issue.

[2015-01-14 18:31] oniofchaos commented on #317
Confirming on Rails 4.2. Had the issue with v1.4.0, downgraded to v1.3.0 and it went away.

[2015-01-15 04:42] bpeicher opened #330 "Database Cleaner starting too soon"
I'm having an issue with truncation happening in the middle of an integration test. It deletes test records, and then test continues on until an ActiveRecord:NotFound occurs. Excerpt from log pasted below.

[code]

Here is how database cleaner is being invoked in minitest:

[code]
Strange - any ideas?

[2015-01-15 06:19] karpah commented on #273
Unfortunately nothing here has fixed the problem in my app.

The test running sits there doing nothing, and when I start a Postgres console and check the `pg_stat_activity` table, I see the two connections sitting there, one active and one idle in transaction doing nothing. I don't know what's going on.

[2015-01-15 12:25] DonGiulio commented on #323
adding `gem 'mongoid-tree'` works for me too, if it's a required gem it should be documented.

thanks

[2015-01-15 13:54] lucashungaro commented on #273
@karpah Can you paste your spec_helper here?

[2015-01-16 13:12] kikonen-fiksu opened #331 "Option to not do RESTART IDENTITY in truncate"
Add option to not "RESTART IDENTITY" in truncate mode

Reason:
- Sequence needed to be used as id for external data storage, and same id cannot be thus reused in subsequent tests
- Tests are creating new partition tables, which are use ids from master tables in their names, thus ids cannot be reused in tests (since truncate can't remove this partition tables).

[2015-01-18 17:32] odigity commented on #317
Same here.  (Rails 4.2, PostgreSQL 9.3)

Decided to fix it by using except:

    DatabaseCleaner.strategy = :truncation, {except: %w[public.schema_migrations]}

Found out the hard way that 'schema_migrations' won't work without prefixing it with 'public.', so thanks for that tip, @bdarfler.

[2015-01-19 18:36] philostler commented on #326
+1 Same issue here as well

[2015-01-20 16:52] jwallerf commented on #326
Having the same issue also.

[2015-01-21 00:23] ahorek opened #332 "1.4.0 breaks mysql2 + jRuby support"
=> from database_cleaner/active_record/deletion.rb
[code]

MRI:
[["attachment_versions"], ["attachments"], ["comments"]]
result.first[0] => "attachment_versions"

jRuby:
[{"table_name"=>"attachment_versions"}, {"table_name"=>"attachments"}, {"table_name"=>"comments"}]
result.first[0] => nil => fails!

[2015-01-21 15:19] airatshigapov commented on #273
I am experiencing the same issue:

This config causes specs to freeze:

[code]

Example provided by @lucashungaro fixes the issue, however I'm not sure why this happens. Any ideas?

[2015-01-21 18:34] lucashungaro commented on #273
@airatshigapov It's probably an issue with around filters not working properly, so the transactions are never closed.

[2015-01-23 00:01] daqo commented on #317
Same for me. Any fix?

[2015-01-24 20:12] raphaelcm commented on #299
Has a new gem been released with this fix?

[2015-01-24 20:42] NafaaBout commented on #317
Same here.

[2015-01-24 20:47] NafaaBout commented on #317
@odigity I tried your fix but it does not work.

[2015-01-24 20:51] NafaaBout commented on #317
I just downgrade to 1.3.0.

[2015-01-24 21:19] odigity commented on #317
@NafaaBout Here are the exact contents of my lib/tasks/db.rake file:

    namespace :db do
      desc 'deletes all data in all tables'
      task empty: :environment do
        DatabaseCleaner.strategy = :truncation, {except: %w[public.schema_migrations]}
        DatabaseCleaner.clean
      end
    end

Which runs when I execute `rake db:empty`.

[2015-01-25 21:36] jonallured commented on #317
Has anyone made any progress on this one? I should have some time this week to work on it, but didn't want to duplicate efforts.

Thanks!
Jon

/cc @etagwerker @bmabey @vrinek @JonRowe

[2015-01-25 22:12] daqo commented on #317
For now, just downgrade to version 1.3.

—
David Qorashi

On Sun, Jan 25, 2015 at 4:36 PM, Jon Allured <notifications@github.com>
wrote:

[2015-01-25 22:36] foton commented on #330
I have the same issue. Could not find what triggered truncation in cucumber test. After crossing all buy-checkout procedure, something starts truncating before test is finished.

Side effect of experiments is that I found that 'sleep' of any lengtht in controller will start truncating procedure.

[2015-01-26 17:03] bpeicher commented on #330
My issue was related to the minitest_bang gem. Reading my test log, I noted that anything running before truncation began was being created using let!(). This occurs immediately when test begins, prior to any before blocks. Therefore, when the pre-test truncation ran in the before block, it was erasing everything created by let!(). I resorted to removing the bang and using let(), manually invoking

[2015-01-26 17:03] #330 closed

[2015-01-27 10:19] gurix commented on #307
I like the idea of seperating gems into multipe pieces because ....
* if you use multiple ORM's and don't want to clean all, you have to be carefull now. Seperating could so help avoid to clean accidently a legacy system.
* The releases for different ORM's could be faster. i.e, 1.4 is broken for mongoid just because a small typo, it's fixed on github but there is no hotfix 1.4.1. With dedicated ge

[2015-01-27 10:24] shingara commented on #299
:+1: to new gem release

[2015-01-27 15:01] Supro commented on #326
Got this problem after migrating to database_cleaner version 1.4.0

[code]

[code]

[2015-01-28 02:04] ka8725 commented on #273
May be this solution will help you: https://github.com/jnicklas/capybara/issues/1089#issuecomment-71767918

[2015-01-28 09:33] shelling commented on #317
confirm on rails 4.1.9

[2015-01-28 11:57] awsmsrc commented on #323
just adding a +1 here

[2015-01-29 09:30] volodymyr-mykhailyk commented on #323
this bug should be fixed by this commit:
https://github.com/DatabaseCleaner/database_cleaner/commit/88479b71c9b4b82872fc037d54a26128edab6b7f

[2015-02-05 05:56] Elyasin commented on #299
:+1:  to new gem release

[2015-02-09 08:12] tranvictor opened #339 "database_cleaner should provide a way to configure to clean Mongoid session"
database_cleaner cleans only default session of Mongoid now. What about other sessions. Since Mongoid supports multiple sessions, database_cleaner should do so too.

Something like:
[code]

[2015-02-09 14:07] skyeagle commented on #326
It looks like for Rails 4.2 these options should include schema. For example:

[code]

[2015-02-09 14:42] etagwerker commented on #317
While we work on a solution to this, I see two workarounds:

Either

[code]

or

Downgrade to 1.3.0

Thanks for your contributions!

[2015-02-10 15:41] alecslupu commented on #123
I have encountered the problem myself in a Rails 3.2 + Rspec 3 environment. Changing my rails_helper.rb to :

`  config.use_transactional_fixtures = false `

solved my problems.
A

[2015-02-11 17:49] kai-kuchenbecker commented on #268
You have to define a strategy before running clean.
[code]
Or `DatabaseCleaner.clean_with(:truncation, except: %w(public.schema_migrations))`

Both works for me.

[2015-02-17 17:02] doofdoofsf commented on #299
:+1: to the gem release

[2015-02-20 15:33] tranvictor opened #341 "Failed test on master"
[code]

[2015-02-20 19:09] AntonTrapp commented on #299
:+1: to the gem release

[2015-02-21 16:58] robertomiranda commented on #299
Downgrading to '1.3.0' works for me

[2015-02-21 22:33] #317 closed

[2015-02-21 22:34] etagwerker commented on #341
Fixed, thanks!

[2015-02-21 22:34] #341 closed

[2015-02-21 23:01] geoffharcourt commented on #317
@etagwerker, thanks! Any chance we can get a 1.5.0 release with the fix?

[2015-02-21 23:03] etagwerker commented on #317
Could you check that it's working correctly by using `master`? If everything is alright I can release 1.4.1 soon.

[2015-02-21 23:06] geoffharcourt commented on #317
Master is able to run specs on Rails 4.2 without messing up the `schema_migrations` table. Thanks again.

[2015-02-22 01:19] daqo commented on #317
The fix works perfectly.

[2015-02-23 17:17] PWKad commented on #299
Same -
`  gem 'database_cleaner', '~> 1.3.0'`
Fixed error

[2015-02-25 17:47] lucke84 commented on #299
Going back to `1.3.0` does fix the issue, it makes sense though to release a new version of the gem, should not be a big deal :)

[2015-02-26 19:39] claptimes5 commented on #198
I believe this is still and issue and should be reopened. I had issue #273 as well and was able to hack a solution by closing open transactions before deleting or truncating my tables

https://github.com/claptimes5/database_cleaner/commit/347b74b2ae2554e970ff3e9a5f63c3a6a4282f22

This should be taken care of in the `Transaction ` `clean` method, but I haven't had time yet to determine  a solution.

[2015-02-26 19:40] claptimes5 commented on #273
I believe this is an issue with the transactions not being closed. I had an issue deletion and truncation and was able to hack a solution by rolling back open transactions before deleting or truncating my tables

https://github.com/claptimes5/database_cleaner/commit/347b74b2ae2554e970ff3e9a5f63c3a6a4282f22

This should be taken care of in the `Transaction ` `clean` method, but I haven't had time y

[2015-02-27 23:21] DexterTheDragon commented on #273
I'm having the same experience that @lucashungaro mentions. Using an `around` hook ends up causing rspec to hang. Switching to a `before` and `after` hook works fine.

[2015-02-28 19:38] raphaelcm commented on #299
Who's the maintainer of this Gem? Any word on when we can expect a new version?

[2015-02-28 20:32] etagwerker commented on #299
@raphaelcm I'm one of the maintainers. I will release a new version soon.

In the mean time, could you confirm that it's working fine using `master`?

[2015-02-28 20:46] raphaelcm commented on #299
Confirmed with:

[code]

Using `rspec (3.2.0)` and `mongoid (3.1.6)`

[2015-03-02 14:20] mindreframer commented on #323
please release a new version without the dependency on mongoid-tree, it's been 2 months already since this issue is known.

thx!

[2015-03-02 14:33] onebree opened #342 "Configure threading and cleaning opts for database_cleaner"
**Rails 4.2.0, RSpec 3.1/2.13, Ruby 1.9.3**
**mysql2 0.3.17, database_cleaner 1.4.0/1.2.0**

I have been having an issue. When running my tests via RSpec, some will randomly fail due to a Mysql2 gem error, that the thread is already in use. A contributor on the gem's repo said that database_cleaner may be using the same thread as mysql2 -- data cannot populate as database_cleaner is in the middle

[2015-03-03 08:57] vitalis commented on #323
:+1:

[2015-03-03 09:51] lucke84 commented on #323
I believe this is the same as https://github.com/DatabaseCleaner/database_cleaner/issues/299, where @etagwerker just promised a new release. Maybe this one can be closed.

[2015-03-04 17:18] thomasfedb commented on #326
Same issue here. The suggestion above from @skyeagle resolved the problem in my case.

[2015-03-07 10:04] mehmetdavut commented on #317
@odigity thanks, it works :+1:

[2015-03-09 13:05] fbernier commented on #299
I confirm master is working as expected.

[2015-03-09 14:53] etagwerker commented on #326
Has anyone tested this issue with `master`? I believe that it's been fixed with PR #328. Please confirm.

[2015-03-10 01:36] TangMonk commented on #299
I rollback to 1.3.0, worked.

[2015-03-10 16:28] etagwerker commented on #299
@fbernier Great! So it should be working on `1.4.1` (released yesterday)

[2015-03-10 18:53] onebree commented on #342
Closing because I simply removed the `database_cleaner` gem, and am working with RSpec's transactional fixtures.

[2015-03-10 18:53] #342 closed

[2015-03-10 21:06] philss commented on #326
@etagwerker I tested against version 1.4.1 and it works! Thanks!

[2015-03-11 11:29] coorasse opened #345 "column "table_rows" does not exist"
Just use database_cleaner with Postgres and `DatabaseCleaner.strategy = :deletion`.
Version 1.4.1 is affected, version 1.4.0 I don't know. Version 1.3.0 is working fine.

[2015-03-12 08:09] AntonTrapp commented on #299
1.4.1 working for me. TNX!

[2015-03-12 11:00] lucke84 commented on #299
1.4.1 works for me too. Thanks!

[2015-03-14 08:09] graaff opened #347 "ActiveRecord Mysql2 SelectiveTruncation method is unreliable"
The SelectiveTruncation strategy (where database_cleaner looks at "table_rows" in the information_schema) is always applied with a combination of ActiveRecord and Mysql2 adapter. Unfortunately this strategy is unreliable because table_rows is not guaranteed to be accurate. I'm using MariaDB 10.0.16 and I currently have a cucumber javascript scenario where this happens fairly predictably (can't sha

[2015-03-14 14:09] etagwerker commented on #347
@graaff It's a good point.

We have a method to check for row count. If that doesn't work we use AUTO_INCREMENT. See: https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/active_record/truncation.rb#L70

In the scenario that you're describing, [row_count](https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/active_record/truncation.rb

[2015-03-15 15:28] graaff commented on #347
I see now that I forgot to mention that I am using the :deletion strategy. There the SelectiveTruncation method uses the information_schema to determine row_count. The row_count method in truncation.rb looks like it should work since it uses plain SQL, rather than internal MySQL information.

[2015-03-17 03:15] paulwalker opened #348 "MongoDB command used to get collections deprecated in 3.0"
http://docs.mongodb.org/manual/reference/system-collections/

need to use listCollections command in 3+.

http://docs.mongodb.org/manual/reference/command/listCollections/#dbcmd.listCollections

[2015-03-18 08:43] sebyx07 opened #350 "Mongoid 4.0"
i get this error when i try to run my specs
i'm using mongoid 4.0

    /home/sebi/.rvm/gems/ruby-2.2.0/bundler/gems/database_cleaner-bb608dd3ac6b/lib/database_cleaner/mongoid/truncation.rb:30:in `session': undefined method `default_session' for Mongoid:Module (NoMethodError)

    from /home/sebi/.rvm/gems/ruby-2.2.0/bundler/gems/database_cleaner-bb608dd3ac6b/lib/database_cleaner/moped/truncation_b

[2015-03-19 18:37] uhomira commented on #350
Database-cleaner work for me with Mongoid 4 (4.0.0 and 4.0.2) as at 1.4.1 and as 1.3.0.
Are you using master branch?

[2015-03-19 20:00] sebyx07 commented on #350
thanks, it works now

[2015-03-19 20:00] #350 closed

[2015-03-25 14:02] tobypinder opened #351 "Possibly excessive transaction count with ActiveRecord"
I am using a standard `:transaction` DatabaseCleaner block with rspec:

[code]

When trying to profile the queries in the test suite, I noticed there was a large number of COMMIT statements: one for each test, and equivalent to the ROLLBACK query count. After digging, it seems the strategy runs a blank transaction in the DatabaseCleaner#begin block: https://github.com/DatabaseCleaner/database_clea

[2015-03-28 13:03] ryanong commented on #345
This happens to us also. I think it may have something to do with the way schema_plus interacts with database_cleaner

[2015-03-29 10:10] coorasse commented on #345
No scherma plus for me.

[2015-04-02 18:17] guiltry commented on #280
My data still truncated, what am I supposed to do?

[2015-04-02 21:06] larryh commented on #326
Hi,

It's not working for me in v1.4.1. (Rails 4.0.5 and MySQL and Cucumber)

This is what I have in my features/support/database_cleaner.rb file:
DatabaseCleaner.strategy = :truncation, { except: %w(activities notifications), pre_count: true }

And here are some lines from the test.log file:

  [1m[35m (9.4ms)[0m  TRUNCATE TABLE `activities`;
  [1m[36m (3.5ms)[0m  [1mTRUNCATE TABLE `activi

[2015-04-03 13:06] carsonreinke commented on #347
Also, it should be noted that MySQL states that `table_rows`: "For InnoDB tables, the row count is only a rough estimate used in SQL optimization." [http://dev.mysql.com/doc/refman/5.5/en/tables-table.html]

[2015-04-13 23:23] joshco commented on #317
I just ran into this too.  1.4.1 fixes it

[2015-04-16 08:20] boddhisattva opened #355 "JS related config setup info in README when using Database cleaner with RSpec"
As per the latest database_cleaner gem do we need any additional config setup for JS tests ? This [blog by Avdi Grimm](http://devblog.avdi.org/2012/08/31/configuring-database_cleaner-with-rails-rspec-capybara-and-selenium/) for e.g., talks about  how they'd handle things differently when using Database cleaner for tests that involve JS. I do see that this blog is almost 3 years old but the current

[2015-04-27 20:19] michaelachrisco commented on #325
I have an update on this issue:
[code]

My spec_helper.rb looks like:
[code]

This error only occurs if you have no tests in rspec:
[code]

One or more tests:

[code]

Then:
[code]

Just wanted to leave this here in case anyone else is getting this error.

[2015-04-29 13:22] adrianotadao commented on #299
1.4.1 works well. Thanks a lot

[2015-04-30 15:22] kbeckman opened #357 "Version 1.4.0 and Version 1.4.1 Have Same rubygems.org Publish Date"
I noticed this issue when we were troubleshooting our codebase against the schema_migrations fix found on [Issue 317](https://github.com/DatabaseCleaner/database_cleaner/issues/317). We had version 1.4.0 in our codebase and checked the date on the [issue fix](https://github.com/DatabaseCleaner/database_cleaner/commit/e5fe109bed5afc6f3f3341608e8ab3bbe045ba08) (PR merged 2/21/2015) with the publish

[2015-05-11 13:21] prashanthsams commented on #325
Facing similar issue :( I don't think this is the fix

[2015-05-11 22:19] ardavis commented on #280
I am also encountering this issue, is anyone else? I am using the #javascript_strategory method and passing in `except` options.

[2015-05-12 02:30] guiltry commented on #280
@ardavis you can manually delete selected table with hooks.
I've write a short article about it.

http://blog.guiltry.com/cucumber-and-database-cleaners-only-and-except-options/

[2015-05-14 23:37] tgaff commented on #273
Experiencing same behavior.  My config looks very much like airatshigapov's and I can confirm that dropping the `around` block in favor of `before` and `after` seems to resolve the issue.  The hang reported as a db deadlock in sqlite.
rails 4.2.1 + database_cleaner 1.4.1 + capybara 2.4.4 + rspec 3.2.3

[2015-05-21 10:20] Fryie opened #361 "Deletion strategy not clearing indices for some mysql clients"
We switched from truncation to deletion for a project of ours because for some reason truncation was incredibly slow on some clients (apparently [this has been observed before](https://groups.google.com/forum/#!topic/ruby-capybara/8LLxs4BGV-E)).

Unfortunately, on some machines this breaks the tests because mysql is complaining about a duplicate index. So to me this suggests that the indices are n

[2015-05-22 05:55] redross commented on #361
Have something similar.
When using `DatabaseCleaner.clean_with(:deletion)`, some records are not deleted. Looking at why this happens I see that:
`DatabaseCleaner::ActiveRecord::SelectiveTruncation#tables_with_new_rows` tries to select which tables should be deleted. But since `information_schema.tables` table only has "estimates of row sizes" the query:
[code]
doesn't return some tables that do h

[2015-05-24 16:58] RyanVasichko commented on #273
I managed to solve the problem by taking out `require 'capybara/rspec'` and using this for my database cleaning:

[code]

[2015-05-27 09:12] bucaran commented on #219
I am experiencing this issue too:

[code]

[code]

[2015-05-29 22:55] alininja commented on #273
This thread helped me to find a fix for my problem, so I'll just post the fix here in case it's helpful for anyone:

[code]

I'm not sure why the extra `DatabaseCleaner.clean` was necessary, but the dead lock issue came back without it.  I'm also not sure why it was necessary to run the spec inside the `DatabaseCleaner.cleaning` block; using just `DatabaseCleaner.start` and `DatabaseCleaner.clean`

[2015-06-04 12:10] casiodk commented on #345
+1

[2015-06-06 19:58] danicuki opened #366 "Failing specs after upgrade from 1.3 to 1.4"
When I upgraded from 1.3 to 1.4, some tests started failed, raising database errors for duplicate entries and other stuff. It seems database cleaner is not working properly in my project. Here is my rspec_helper file:

[code]

[2015-06-08 12:35] claptimes5 commented on #273
Using

[code]

and the code in my pull request #364 I was able to resolve this issue where open transactions were left on various connections to the database. Can someone else see if this helps?

[2015-06-22 16:53] voxik commented on #237
I still observe this issue with database_cleaner 1.4.1

[2015-06-23 22:03] georgeu2000 opened #369 "Truncation takes longer and longer"
I had noticed that my specs are getting very slow, and started investigating strategies. Apparently the more you truncate, the longer it takes. This behavior seems very strange:
[code]

[2015-06-23 22:44] georgeu2000 commented on #369
I tried this on another app, and did not see the same behavior. Probably something funny about my app...

[2015-06-25 02:51] HuckyDucky opened #370 "Tables are getting cleaned when I don't want them to."
I have a few tables in my test database that *MUST* remain seeded. I'm trying like hell to keep them seeded, because it takes about a half hour to seed them. I'm really going crazy here.

I'm trying to test a program in a custom test directory. I have this in my ```test_helper.rb``` file:

    class ActiveSupport::TestCase
      include Capybara::DSL
      ActiveRecord::Migration.check_pending!

[2015-06-25 10:25] zwippie commented on #370
What happens if you move `DatabaseCleaner.strategy = :truncation, { except: %w[regions districts] }` to the `setup` block?

[2015-06-25 14:19] shamil614 commented on #369
What database are you using?

[2015-06-25 14:26] shamil614 commented on #369
How did you discover this?  Did you see it materialize in your tests?  I ask because this issue could explain some of the problems I'm finding in my tests.

[2015-06-25 15:34] georgeu2000 commented on #369
Using PostgreSQL.

I noticed that truncation was much slower than transaction. So, I started benchmarking truncation, transaction and deletion.

[2015-06-25 15:53] HuckyDucky commented on #370
Nope, still deletes all tables.

[2015-06-25 16:15] shamil614 commented on #369
Hmmm I'm using MySQL and we're getting odd test failures with parallel_tests on cucumber integration specs.

[2015-06-25 16:19] HuckyDucky commented on #370
You know, I put some debug statements in those setup and teardown blocks. They are not getting executed. If I put them main body of the class I see them. But nothing in those blocks. I wonder if that has something to do with it.

[2015-06-25 17:40] HuckyDucky commented on #370
The object I'm trying to test is PORO. It is not a model. And I think that is why nothing is working. In Minitest, you can not test something other than a mailer, model, controller, view, etc. without weird logic-defying contortions.

[2015-06-25 17:57] HuckyDucky commented on #370
OK, not a DatabaseCleaner issue, but I think this may help save somebody some time so I'll explain.

MiniTest does not test POROs by default. My helper code is fine. The ```setup``` and ```teardown``` methods were not running, because the object I'm testing is a PORO. POROs are not tied to AS::TC. As soon as I made the PORO subclass AR, everything worked as it was supposed to.

Subclassing AR is a

[2015-06-25 17:57] #370 closed

[2015-06-25 20:55] csdaraujo commented on #345
+1

[2015-06-25 22:07] mcclymont commented on #345
+1 With Postgres. Also have pg, postgres_ext, schema_plus gems. I get the issue on 1.4.1 and 1.4.0. We had upgraded to 1.4.1 as part of a Rails 3 -> 4 upgrade. I downgraded database_cleaner to 1.3.0 and this error went away.

[2015-06-29 14:31] #357 closed

[2015-06-29 18:39] ahorek commented on #332
Thanks!

[2015-06-29 18:39] #332 closed

[2015-06-30 20:35] workmaster2n opened #371 "disable_referential_integrity does not work with PostGIS tables"
We use the [PostGIS extension] (http://postgis.net/) and the [rgeo AR gem](https://github.com/rgeo/activerecord-postgis-adapter).  We use truncation for our `js` tests as well as our `before(:suite)` strategy.

The problem is that the PostGIS extension creates a table `spatial_ref_sys` that is owned by the user who installs the extension (namely, a super user).

Running `bundle exec rspec` fails w

[2015-07-01 02:14] etagwerker commented on #295
@takashi version 1.4.1 should fix this.

[2015-07-01 02:14] #295 closed

[2015-07-01 02:45] etagwerker commented on #275
@floydj @seban Do you experience this issue with 1.4.1? Please let me know.

[2015-07-01 02:48] etagwerker commented on #331
@kikonen-fiksu Could you provide more information? ORM, DBMS?

[2015-07-01 02:49] etagwerker commented on #268
Closing due to lack of feedback.

@ghost Thanks for your comment!

[2015-07-01 02:49] #268 closed

[2015-07-01 02:56] etagwerker commented on #347
@graaff Would you mind submitting a PR for this? It'd be great if we can use the same way to calculate row_count for both deletion and truncation strategies. I don't understand why they're different right now.

[2015-07-01 02:58] etagwerker commented on #355
@boddhisattva Is this section enough? https://github.com/DatabaseCleaner/database_cleaner#rspec-with-capybara-example

It's a recent addition to the README. Please let me know.

[2015-07-01 03:29] takashi commented on #295
@etagwerker thank you for fixing!

[2015-07-01 12:22] floydj commented on #275
@etagwerker I've moved on to a different strategy for various reasons, so I can't tell you if it works or not under the exact conditions of my original post. But FWIW, I am using 1.4.1 without any problems.

[2015-07-01 12:48] etagwerker commented on #325
@prashanthsams Could you paste your code here? Also, what ORM are you using? Have you tried with 1.4.1 or `master`?

[2015-07-01 12:51] etagwerker commented on #280
@ardavis @pisaruk What version of databasecleaner are you using? If you use `master`, does it still happen? Please let me know.

[2015-07-01 13:41] seban commented on #275
@etagwerker currently when I update do 1.4.1 I got no errors.

[2015-07-04 16:53] dimascyriaco commented on #366
I'm having the same problem. DatabaseCleaner 1.4.2, Rails 4.2.1, Capybara 2.4.4 and Rspec 3.3.0.

My configuration is the recommended for Capybara:

[code]

@danicuki did you solved this?

[2015-07-06 00:30] etagwerker commented on #366
@dimascyriaco @danicuki Could you test this code with `master` and let me know?

[2015-07-07 02:06] dimascyriaco commented on #366
It's working again on 1.4.2. Don't know what fixed it.

Thanks anyway.

[2015-07-07 16:45] carhartl commented on #366
I seem to have the same problem, using master didn't fix it.

[2015-07-07 19:55] danicuki commented on #366
No fix

D

On Tue, Jul 7, 2015 at 1:45 PM, Klaus Hartl <notifications@github.com>
wrote:

[2015-07-08 12:10] carhartl commented on #366
I got it working using the transaction strategy and only truncation for acceptance testing (the Capybara scenario...). So it seems to be related to using truncation in unit tests... I was using 1.4.1.

[2015-07-08 16:45] jasonmklug opened #374 "DatabaseCleaner not cleaning between otherwise-properly-running tests in `spec/lib` directory"
I have a PORO class `EventInterface` which creates `Event` instances (`Event` is an ActiveRecord-backed class).  I have the `EventInterface` class in my `app/lib` directory, and configured Rails to load it.  All functions just fine.

For the sake of consistency, I created a corresponding `spec/lib` directory, and an `event_interface_spec.rb` file for my tests.

RSpec is running those tests in `spe

[2015-07-09 07:52] karlingen commented on #366
+1

[2015-07-09 13:26] karlingen commented on #374
Are you sure that the cleaner is not being ran at all when the files are located inside `spec/lib`?
It could be an dependency order bug since moving the files to another folder would change the run order of the specs

[2015-07-09 14:08] karlingen commented on #273
@claptimes5 you deserve a medal. Thanks a bunch!! I've been pulling my hair of for the last 8 hours because of this issue. You PR fixed it.
Added this to my Gemfile:
[code]

[2015-07-09 17:02] claptimes5 commented on #273
@karlingen thanks!! I guess this issue can be closed? @etagwerker

[2015-07-09 19:02] claptimes5 commented on #296
@etagwerker Want to close this since #311 was merged?

[2015-07-10 06:03] cema-sp commented on #296
Sure, thank you)

[2015-07-10 06:03] #296 closed

[2015-07-10 16:48] etagwerker commented on #273
@claptimes5 You're right sir. Thank you!

[2015-07-10 16:48] #273 closed

[2015-07-11 02:22] etagwerker commented on #374
@jasonmklug What does `event_interface_spec.rb` look like?

[2015-07-11 15:51] #74 closed

[2015-07-20 16:44] gotjosh opened #378 "Mongoid removed the remove_all method?"
I tried setting up database_cleaner on a project using mongoid `5.0.0beta`, it seems they removed the `remove_all` method so it's no longer working.

Here's the error I'm getting:

[code]

[2015-07-20 17:05] gotjosh commented on #378
In order to make it work, had to monkey patch the Mongo Ruby driver class.

[code]

If someone could point me in the right direction I would be more than happy to submit a Pull Request so that it matches the correct version.

[2015-07-27 01:11] eriklott opened #379 "Please add support for mongo 2.0.6 driver"
I can't seem to get DatabaseCleaner to function with the mongo 2.0.6 gem. We use the standalone mongo driver for all database interaction in a few of our services.

I've had to dig into the DatabaseCleaner::Base class to try to persuade it to integrate, as follows:

[code]

And it seems to almost work, however, database cleaner is now complaining with the following exception:

[code]

Any help or

[2015-07-28 13:25] claptimes5 opened #380 "Bump version?"
There have been 50 commits to master since 1.4.1. Do you want to bump the version?

Thanks!

[2015-07-28 15:44] etagwerker commented on #380
Yes, coming up soon.

[2015-07-28 19:25] CBElizabeth commented on #280
@etagwerker I'm encountering this issue using database_cleaner 1.4.1.

[2015-07-30 22:21] junhanamaki opened #381 "[psql] not cleaning with same database, different schemas"
Hi. I've been having trouble with making database cleaner work when trying to delete data from different psql schemas, but in the same database.

database.yml:
[code]

What I did in spec_helper:
[code]

From what I understand it happens because of this code:
[code]
This method is invoked from connection_class, and because both connection "test" and "test_non_public" are configured to connect to th

[2015-08-04 23:26] mib32 commented on #317
I would like to add, that if you have something like this
[code]
I mean, have 1.4.1 installed, but configured the exception for some table like `spatial_ref_sys` then you also would lose your migrations! Just add her, like this.
[code]

[2015-08-05 10:31] Elyasin commented on #378
I ran into the same issue. Mongoid 5 does not use Moped anymore. Instead it uses the Ruby driver Mongo I think.

It would be nice to have a cleaner for Mongoid 5. Me too, if someone is willing to guide me a little bit, I would be happy to contribute.

[2015-08-06 09:00] karlingen commented on #380
+1

[2015-08-06 17:00] eliduke opened #383 "Is it possible to reset_ids with transaction strategy?"
I think maybe I am just confused on exactly how database_cleaner works, but I am having some problems with my tests because the auto-increment is not reseting. Here is the breakdown on my `spec_helper`.

[code]

What I assume is happening there is that all tables are truncated and completely reset (auto-increment poised at 1), then all of the necessary spec seed data is loaded (that's it's own loc

[2015-08-10 20:39] geofflane commented on #381
:+1: I'm seeing this as well with a similar configuration of connecting to MySQL but with multiple databases on the same server. A "normal" model that should connect to the default configured under the "test" key is switching to the non-default "other_test" connection.

[2015-08-16 04:08] muhammett commented on #378
Its not great great great solution.

Now I'm using

[code]

When you guys official support i will be very happy.

[2015-08-17 13:57] raj-kasi commented on #325
Facing the same issue; Can any one help on this? 

Code is here: http://stackoverflow.com/questions/30168421/autodetect-no-known-orm-was-detected

[2015-08-21 03:40] rafaelsales commented on #273
Plans to have a version including this fix rolled out?

[2015-08-24 17:07] sliuu opened #386 "Mongoid 5.0.0beta Compatability?"
Looks like database_cleaner is not compatible with the newest beta version of mongoid

[code]

[2015-08-24 19:31] rafaelsales commented on #273
@etagwerker @bmabey @JonRowe plans to have this fix rolled out? I'm currently using master in my gemfile :/

[2015-08-25 06:03] karlingen commented on #273
@rafaelsales instead of using master you could lock it to a certain commit.
I have it like this while waiting for a new version:
[code]

[2015-08-25 06:05] karlingen opened #387 "Skriv specs för sms bug"
Under mötet märkte vi att sms slutade fungera (Skicka sms). Skriv specs för buggen som nu är fixad.

Commit: https://github.com/karlingen/smpw/commit/1bb0c513761fb494a4b92da6e7a0768d6777857b

[2015-08-26 19:59] rafaelsales opened #388 "Need more committers?"
There are important issues that are in master already, but it's been a while we don't have versions rolled up to rubygems.

Perhaps increasing the team size is a good idea to not overwhelm you guys a lot @etagwerker @bmabey @JonRowe

[2015-08-29 15:30] geerzo commented on #386
This is solved with #385

[2015-09-01 19:36] #387 closed

[2015-09-01 19:38] etagwerker commented on #380
@karlingen @claptimes5 Done! Here is the detail: https://github.com/DatabaseCleaner/DatabaseCleaner.github.io/pull/3

@claptimes5 Please let me know if the article has all the commits that you saw, or if I missed something. Thanks!

[2015-09-01 19:38] #380 closed

[2015-09-01 19:38] karlingen commented on #380
Wonderful news! :clap: :clap: :clap:

[2015-09-01 19:40] etagwerker commented on #388
@rafaelsales We are definitely open to new committers.

If you see any issues, feel free to submit a PR. If you see any pull requests that you think that are ready to be merged, please let me know.

For instance, what do you think about this PR? https://github.com/DatabaseCleaner/DatabaseCleaner.github.io/pull/3

Does it reflect the changes between 1.4.1 and 1.5.0? Feel free to comment over there.

[2015-09-01 19:40] #388 closed

[2015-09-01 19:42] etagwerker commented on #272
@coreyhaines @bmabey @Gedrovits I see that it's showing up now. Thanks!

[2015-09-01 19:42] #272 closed

[2015-09-02 07:59] hackeron commented on #299
Seems to be back with 1.5.0 :(

[code]

[2015-09-02 08:22] pezholio commented on #299
Yup, same here :disappointed:

Relevant Travis build here:

https://travis-ci.org/theodi/panopticon/builds/78329424#L319

I've pinned to 1.4.1 for now

[2015-09-02 08:45] hackeron opened #390 "The 'truncation' strategy does not exist for the mongoid ORM! (1.5.0)"
This seems to be similar to #299 but unfortunately the workaround of including mongoid-tree in the Gemfile no longer works :(

[code]

[2015-09-02 12:14] hackeron commented on #390
Ah, it seems the gem is broken and missing the mongo2 directory :( - as a workaround, this works:

[code]

[2015-09-03 00:30] jasonmklug commented on #374
Apologies for the slow response.

@karlingen nailed it — I was creating an `Event` record inside a `before(:all)` block, so DatabaseCleaner (rightly) didn't roll back the creation of that record between tests.

Moving the problematic spec file to `spec/models` still resulted in lingering `Event` records, but the move changed it's place in the order in which RSpec runs my spec files, such that exis

[2015-09-03 00:30] #374 closed

[2015-09-03 13:55] benhutton commented on #390
yeah, looks like a gemspec bug. mongo2 files need to be added here: https://github.com/DatabaseCleaner/database_cleaner/blob/v1.5.0/database_cleaner.gemspec#L116-L120

(and maybe the gemspec shouldn't try to enumerate all the files??)

[2015-09-03 14:47] jasonfb opened #391 "Nasty Infinite Recursion (SystemStackError - stack level too deep) when using acts_as_audited"
When mixing acts_as_audited and database cleaner, there's a nasty little SystemStackError problem I just encountered in an Rspec test.

Full details are here:
http://stackoverflow.com/questions/32378785/systemstackerror-stack-level-too-deep-in-rspec-test-using-acts-as-audited-r/32378786#32378786

the fix is relatively simple in spec_helper.rb :
[code]

I am posting this to Github as documentation

[2015-09-03 14:47] #391 closed

[2015-09-03 17:33] etagwerker commented on #390
This is fixed over here: https://github.com/DatabaseCleaner/database_cleaner/pull/385

Once that gets merged I'll close this.

[2015-09-04 02:03] hugocorbucci commented on #299
And same here

[2015-09-04 02:09] hugocorbucci commented on #299
The previous workaround (including mongoid-tree in Gemfile) no longer works. So this is likely a new somewhat unrelated issue.

[2015-09-04 08:22] reiz commented on #299
I'm getting the same error with 1.5.0. :-(

[2015-09-04 11:02] hackeron commented on #299
As a temporary solution add this to your gemfile:

[code]

[2015-09-04 20:44] etagwerker commented on #273
@rafaelsales Here it is: http://databasecleaner.github.io/2015/09/01/v1-5-0-is-out/ but @karlingen's suggestion should've worked before this release.

[2015-09-04 21:11] etagwerker commented on #390
@hackeron Could you test with `master` and let me know?

[2015-09-04 23:02] dukex commented on #390
@etagwerker using master works here! Thank you!

[2015-09-09 00:58] simonmorley opened #392 "Mongo 3 + Mongoid 5 Compatibility"
The pull request from #343 fixes compatibility with Mongo 3 but doesn't address the problem of Mongo 3 + Mongoid 5.

In the current master, the Mongo 2 truncation mixin contains this:

[code]

And this commit won't work with mongo v3. Instead, I've found this to work:

[code]

Plus, you also need the sessions function, also excluded:

[code]

But that won't work with Mongo 2 I don't believe.

What

[2015-09-09 01:38] simonmorley commented on #392
Actually, Mongoid.default_session has been depreciated too and need to be replaced with: default_client

Will test further.

[2015-09-09 12:11] TiagoCardoso1983 opened #393 "Ohm truncation strategy not working"
I have truncation strategy set (also clean_with(:truncation)). Nothing is being cleaned. I think this is a bug. See:

/home/taacati1/emskripten/.bundle/ruby/2.0.0/gems/database_cleaner-1.5.0/lib/database_cleaner/generic/truncation.rb

Here one is initiating an array, which in my case is empty, as I'm not setting the option (anyways, there are no tables in a key-value store). Anyway, look at the fo

[2015-09-09 12:34] TiagoCardoso1983 opened #394 "Ohm: not reusing the same connection"
It's strange, but it seems that the strategy is always opening a connection to the default redis location:

https://github.com/DatabaseCleaner/database_cleaner/blob/19773bbd1caa969e0e9be5eb0a8842b66f566f58/lib/database_cleaner/redis/base.rb#L25

It's a bit weird, as I don't see how to set the db parameter (which is not a db, but a url), and then, in the ohm adapter:

https://github.com/DatabaseCle

[2015-09-10 21:38] epinault opened #395 "Issue with connection being held/replace incorrectly"
I am migrating from Rails 4.0 to 4.2. Everything worked fine with Rails 4.0. The issue I am having is with rails 4.2 (something might have changed)

Anyway, I suspect database cleaner is the problem in my tests. When I run test independently, all works well. But when I run my full suite of test, I am getting

[code]

The issue from what I can tell is that I have a normal set of active record model

[2015-09-10 22:28] epinault commented on #395
I forgot to mention but the issue is that I need dynamic connection to sqlite DB . So I use the establish connection with a connection hash.. So I am not sure how to use Multiple ORM in this setup where I don t have control over the connection details and have database cleaner working proper. Is there a way to tell it to ignore for specific class and not run anything for database Cleaner?

[2015-09-11 15:59] epinault commented on #395
So it is definitely an issue with DatabaseCleaner because code works fine when not in test mode. Also I added the following to force reset connection after each test. Seems to fix the issue but I am wondering is there is a clean way to do this when connection are not known or establish dynamically (not in database.yml)

[code]

[2015-09-11 16:47] epinault commented on #395
guess it is mostly working but not reliable still :( Looking at the code and see if I can find a way to improve it

[2015-09-11 18:52] epinault commented on #395
So seems that to support a common before I had to do the following. Then all the test cases are now calling before and after common code (though in this example I duplicated for testing purpose)

[code]

[2015-09-11 20:59] epinault commented on #395
Ok so I am seeing where the error is thrown from but I am not sure why the connection is invalid
I see only one connection configured. But somehow when switching from one to another type of connection, it seems to get confused/overriden. Still debugging but something nasty is happening at the connection level

home/preseed/.gem/ruby/2.1.5/gems/activerecord-4.2.4/lib/active_record/connection_adapte

[2015-09-12 23:33] alexfarrill commented on #299
Same error with 1.5.0

[2015-09-13 15:18] etagwerker commented on #299
@alexfarrill Have you tried @hackeron's suggestion?

[2015-09-13 16:30] alexfarrill commented on #299
That works, thanks!

[2015-09-14 19:09] bmulholland opened #396 "Update History for 1.5.0"
Came to check what changed, but the history file only shows changes for 1.4.1. The commit messages aren't very descriptive, either, so I can't just use those.

[2015-09-15 19:28] billgathen commented on #293
I had the same issue and don't know how to spec this properly either, but here's my spec_helper.rb monkey-patch (MySQL-specific) to make the next visitor's life easier. :smile:

[code]

Kudos to @clownba0t for the detective work! I would not have figured this out myself.

[2015-09-16 14:28] gurix opened #397 "1.5.1 is not available on rubygems"
[code]
Fetching from github solves the problem so that I can run it now with mongoid 5.0 as temporary solution.

[2015-09-16 14:30] etagwerker commented on #397
@gurix Not really an issue. We will release 1.5.1 soon. In the mean time, you can tie your build to a specific commit in `master`

[2015-09-16 14:30] #397 closed

[2015-09-16 14:31] etagwerker commented on #396
@bmulholland You could use the information here: http://databasecleaner.github.io/

Could you submit a PR with this information?

[2015-09-16 14:38] gurix commented on #397
ok, thanks for info

[2015-09-20 09:09] francois2metz commented on #390
This works! Any chance to release a new version to fix this? Thanks.

[2015-09-21 14:11] tagliala commented on #392
I'm getting this error with Mongoid 5: https://travis-ci.org/diowa/ruby2-rails4-bootstrap-heroku/builds/81394387#L313

[2015-09-22 10:11] fonji commented on #392
+1
I'm getting this error (just in case someone is googling it):
[code]
caused by
[code]

[2015-09-22 20:22] awilkening opened #398 "NoMethodError: undefined method `connection_pool'"
A brief description: When I run all of my specs together, everything works just fine. When I run an active model class spec individually, I receive the following:

[code]

Quite a bit of setup here to make this fail...

Rails 4.1
Rspec 3.3.x
Database Cleaner 1.5
FactoryGirl 4.5

Setting up DB cleaner for dual databases

[code]

I have a non-Active Record class that lives in app/models with a spec

[2015-09-22 20:29] awilkening commented on #398
I hacked the following

[code]

And tests pass again...

[2015-09-23 12:37] vindia commented on #392
@fonji Would love to hear what you find. I keep running into that one too and my knowledge of MongoDB / Mongoid is not deep enough to investigate this issue.

[2015-09-23 12:59] fonji commented on #392
@vindia: sorry, I'm in a hurry and didn't find the cause in the time I allowed myself to investigate.
I tried a [fork of MongoidCleaner that is supposed to support Mongoid 5](https://github.com/bitaculous/mongoid_cleaner/tree/mongoid5) and I still got the same error.
I rolled back for the time being and will try again when I'll have more time (if that ever happens).

[2015-09-23 15:17] vindia commented on #392
@fonji Thanks! I think I will stick to Mongo 2.6 and Mongoid 4.0 for the time being.

[2015-09-23 16:35] awilkening commented on #398
Is there possibly an issue with the setup? Hopefully I can explain a similar issue without posting code.

I have spec that looks at the number of items created by a method. When I isolate the test, it passes. When I run the entire file, the number of records is incorrect as previous tests have created records. When I run the entire suite however, it passes.

[2015-09-25 13:36] agrass commented on #392
I have the same error of @fonji.  anyone has a workaround for this issue?

[2015-09-28 08:56] sbounmy commented on #392
hello guys,
I was able to get rid of this error by updating my mongoid.yml:
[code]

Please let me know if this works for you :)

[2015-09-28 12:57] agrass commented on #392
thanks @sbounmy, I tried but still having the same issue. What happens with the "clients:" and "database:" keys??

[2015-09-28 13:03] sbounmy commented on #392
ups, i've updated my last post.
For full mongoid.yml reference:
https://github.com/mongodb/mongoid/blob/master/lib/rails/generators/mongoid/config/templates/mongoid.yml

Are you sure you have correctly updated your mongoid.yml?

[2015-09-28 13:13] agrass commented on #392
Great! now with that configuratin is working. Thanks!

[2015-09-28 16:47] vindia commented on #392
That works, thanks! BTW, you can also leave the who `read` option out, as `:primary` is the default anyway.

[2015-09-29 08:44] vitalis opened #400 "1.5.1 release to rubygems"
Hi, can you please release 1.5.1 to rugygems

[2015-09-29 21:24] onyxraven commented on #383
Because you are using before/after(:all), the transaction isn't being closed around each test, so further down the run, it will have more and more data in the database.

[2015-09-29 21:34] onyxraven opened #401 "cross-strategy function addition: randomizing initial insert_id"
An easy way to have invalid specs is to have model object's primary key IDs be the same, hiding mishandling of those ids when dealing with caching, etc.

Most (all?) of the backends which have autoincrement ids have the ability to set the starting point of that ID.  Instead of resetting ids after truncate/delete, have the ability to randomize those ids.

I've currently got the very hacky test in m

[2015-09-29 21:59] eliduke commented on #383
@onyxraven But will that reset the auto-increment back to zero?

[2015-10-02 05:59] giannileggio opened #402 "The 'truncation' strategy does not exist for the mongoid ORM!"
Hi guys, I'm getting this error when trying to use last mongoid version
[...]/gems/database_cleaner-1.5.0/lib/database_cleaner/base.rb:139:in `rescue in orm_strategy': The 'truncation' strategy does not exist for the mongoid ORM!  Available strategies: truncation (DatabaseCleaner::UnknownStrategySpecified)

My gems:
database_cleaner (1.5.0)
mongo (2.1.1)
mongoid (5.0.0)

In spec_helper I have:

co

[2015-10-02 06:07] giannileggio commented on #402
The same happens if I use mongoid 4 with database_cleaner 1.5
The only way to have them working is to use mongoid 4 and database_cleaner 1.4

[2015-10-02 09:02] stefan-kolb commented on #392
I would also love to see Mongoid 5 compatibility :+1:

[2015-10-03 07:13] Elyasin commented on #402
+1 for raising this issue

[2015-10-03 22:23] ahmet commented on #402
+1 with mongoid 5 and database cleaner 1.5

[2015-10-04 18:30] jpmckinney commented on #402
Seems to be fixed in master.

[2015-10-05 09:41] DemitryT commented on #123
I was running into a similar issue, but eventually got it to work with the `truncation` strategy. My issue ended up being that I was using ActiveRecord to create some of the objects I was working with in my tests when I should have been using factories I had setup with FactoryGirl. Hope that helps someone.

[2015-10-05 12:31] dbackeus commented on #400
+1

[2015-10-07 06:57] rdetert commented on #392
I'm not a MongoidCleaner user but I ran into the same issue when upgrading to Mongoid 5. Changing the  mongoid.yml config file worked for me:
[code]

[2015-10-07 15:19] alexsanford commented on #402
I'm also seeing it fixed in master. Looks like the version number was bumped to 1.5.1, but the gem was never released (`gem 'database_cleaner', '~> 1.5.1'` does not work).

Are there any plans to release this version? Currently I have it working in my Gemfile using a git reference, but a version number would be better.

[2015-10-08 08:08] vitalis commented on #402
#390

[2015-10-12 06:42] Sshobhit commented on #36
@ADogan this worked for me. Thanks

[2015-10-12 09:03] kimegede opened #403 "Elastic search support"
Would be lovely to have this supporting Elastic Search as well.

[2015-10-13 07:22] snow commented on #392
@sbounmy thank you, it works for me!

[2015-10-13 21:49] noiseunion commented on #402
+1

[2015-10-14 04:17] alexkravets commented on #402
+1 mongoid 5.0, database_cleaner 1.5.0

[2015-10-14 05:12] alexkravets commented on #392
@sbounmy thank you for the hint!

+1 for mongoid 5.0 dependency update

[2015-10-15 07:39] sbounmy commented on #392
@snow @alexkravets :beers:

[2015-10-15 08:30] neerfri commented on #400
+1

[2015-10-15 08:30] yuliroth commented on #400
+1

[2015-10-15 14:30] lomudi commented on #400
+1

[2015-10-15 14:49] liviur commented on #400
+1

[2015-10-16 18:59] etagwerker commented on #400
DatabaseCleaner v1.5.1 has been released. http://databasecleaner.github.io/2015/10/16/v1-5-1-is-out/

[2015-10-16 18:59] #400 closed

[2015-10-16 19:00] etagwerker commented on #390
Fixed in version 1.5.1.

[2015-10-16 19:00] #390 closed

[2015-10-16 19:00] etagwerker commented on #402
Fixed in version 1.5.1.

[2015-10-16 19:00] #402 closed

[2015-10-16 19:01] etagwerker commented on #379
@eriklott Could you check again with version 1.5.1?

[2015-10-16 19:03] etagwerker commented on #326
@larryh Could you paste all of your code here?

[2015-10-17 23:45] rogsmith commented on #392
Make "primary" a symbol ":primary" worked for me too.

[2015-10-19 13:08] eric-simonton-sama commented on #379
I'm getting the same thing, using 1.5.1 and Mongo 2.1.2

[2015-10-19 15:00] alexandru-calinoiu opened #404 "mysql 0.4.1 throws exception"
With the database_cleaner 1.5.1 and mysql 0.4.1 I get the following exception:

[code]

[2015-10-19 16:03] larryh commented on #326
Hi,

I no longer have the code that I mentioned above, and my DatabaseCleaner gem is now at 1.5.0, so there's really nothing that I can paste.

[2015-10-19 16:17] #326 closed

[2015-10-21 09:16] dapicester commented on #403
A PR is on my TODO list, in the meanwhile I do something like this, in `test_helper`:
[code]
and then call it in an `after` block or `teardown` method.

Let me know if it works for you.

[2015-10-28 05:04] st0012 commented on #404
I think this issue may not caused by database_cleaner, it's caused by the mysql2 version you're using.
See: https://github.com/rails/rails/issues/21544

[2015-10-28 09:45] alexandru-calinoiu commented on #404
You are right. Thank you.

[2015-10-28 09:45] #404 closed

[2015-10-28 09:48] st0012 commented on #404
:smile:

[2015-10-29 15:59] Zorbash commented on #264
In [v1.3.0](https://github.com/DatabaseCleaner/database_cleaner/tree/v1.3.0) that i'm using, it's possible to do

[code]
for debugging pursposes.
Which version of database_cleaner are you using? Are you still facing the issue?

[2015-10-29 17:03] mockdeep commented on #264
I haven't used this in a while, but it sounds like the issue can be closed now.

[2015-10-29 17:03] #264 closed

[2015-11-03 15:50] magedmakled commented on #299
Start working version 1.5.1

[2015-11-03 16:56] hugocorbucci commented on #299
+1

Hugo Corbucci
Skype user: hugo.corbucci
Twitter: hugocorbucci

On Tue, Nov 3, 2015 at 7:50 AM, Maged Makled <notifications@github.com>
wrote:

[2015-11-03 20:36] Tonkpils commented on #223
Closing this since I no longer work on a codebase to reproduce this.

[2015-11-03 20:36] #223 closed

[2015-11-04 14:41] vpfaulkner commented on #379
Same here, also with 1.5.1 and Mongo driver 2.1.2

[2015-11-04 14:45] reidcooper opened #406 "ActiveRecord::StatementInvalid: Mysql2::Error: This connection is in use by: #<Thread"
I am currently trying to run a rspec test with Capybara and Database cleaner and I repetitively receive this threading error with Mysql.

Gemfile.lock

rspec (3.3.0)
capybara (2.4.4)
capybara-webkit (1.4.1)
database_cleaner (1.5.1)

[code]

spec_helper.rb
[code]

The Spec File

[code]

Now the webpage screenshot shows up correct, however, I feel like its something to do with the javascript causing

[2015-11-08 23:39] lucasklaassen opened #407 "Using the rails gem database_cleaner when rSpec testing and using activerecord-sqlserver-adapter"
I have added a question in stack overflow and would like to bring this issue to this thread's attention. Has anyone else experienced this?

http://stackoverflow.com/questions/33600373/using-the-rails-gem-database-cleaner-when-rspec-testing-and-using-activerecord-s

[2015-11-09 01:31] martinstreicher commented on #395
I do not know if this is related, but it seems so.

Today, after using the same configuration for more than a year, PostgreSQL queries started to hang when in the debugger _byebug_. At the prompt, any ActiveRecord queries would just hang. Looking at the process list yielded this:

[code]

According to some posts, this is an indication that the query has finished, but that the connection is open an

[2015-11-10 05:08] eriklott commented on #379
@etagwerker . Still getting the same error with 1.5.1. DatabaseCleaner is calling a "remove" method during truncation, but the Mongo::Client doesn't respond to remove. As per the docs, you'll need to call 'delete_one' or 'delete_many' instead.

Mongo Docs
https://docs.mongodb.org/ecosystem/tutorial/ruby-driver-tutorial/#ruby-driver-tutorial

[2015-11-10 16:40] martinstreicher commented on #395
This is definitely occurring on two machines now. Any ideas?

[2015-11-10 16:43] martinstreicher commented on #395
I am using this configuration now:

[code]

If I try to use the transaction strategy, I cannot do any database queries from within byebug. It just hangs up.

[2015-11-25 22:16] smolnar commented on #398
I'm also experiencing this problem when using multiple databases, even when running entire test suite. Did you resolve the issue somehow, other than monkey-patching?

I'm running Rails 5 and Rspec (all on master currently). Thanks!

[2015-12-03 13:09] atulaltizon opened #409 "rspec issue with mongo 3.0.7 using wired tiger storage and database cleaner 1.5.1"
Hi,
I am having issues running rspec in the above mentioned combination. The 'collections' method in the mongo2/truncation mixin.rb returns an empty list when mongo is running on 'wired tiger' storage engine.
I replaced with the following code:

database.collections.collect { |c| c.namespace.split('.',2)[1] }

This seems to work for both mmapv1 and wired tiger

Kindly fix this.

[2015-12-08 17:48] deXterbed commented on #406
@reidcooper not sure who's the real culprit here, but this should help:

https://github.com/rails/rails/issues/21734

[2015-12-09 08:42] deXterbed commented on #396
Thanks alot for this awesome gem @etagwerker !!

[2015-12-16 23:50] dmitrypol commented on #409
atulaltizon - thank you SOOO much for the fix.  I just did a PR by just copying and pasting your idea but the credit belongs to you.

[2015-12-17 04:31] atulaltizon commented on #409
You are welcome!

[2015-12-20 23:16] jasnow opened #412 "Rails 5/tables deprecation warning"
After upgraded one of my repos to Rails 5, I am getting this warning during "rake" run:
 * DEPRECATION WARNING: #tables currently returns both tables and views.
   This behavior is deprecated and will be changed with Rails 5.1 to only
   return tables. Use #data_sources instead. (called from
   database_cleaner_table_cache at .../.rvm/gems/ruby-2.2.3@2.2.3/bundler/gems/
   database_cleaner-b87f003

[2015-12-24 14:05] schmierkov commented on #401
@onyxraven I think randomizing the starting point shouldn't matter as long as all records get properly deleted/truncated. Could you provide a concrete scenario for this issue?

[2015-12-28 17:20] onyxraven commented on #401
@schmierkov In some cases, our app passes around IDs instead of full objects (queued items, etc), and assigns them.  When every table potentially starts at id=1, accessing the wrong table/object can hide a broken spec when the IDs match up, but the tables do not.  Randomizing the IDs has shown quite a few of those errors in the past, and seems like an easy way to raise those errors.

so for exampl

[2015-12-28 19:58] shosti commented on #345
Also getting this. I'm not familiar with the inner workings of database_cleaner, but it looks like the problem is https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/active_record/deletion.rb#L57 (introduced by https://github.com/DatabaseCleaner/database_cleaner/commit/81ca46565cf68a0e08fbfda7fb3542a119a2045d). `table_rows` doesn't exist in the Postgres information

[2015-12-28 20:12] shosti commented on #345
Actually looks like this is to do with SchemaPlus (+ maybe other similar gems). From a rails app using PG:

[code]

That's triggering the `defined?` condition. I'd be happy to look into this some more...

[2015-12-29 11:40] serg-kovalev commented on #395
@epinault,
http://edgeapi.rubyonrails.org/classes/ActiveSupport/Testing/SetupAndTeardown.html

Probably you can try to use `setup` and `teardown` instead of `before` and `after`

[2015-12-31 14:22] etagwerker commented on #401
@onyxraven I think this problem is very particular to your application. The scenario that you are describing shouldn't normally happen.

The only way that this scenario would happen is if you have a configuration like this one:

[code]

That means that records in `FirstTable` and `SecondTable` don't get cleaned. I strongly suggest users not to do that, because they will end up with random problems

[2015-12-31 14:22] #401 closed

[2016-01-06 19:53] sarsena opened #418 "Use database cleaner with sub nested connection."
Below is my database.yml and I want to use DatabaseCleaner on the secondbase test.  How would I specify the connection key when I call `DatabaseCleaner[:active_record, { :connection => KEY }`?  Is there a way I can pass in a `:connection_hash`?
[code]

[2016-01-08 16:02] AknEp commented on #323
This issue looks to be solved (latest version; 1.4.1). Why don't you close it? @iangreenleaf

[2016-01-08 16:21] satoryu commented on #323
or @etagwerker could you please close this issue?

[2016-01-08 18:09] #323 closed

[2016-01-08 18:12] #396 closed

[2016-01-14 23:29] leomao10 opened #419 "Fail to setup database_cleaner for dual database"
I have two database, one with a model call `Device`, and the other has a model call `User`.

When I set up `database_cleaner` according to readme describe:

[code]
I found that in my test, `device` model's connection will point to `secondary_test` database. And I will have following error as my secondary_test database don't have a table call `devices`:

[code]

I dig in the code, and found that it

[2016-01-15 21:03] ioev opened #420 "#clean is run multiple times from the Cucumber example"
From the readme:
https://github.com/DatabaseCleaner/database_cleaner#cucumber-example

The example for adding DatabaseCleaner by hand includes a hook that is provided by DatabaseCleaner, as well as defines a second one.  If cucumber-rails is included, #clean will be called 3 times (as was the case with the project I'm working on.)

[2016-01-18 12:58] etagwerker commented on #395
@martinstreicher You don't need to explicitly call `DatabaseCleaner.start` when you are using `DatabaseCleaner.cleaning` - Could you try running your spec without `DatabaseCleaner.start`?

[2016-01-19 16:41] epinault commented on #395
@serg-kovalev will give it a try

[2016-01-25 02:03] metaskills opened #422 "Rails 5 ActiveRecord::InternalMetadata.table_name"
Was updating an app to the latest Rails 5 and wanted to drop a note that there appears to be a new schema meta data table. I had to do this:

[code]

Normally this table is called `active_record_internal_metadata`, but using the class' table_name method seems to be the right way to look it up in case someone adds a prefix or reconfigures the name. I took a look into the source and saw you had `sch

[2016-01-25 10:11] satoryu commented on #392
it doesn't work for me.
In my environment, the versions are
* mongoid 5.0.0
* mongo 2.1.1
* MongoDB 3.0.7

[2016-01-25 11:40] tagliala commented on #392
it works for me

- mongoid 5.0.2
- mongo 2.2.1
- MongoDB 3.2.1 and MongoLab on Heroku

sample repos:
- https://github.com/diowa/icare
- https://github.com/diowa/ruby2-rails4-bootstrap-heroku

[2016-01-25 14:52] satoryu commented on #392
umm, although I upgraded these gems to the same version, but it doesn't work yet...

[2016-01-25 21:48] redvulps opened #423 "Not working with mongodb 3.2"
I'm working locally with a project and running MongoDB 3.2.0 on OSX.

The **collections** method inside **lib/database_cleaner/mongo2/truncation_mixin.rb** returns and empty array due deprecation of **system.namespaces** collection since version 3.0 as mentioned in: https://docs.mongodb.org/manual/reference/system-collections/

Thank you!

[2016-01-25 21:51] redvulps commented on #423
Looks like there is another like this opened https://github.com/DatabaseCleaner/database_cleaner/issues/348 .. I'm closing this one!

[2016-01-25 21:51] #423 closed

[2016-01-31 13:45] nitzanav commented on #99
Hi,

I am using this configuration:
`
config.use_transactional_examples = false
    config.before(:suite) do
      DatabaseCleaner.strategy = :transaction
      DatabaseCleaner.clean_with(:transaction)
    end
    config.before(:suite) do
      DatabaseCleaner.start
    end
    config.after(:suite) do
      DatabaseCleaner.clean
    end
`

and [test_after_commit](https://github.com/grosser/test_af

[2016-02-06 10:35] satoryu commented on #392
In my case, `collections` returns an empty array.  [`collections`](https://github.com/DatabaseCleaner/database_cleaner/blob/v1.5.1/lib/database_cleaner/mongo2/truncation_mixin.rb#L29) uses `system.namespace` but [the manual](https://docs.mongodb.org/manual/reference/system-collections/#%3Cdatabase%3E.system.namespaces) says it is deprecated since version mongodb versions 3.0. so it should not work

[2016-02-07 06:25] pratik60 opened #424 "Question: How to use multiple orm's together?"
I can't figure out how to use multiple orm's together. We initially used only ActiveRecord, and database_cleaner worked great.

Recently we introduced mongodb to the stack, but am unable to figure out the configuration to have mongoid and active record using database cleaner.

Our current database_cleaner.rb looks like this -:

[code]

[2016-02-08 00:09] datibbaw opened #425 "Add cleaning_with method"
Hi,

I'm slowly transitioning my tests to use transaction based cleaning instead of truncation. To do this, I'm currently using an around method which will use the strategy I want only for that test; this is my extension:

[code]

Would you consider adding this to the project itself?

[2016-02-08 02:05] satoryu commented on #392
I've resolved my problem! The problem is caused by using WiredTiger storage engine, [default storage engine since 3.2](https://docs.mongodb.org/manual/core/storage-engines/).  After I changed my mongo's configuration as follows, database_cleaner works.

[code]

So this means that database_cleaner doesn't work with wiredTiger, in other words v3.2 or newer of mongodb in default.

[2016-02-08 10:08] tagliala commented on #392
@satoryu thanks for sharing this

[2016-02-10 06:27] kylev commented on #379
It looks half-written. Is there a `lib/database_cleaner/mongo2/truncation.rb` laying around somewhere and not checked in?

[2016-02-10 18:33] kylev commented on #379
I wrote #426 to fix it. It works with:

[code]

Not sure how this would work with other systems (I'm using bare Mongo, no ORM).

[2016-02-16 14:23] mathieujobin commented on #403
+1

[2016-02-17 20:18] #379 closed

[2016-02-17 20:20] #345 closed

[2016-02-19 16:23] eduzera commented on #424
i'm in the same situation :/

[2016-02-22 17:26] igordcsouza commented on #299
This work for me!
gem 'database_cleaner', git: 'https://github.com/DatabaseCleaner/database_cleaner.git'

[2016-02-23 22:47] akirsch commented on #409
Hi.

When it is possible to get an update of the gem with this fix?

[2016-02-23 22:51] dmitrypol commented on #409
the fix is merged into master so you could point your Gemfile at github.  It would be nice to get updated gem but I am sure it's maintainer has a life outside of open source ;-).

[2016-02-23 23:02] akirsch commented on #409
thx for the fast feedback :) i hope the maintainer has this life outside of open source. :)
via git it works now all right :+1:

[2016-02-24 12:40] doits commented on #422
+1, otherwise I always get a `ActiveRecord::NoEnvironmentInSchemaError` after each run.

[2016-03-08 10:34] alex-handley commented on #407
@lucasklaassen Are you still having this issue?

[2016-03-09 14:27] mailcorpo opened #428 "PostgreSQL adapter method .tables return table names without schema"
Take a look at #1154 issue of Sequel gem https://github.com/jeremyevans/sequel/issues/1154.

DatabaseCleaner doesn't remove data from the tables with the same name, but created in different schemas. More description is available by link above.

[2016-03-09 21:38] lucasklaassen commented on #407
@alex-handley all good now, thanks.

[2016-03-09 21:38] #407 closed

[2016-03-10 08:48] mailcorpo commented on #428
I found that the same problem with tables names was discussed 2 years ago (see https://www.bountysource.com/issues/1239086-sequel-postgresql-truncate-strategy-fails-if-there-s-tables-in-other-schemas), but the solution (use %only option) is wrong. I think we need to rewrite some Sequel part of code and then use it in database_cleaner.

[2016-03-11 14:17] nbulaj commented on #424
@pratik60 did you read "_How to use with multiple ORM's_" in the docs? ( https://github.com/DatabaseCleaner/database_cleaner#how-to-use-with-multiple-orms )

Set up all your connections via `DatabaseCleaner[:orm, { :connection => :something }]`

[2016-03-11 17:13] etagwerker commented on #424
@eduzera @pratik60 Did you try with the example mentioned in the documentation? Please let me know.

[2016-03-11 17:34] etagwerker commented on #222
Done!

[2016-03-11 17:34] #222 closed

[2016-03-11 17:36] etagwerker commented on #215
@jfelchner Sorry for the delay. Travis has been configured and the build now passes. Please let me know if you still find an unusual failure.

[2016-03-11 17:36] #215 closed

[2016-03-11 18:12] #184 closed

[2016-03-11 18:15] etagwerker commented on #235
@sebfie I'm pretty sure that this is no longer a problem if you use this configuration: https://github.com/DatabaseCleaner/database_cleaner/#rspec-with-capybara-example

[2016-03-11 18:15] #235 closed

[2016-03-11 19:03] etagwerker commented on #412
@jasnow Thanks! Closed by #415

[2016-03-11 19:03] #412 closed

[2016-03-18 21:04] gregblass opened #429 "JS capybara tests are causing database issues in non-JS capybara tests that follow"
I figured I'd drop this here and see if anyone has any clue as to why this is happening:

http://stackoverflow.com/questions/36074585/rspec-capybara-js-tests-pass-in-isolation-but-fail-when-run-together

Any help would be appreciated, or at least to know if running JS tests at the end of my tests suite is the recommended solution.

[2016-03-21 13:17] etagwerker commented on #429
@gregblass Could you try to run your specs with the configuration suggested in the README? https://github.com/DatabaseCleaner/database_cleaner#rspec-with-capybara-example

[2016-03-21 13:18] #424 closed

[2016-03-24 20:05] etagwerker commented on #419
@leomao10 Could you try this workaround and report back? https://gist.github.com/mgreenly/1109325

Thanks!

[2016-03-24 20:06] etagwerker commented on #245
@wendy0402 You could try with this alternative: https://gist.github.com/mgreenly/1109325

[2016-03-24 20:06] #245 closed

[2016-03-26 23:17] fmnoise commented on #419
I've fixed this by adding `Rails.application.eager_load!` to spec helper

[2016-03-29 20:06] rabbitt opened #430 "postgresql_version returns 0 for PostgreSQL RC versions"
I've been running PostgreSQL server 9.4rc1 on my laptop for a while now (without realizing it) and ran into problems with postgresql_version() returning 0 when it shouldn't have been. Yes, I know I should upgrade, and actually have in fact done so. However, in order to prevent other head-scratching in the future, I'm creating this ticket (and soon attaching a PR).

For posterity, my version string

[2016-03-29 20:06] #430 closed, assigned to nobody

[2016-04-02 11:42] pratik60 commented on #424
Updated it to this
[code]

and in each of them I now get

[code]

[2016-04-02 11:43] pratik60 commented on #424
@etagwerker I believe it is an issue with mongoid 3.2 as well

[2016-04-02 11:55] pratik60 commented on #424
Seems fixed after upgrading to 1.5.1.

Can we do a new release as well?

[2016-04-03 18:48] eliotsykes commented on #422
Seen with Rails 5.0.0.beta1.1, database cleaner 1.5.1. Database cleaner will execute `DELETE FROM "active_record_internal_metadatas"` unless the `except: ...` option is specified [as described above](https://github.com/DatabaseCleaner/database_cleaner/issues/422#issue-128444021)

[2016-04-12 13:47] shanys8 opened #435 "undefined local variable or method `data_sources'"
Hi
I am getting this error
in `database_cleaner_table_cache': undefined local variable or method `data_sources'
when I change in truncation.rb this line
@database_cleaner_tables ||= data_sources
to this
@database_cleaner_tables ||= tables
the error is not happening and tests are running.

Can you tell me what seems to be the problem?

[2016-04-13 13:32] etagwerker commented on #435
@shanys8 What version of ActiveRecord and DatabaseCleaner are you using?

`data_sources` was introduced here: https://github.com/DatabaseCleaner/database_cleaner/commit/430a9574d263b890eddb5af7d176c7f3ba74e233 and it's only available in `master`

[2016-04-13 13:41] shanys8 commented on #435
activerecord-4.1.2 and database-cleaner 1.5.1

[2016-04-15 17:30] etagwerker commented on #435
@shanys8 Could you try with `master` and post back here?

[2016-04-17 08:05] shanys8 commented on #435
Yeah, that works. (included the gem in my gemfile through its git path)
Are you going to create a release from master as a new version?

[2016-04-18 02:53] etagwerker commented on #435
@shanys8 Yes, I just released 1.5.2: http://databasecleaner.github.io/2016/04/17/v1-5-2-is-out/

Thanks!

[2016-04-18 02:53] #435 closed

[2016-04-18 10:08] P9GIT opened #436 "Version 1.5.2 is incompatible with mongoid version <5.0.0"
The latest version DatabaseCleaner breaks when not using Mongoid 5:
https://github.com/DatabaseCleaner/database_cleaner/commit/ca58d24232f05835303f111d204a49a6845ff950

Method exist only in 5.x:
https://github.com/mongodb/mongoid/blob/bb206b86bc3315cdb38d3597393205f7d1c0bb31/lib/mongoid.rb#L63-L66

We're using Mongoid 4.0.2 and with DatabaseCleaner version 1.5.2 is breaks with:

undefined method `

[2016-04-18 13:54] etagwerker commented on #436
@P9GIT Hi, thanks for the bug report.

Could you try this patch locally?

[code]

You'd need to modify this file: https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/mongoid/truncation.rb#L30-L32

Please let me know.

[2016-04-18 14:43] P9GIT commented on #436
Hi!
Thanks for the patch :)
It still breaks however, but this works:
`def session
  ::Mongoid::VERSION > "5.0.0" ? ::Mongoid.default_client : ::Mongoid.default_session
end`

[2016-04-18 14:45] etagwerker commented on #436
@P9GIT Could you submit a PR with this patch? I'd like to release a new version as soon as possible.

[2016-04-18 14:48] P9GIT commented on #436
Sure, uh, but I don't know how. Never worked with github actually, just making issues ;)
How do I do it?

[2016-04-18 14:54] etagwerker commented on #436
@P9GIT Please follow the steps described here: https://github.com/DatabaseCleaner/database_cleaner/blob/master/CONTRIBUTE.markdown

If something is not clear with the steps please let me know and I can help.

[2016-04-18 14:58] P9GIT commented on #436
OK, thanks. Seems relatively straight forward :)

[2016-04-18 15:13] P9GIT commented on #436
Hmm, I think that was it!

[2016-04-18 18:37] netwire88 commented on #392
I'm using MongoDB v3.2.4 with mongoid-5.1.1, and database_cleaner-1.5.1. The cleaning doesn't seem to be working anymore. I'm not sure if it's due to the engine, so far I'm using the default. I tried to use `mmapv1` per https://docs.mongodb.org/manual/reference/configuration-options/ but my MongoDB won't restart. Anyone else having problems?

Here's my `spec_helper.rb`

[code]

[2016-04-19 21:10] the-robear opened #438 "Support WiredTiger (Mongo >= 3.2)"
When using the truncate strategy, database_cleaner does not clean mongo databases using WiredTiger (WT). When running the same mongo version using MMAPV1, database_cleaner works fine. This is all using Mongoid 5.1.2

Upon inspecting the mongo logs for WT we see that transactions are attempted in the following order:

[code]

There are no remove calls in the WT logs, whereas we see them in the MMAP

[2016-04-21 19:17] etagwerker commented on #438
@the-robear Have you tried using the truncation strategy? Please share the code that you are using to reproduce this.

Mongoid only supports the truncation strategy. See: https://github.com/DatabaseCleaner/database_cleaner/#supported-databases-libraries-and-strategies

[2016-04-21 19:17] #436 closed

[2016-04-22 09:09] ekyfauzi opened #439 "DatabaseCleaner not cleaning (Mongoid)"
Hi, I got problem, DatabaseCleaner not clean database at all.
I getting stuck for few days.
Almost exactly the same setup. No idea why it's not, can't track it down.
Here is my `spec_helper.rb`
[code]

I use:
[code]

Anyone can help me?

[2016-04-22 11:02] etagwerker commented on #439
@ekyfauzi Have you tried upgrading to the latest version of `database_cleaner`? It's currently at 1.5.2.

[2016-04-22 11:23] JIucToyxuu opened #440 "undefined method `default_client' for Mongoid:Module"
Hello!

I got "undefined method `default_client' for Mongoid:Module" error after update DatabaseCleaner to latest version. This happened when I launch rspec tests, after DatabaseCleaner[:mongoid].clean
I see what code was updated [https://github.com/DatabaseCleaner/database_cleaner/commit/0a2bef7c878c14afe01791353df717e3ef969814], but not sure what this can be reason for this.

Ruby- 2.1.2 or 2.2.

[2016-04-22 11:37] etagwerker commented on #440
This is a duplicate of https://github.com/DatabaseCleaner/database_cleaner/issues/436

Please use `master` at bc16ceee741a8b8912f1006b6cb2d0682946910c and try again. There is a new release coming soon.

[2016-04-22 11:37] #440 closed

[2016-04-22 14:56] #366 closed

[2016-04-26 03:20] the-robear commented on #438
@etagwerker Yes - I am using truncation. Will post tomorrow

[2016-04-27 02:02] ekyfauzi commented on #439
Hey @etagwerker, I've upgrading `database_cleaner` to `1.5.2` and it's work!
Thanks.

[2016-04-27 02:02] #439 closed

[2016-04-27 11:50] etagwerker commented on #439
@ekyfauzi Great, thanks! 👍

[2016-05-04 05:28] dduft commented on #403
:+1:

[2016-05-18 00:47] magicalbanana opened #441 "Truncate Except schema.table"
Does this support specifying the schema when adding tables to the exception when truncating?

e.g:

[code]

[2016-05-21 20:36] hassan-k opened #442 "Neo4j doesn't share the transaction with capybara js test"
I've been trying to run capybara js specs with neo4j. It seems transactions done within DatabaseCleaner are not available to Capybara js specs since the connection between the two is not shared. This is very similar to the ActiveRecord behaviour where you have to set `transactional_fixtures = false`. I think since the DatabaseCleaner needs to be forced to use the connection started by rails via `n

[2016-05-22 01:32] #355 closed

[2016-05-22 13:23] boddhisattva commented on #355
@etagwerker I'd like to sincerely apologise for not responding to your earlier question on this issue. I somehow missed replying to it, I'll try to be more careful in the future. Thank you and other contributors for their work on database cleaner. The updated README definitely adds more info on how they'd handle specs that invole JS.

[2016-05-23 03:20] anicholson opened #443 "NullStrategy isn't API-complete"
In my app, I had my RSpec setup to use `:transaction` as the default strategy:

[code]

I also had some tests that make big (multi-thousand-row INSERT big) db calls. Wanting to compromise neither my test-suite time nor my nice clean single-expectation specs, I thought "I'll just use the `NullStrategy` for this group":

[code]

but no dice:

[code]

Shouldn't the `NullStrategy` implement the entire

[2016-05-23 17:04] #443 closed

[2016-05-25 23:25] md5 opened #445 "ActiveRecord 5.0 internal metadata table should not be cleaned"
I'm building an app using Rails 5.0.0.rc1 and I ran into the fact that the `ar_internal_metadata` table is being cleaned with the `:truncation` strategy. This is similar to #317.

When this happens and `ActiveRecord::Migration.maintain_test_schema!` is being used, tests/specs will fail if there are pending migrations and `database_cleaner` has had a chance to run and clear the metadata table. The

[2016-05-26 17:20] railsmith opened #446 "Truncate failing for multiple adaptors"
I have a remote SQL Server and a Postgres database. Truncate commands are executed in the PostgreSqlAdapter syntax even for SQL Server models and therefore data is not being truncated for SQL Server. The truncate commands is in the format `truncate table "public"."Table1";` which is obviously not going to work for SQL Server. I don't know what to do. This is my configuration.

The same configurati

[2016-05-30 08:48] railsmith commented on #446
The problem is with the Truncation class which loads the default connection from `database.yml` rather than preferring the connection from the individual models. Ideally the problem is in the below code:

[code]

After changing it to this.

[code]

and changing the configuration into this it is working perfectly fine.

[code]

[2016-06-01 11:45] paudelprerana opened #447 "cleaner not cleaning database records."
Configuratin in spec_helper.rb is as:-

``` ruby```
RSpec.configure do |config|
  config.expect_with :rspec do |expectations|
    expectations.include_chain_clauses_in_custom_matcher_descriptions = true
  end
  config.mock_with :rspec do |mocks|
       mocks.verify_partial_doubles = true
  end

  # Clean up the database, database_cleaner setup with Rspec.

  require 'database_cleaner'

  config.be

[2016-06-12 21:20] Overbryd commented on #80
Here is my setup, that I found to be very fast and handy on my PostgreSQL projects. Maybe it helps for considering such a feature.

1. Generate data (in my case I run my development seed that also creates a dump)
2. Use `pg_dump` with the following additional options:
    * `--clean` to ensure clean state
    * `--compress=9` smaller in size, less stuff to move around
    * `--format=c` custom for

[2016-06-13 17:49] jasonfb opened #449 "TRUNCATE statements in logs appear intermittent"
We have a test suite that has unit tests in trasnaction strategy and feature specs in truncation strategy. One really odd thing I've seen along with another developer is that when tailing the test log (```log/test.log```), sometimes you see ``` TRUNCATE ...``` statements and some other times you don't

It seems to us to be completely random and non-deterministic. The lack of TRUNCATE output statem

[2016-06-14 10:03] etagwerker commented on #449
@jasonfb Did you try this? https://github.com/DatabaseCleaner/database_cleaner#debugging

[2016-06-14 10:05] etagwerker commented on #447
@paudelprerana Could you try with database_cleaner v1.5.3 and report back?

[2016-06-14 10:20] etagwerker commented on #446
@railsmith I understand the problem. Here is an alternative solution: https://gist.github.com/mgreenly/1109325

I'm not convinced that your solution is the best solution.

If you see the documentation, you can specify a single connection like this: https://github.com/DatabaseCleaner/database_cleaner#how-to-use-with-multiple-orms

I'd be more interested in adding a feature like this:

[code]

[2016-06-16 09:28] paudelprerana commented on #447
@etagwerker I tested with  database_cleaner v1.5.3 and its not working.

[2016-06-17 15:31] the-robear commented on #438
@etagwerker Ok, so this happens on multiple machines / environments, all running >= Mongo 3.2 under WildTiger.

Code-wise, I guess the configuration is what you're looking for?

[code]

Our Cukes run fine when we run Mongo with the storage engine flag:  `mongod --storageEngine=mmapv1`, which uses the old storage engine. It is only when WildTiger is used.

Let me know if you need more information!

[2016-06-20 12:14] railsmith commented on #446
@etagwerker

I did not intend to provide the best solution otherwise I would have opened a pull request. I posted the above solution for someone who wants a quick fix by forking the repo and using that fork in an ongoing project. I will open a pull request sometime later.

Thank you for your suggestion.

[2016-06-20 16:18] KeithYJohnson commented on #398
I'm seeing this error as well and am just wondering if a non monkey patch solution is out there?

[code]

[2016-06-20 16:20] KeithYJohnson commented on #398
Also @awilkening, when you get the chance, could you let me know where you dropped that code in your app?  thanks!

[2016-06-20 16:22] awilkening commented on #398
@KeithYJohnson I forked the repo and made the changes in
`lib/database_cleaner/active_record/base.rb`

[2016-06-20 16:23] KeithYJohnson commented on #398
Gotcha thanks!

[2016-06-29 07:37] Dschee commented on #371
Similar issue here, just that rspec is completely hanging so I needed to do [this trick](https://github.com/rspec/rspec-rails/issues/1353#issuecomment-93173691) and found `DatabaseCleaner.clean_with(:truncation, { except: %w[spatial_ref_sys] })` as the line causing the problem.

Here's the complete `database_cleaner.rb` file:

[code]

[2016-06-29 07:50] Dschee commented on #371
Maybe this isn't an issue with database_clenaer after all, couldn't this be an issue with the pg gem itself? See https://bitbucket.org/ged/ruby-pg/issues/75/hang-in-pgconn-block-while-waiting-for.

[2016-06-30 16:04] mabranches opened #451 "RecordNotFound should receive associated resource class"

[2016-07-01 01:18] #451 closed

[2016-07-07 16:53] mezza commented on #371
I believe this is a problem with ActiveRecord as mentioned [here](https://github.com/matthuhiggins/foreigner/issues/61).

I've fixed this for my problems by adding the following monkey patch in test_helper.rb

`module ActiveRecord
  module ConnectionAdapters
    module PostgreSQL
      module ReferentialIntegrity # :nodoc:
        def supports_disable_referential_integrity? # :nodoc:
          fal

[2016-07-15 19:47] etagwerker commented on #176
@tabfugnic Is this still an issue? The only thing that I'd advise is to use `append_after` instead of `after` - See: https://github.com/DatabaseCleaner/database_cleaner#rspec-with-capybara-example

[2016-07-15 19:49] tabfugnic commented on #176
@etagwerker I'm uncertain whether or not this is still an issue. I think this can safely be closed.

[2016-07-15 19:49] #176 closed

[2016-07-15 20:07] etagwerker commented on #243
@graudeejs I believe that this is no longer an issue. You can see a sample app over here: https://github.com/etagwerker/clean-padrino

Please let me know if this is still happening and I'll reopen the issue.

[2016-07-15 20:07] #243 closed

[2016-07-19 15:13] bbozo opened #453 "FiberError with minitest's parallelize_me! with sequel"
It fails non-deterministically, line 46 in `test_helpers.rb` is:

[code]

[code]

this is going in unit tests, so no parallel thread wacky stuff going on like with the integration tests. I'm using `database_cleaner (1.5.3)`, let me know if I can assist more

[2016-07-19 15:18] bbozo commented on #453
Update, checking around the failing code, I tried the `#around` mode and did:

[code]

now I get non-deterministic (on all tests, every time):

[code]

[2016-07-20 21:28] bradurani commented on #441
I've tried this and it does work

[2016-07-20 21:57] bradurani opened #454 "ActiveRecord schema_migrations being truncated because of public. schema"
Our postgres database uses the schema `public`. DatabaseCleaner is supposed to not truncate `schema_migrations`, but in our case it was. When I debugged the code, I found that in `DatabaseCleaner::ActiveRecord::Truncation.tables_to_truncate`, `tables_in_db` returns table names with the schema prefix (`public.schema_migrations`), but `@tables_to_exclude` contains `schema_migrations`.
I fixed this b

[2016-07-25 12:17] voxik commented on #237
Still an issue for 1.5.3

[2016-07-25 12:43] AndreaBeggiato commented on #438
Any news on this argument? We have the same issue

[2016-08-03 15:56] awilkening commented on #445
@md5 Can I see an example of your rails_helper.rb? I am unable to get DatabaseCleaner to leave the ar_internal_metadata table in the db. I assume it's a difference in setup.

[2016-08-03 16:18] awilkening commented on #445
@md5 I was able to figure it out. This particular app is not using psql and is using mysql. The following is the correct way to use with mysql.

`DatabaseCleaner.clean_with :truncation, except: %w(ar_internal_metadata)`

[2016-08-09 11:12] scooler commented on #280
@pisaruk I just ran into similar issue when when I debugged the database_cleaner I found issue in my configuration - also present here (so perhaps that's the cause here as well)
In the first part
[code]
actually produces `options = ['genders,', 'cities']` - there shouldn't be a comma in %w notation (and there isn't one in examples in README - so it was just my "zealous comma-adding" - DOH )

[2016-08-12 09:24] anuj-verma commented on #447
@paudelprerana  Hi , I was also facing the same issue while trying to clean my database with Database Cleaner. Then i tried to clean database in some other machine having exactly the same configuration for ruby, rails, mongoid, database cleaner version, and yes it was working fine.
The issue on my machine was because of the mongo version. I have installed the latest version of `mongo` i.e `3.2.8`

[2016-08-12 12:34] ahorek opened #455 "tables_with_new_rows query isn't safe on innodb"
I found out, that randomly my tables aren't cleaned when using deletion strategy on mysql.
[
connection.exec_query("SELECT table_name FROM information_schema.tables WHERE table_schema = '#{@db_name}' AND table_rows > 0")](https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/active_record/deletion.rb#L57)

According to the documentation:
For InnoDB tables, the row co

[2016-08-18 20:11] joshuaswilcox opened #456 "DatabaseCleaner.clean sometimes fails with undefined method "database_type""
For some reason DatabaseCleaner.clean fails occasionally with this error:

      Failure/Error: DatabaseCleaner.clean
      NoMethodError:
        undefined method `database_type' for :default:Symbol
      # /Users/jwilcox/.rvm/gems/ruby-2.3.1/gems/database_cleaner-1.5.3/lib/database_cleaner/sequel/truncation.rb:58:in `txid'
      # /Users/jwilcox/.rvm/gems/ruby-2.3.1/gems/database_cleaner-1.5.3/l

[2016-08-18 20:20] joshuaswilcox commented on #456
here is a pry from within where i fails

[code]

I am unsure what "default" is in this instance

[2016-08-24 18:54] roberts1000 commented on #445
I'm running into this as well using Postgres 9.5, Rails 5.0.0.1 and DatabaseCleaner 1.5.3.  `DatabaseCleaner.clean_with :truncation, except: %w(ar_internal_metadata)` helps as a workaround.

I triggered the bug by doing the following:

1. Run `bundle exec rake db:drop db:create db:migrate RAILS_ENV=test`  to prepare for testing.
2. Run `bundle exec rspec` one time.  The test runs, but `ar_internal

[2016-08-24 19:13] mikezter commented on #455
To reproduce this behaviour, consider this spec: https://github.com/mikezter/-reproduce-wrong-row-count

I've yet to find a way to provoke this behaviour without a transaction involved.

Server: 10.0.25-MariaDB-0ubuntu0.16.04.1
InnoDB:  Percona XtraDB 5.6.29-76.2

[2016-09-06 13:52] jasonfb commented on #449
We debugged this down to JSON endpoints that had cache-control headers on them. Capybara holds onto cache responses between tests. I documented this in my blog post here: https://medium.com/@jaflebol/capybara-taming-the-hydrochoerus-8fcd28d70787#.1qmna29ok

[2016-09-06 13:52] #449 closed

[2016-09-09 09:07] White-Oak opened #458 "Not cleaning collections in other sessions"
Not sure if this is fixable, but we have a supporting rails app, that looks for its data in a main's app db.
So some models have this code:
[code]

[2016-09-17 16:21] kreba commented on #289
We are encountering this issue, too, since version > 1.3.0
All the funcitons in the test database get cleared.
We are using Postgresql (9.4) and `use_transactional_fixtures = true` in RSpec (for a Rails app)

[2016-09-20 12:24] foucist opened #459 "redis connection bug deletes development database?"
This is on Database cleaner 1.5.1

When I run 'bx rspec spec/../some_spec.rb' the development database ended up getting deleted.

It only happens when I use

in spec/spec_helper.rb.   If I remove this code change below, then 'bx rspec ..' behaves normally - only cleans the test db.  Otherwise it cleans the development db.  Seems like a big bug, why would it suddenly act like it's operating on deve

[2016-09-20 13:20] foucist commented on #459
Nevermind.  Need to do this:  http://stackoverflow.com/a/28086122

[2016-09-20 13:20] #459 closed

[2016-09-27 21:26] marcusbuffett commented on #438
Updating to the latest version of database_cleaner (1.5.3) fixed all issues I had re: database_cleaner and WT. Think this can be closed.

[2016-09-28 22:33] davedash opened #460 "New gem release"
Could you release a new version of the gem?  There's a few changes that I'd like to use, specifically with the `NullStrategy` that aren't in 1.5.3

[2016-10-24 14:52] arempe93 commented on #398
I was able to fix this same problem by using Rails eager loading

[code]

[2016-10-29 14:31] magicalbanana commented on #447
I'm having this issue but with Postgres, I am using Postgres 9.5 with Rails 5.

[code]

[code]

[2016-11-21 07:50] jeffrey008 commented on #258
It seems like an old post, but upgrading `database_cleaner` to `1.5.0` solves the problem for me.

[2016-12-01 10:08] RedFred7 opened #463 "truncating fails with Sequel"
I'm running RSpec tests with DatabaseCleaner on the following Sequel models
[code]

when I run the tests, I get the following error:

[code]

My DatabaseCleaner setup is:

[code]

Truncation is one of the methods supported by DatabaseCleaner with Sequel, so this should work. Any ideas why it doesn't ?

[2016-12-02 17:20] mathieujobin opened #464 "db:reset for cleaning strategy"
Hello,

sorry to be asking a question here if this is not the right place.
when having 200+ tables, the truncation strategy takes so much time.
I am looking for a way to speed this up and I am thinking, while not dropping the whole thing.
`rake db:drop db:test:prepare` or maybe `rake db:reset` is usually quite fast.

shouldn't it be too hard to implement in database cleaner, what do you guys think

[2016-12-07 23:28] levi-l-damian commented on #447
I have the same issues, DataCleaner not cleaning.
I am also using Postgres 9.5 and Rails 5.

Here is my database_cleaner.rb file:

RSpec.configure do |config|
  config.before(:suite) do
    DatabaseCleaner.clean_with(:truncation)
  end
  config.before(:each) do
    DatabaseCleaner.strategy = :transaction
  end
  config.before(:each, :js => true) do
    DatabaseCleaner.strategy = :truncation
  end

[2016-12-22 17:01] mltsy commented on #447
To help narrow down these issues, you might try a blank rails 5 app with just two tests and see if you can reproduce the error by changing one thing at a time.  I just tried a new rails 5 app with postgres 9.5, and it's working fine for me.  Here's a start:

[code]
Then setup `database.yml` to point to a local postgres server, and run `rails db:setup`

Add in the default database_cleaner stuff:

*

[2017-01-01 20:38] marceloboeira opened #466 "Bug: Wrong argument type Integer (expected Proc)"
Running my tests end up on this:
[code]

Ruby 2.4.0

**UPDATE** it does not happen with Ruby 2.3.1.

Gemfile.lock:
[code]

[2017-01-03 15:16] vbyno opened #467 "Strange behaviour for multiple strategies (sequel + activerecord)"
I'm getting an error on Jenkins environment:
[code]
It seems to be happen after incorrect transaction rollback performed by `database_cleaner`. (Maybe, it works incorrect if sequel transaction is included in ActiveRecord transaction?).

Here is my `database_cleaner` configuration:
[code]
Sequel and AR use the same database:
[code]
(mysql 5.6, database_cleaner 1.5.3, mysql2 0.3.14 and activerecord

[2017-01-05 04:55] dwbutler commented on #466
Same. Using truncation strategy with Mongoid 6, Database Cleaner 1.5.3, Ruby 2.4.0.

[code]

[2017-01-05 05:02] dwbutler commented on #466
On closer inspection, this is an issue with the `mongo` gem, not Database Cleaner. See https://github.com/mongodb/mongo-ruby-driver/pull/847.

[2017-01-05 07:50] marceloboeira commented on #466
@dwbutler thanks! Do we close this one?

[2017-01-05 15:19] dwbutler commented on #466
Yes. There isn't anything for Database Cleaner to fix here. We just have to wait until a new version of the mongo driver is released that is compatible with Ruby 2.4.0.

[2017-01-05 15:25] #466 closed

[2017-01-06 23:59] hansondr opened #468 "Wrapping ActiveRecord test causes it to fail (no records found)"
I created a script to demonstrate this behavior:

[code]

[2017-01-07 00:07] hansondr commented on #468
Expected output:

[code]

[2017-01-08 04:59] ijunaid8088 opened #469 "Database cleaner with multiple DBs"
I have been using DB cleaner with my only db but now I have 2 of them, and I am getting this error in testing mode as
[code]

At first my whole sequel models were using only one db but now i have connected my one model with a separate Db as

[code]

and in spec helper I have these configurations
[code]

[2017-01-09 17:41] hansondr commented on #468
I've temporarily sidestepped this issue but selectively disabling database cleaner on specs in which this error is present:

[code]

Then to skip automatic cleaning in a spec:
[code]

[2017-01-10 19:09] twalpole commented on #466
FYI - This isn't an issue with mongo, it's an issue with MRI Ruby 2.4.0 - Anything using delegators via forwardable.rb is potentially broken.  https://bugs.ruby-lang.org/issues/13107   Fix will come in Ruby 2.4.1

[2017-01-10 19:13] marceloboeira commented on #466
@twalpole 👍

[2017-01-12 14:24] etagwerker commented on #467
@vbyno Could you add more information about the scenario?

Could you try setting up two connections to the database? One for Sequel and another for ActiveRecord? You can see how to configure database_cleaner over here: https://github.com/DatabaseCleaner/database_cleaner#how-to-use-with-multiple-orms

[2017-01-19 23:43] Xosmond opened #471 "Support for multitenant - Apartment Gem"
I have a problem using apartment gem. I'm trying to clean the current tenant database but there are records on the database after cleaning it and also the id's continue increasing. How do you ever deal with this ?.

By the time i'm using the "delete_all" for a class (yes this problem happens only with one class but the id of all are increasing). I have a special situation when I run three tests, t

[2017-01-21 11:57] randoum commented on #464
You don't need database cleaner for this. Simply call the related rake tasks from a `before(:suite)` block

[2017-01-23 18:39] mathieujobin commented on #464
thanks

[2017-01-23 18:39] #464 closed

[2017-01-24 23:23] #471 closed

[2017-01-26 19:36] vbyno commented on #467
@etagwerker , I've tried configuration like this, but had no luck.:
[code]

[2017-02-02 14:22] SkyWriter commented on #456
Stumbled upon the same issue. And you gave me a hint:

Turns out that it happens when you don't establish a database connection. Once you issue a `Sequel.connect` call, it all works fine.

[2017-02-13 13:43] brauliobo opened #474 "Transaction fails with Sequel"
[code]

[2017-02-17 14:22] baschtl commented on #469
I just had the same issue. I solved it by setting the database instance manually:

[code]

[2017-02-24 10:58] baschtl commented on #463
@RedFred7 Have a look at https://github.com/DatabaseCleaner/database_cleaner/issues/286. Sequel adds foreign key constraints automatically which means you cannot just truncate tables. But you can workaround the issue with disabling the key checks temporarily.

[2017-02-24 11:09] RedFred7 commented on #463
Thanks @baschtl, I've already done that, as a workaround.  But isn't this something DatabaseCleaner should be doing itself though? I mean if it supports truncation shouldn't it be also disabling referential integrity checks? In any case, I'll close this issue as duplicate to [#286](https://github.com/DatabaseCleaner/database_cleaner/issues/286), thanks.

[2017-02-24 11:09] #463 closed

[2017-03-04 12:10] dsounded opened #475 "DatabaseCleaner freezes the system when using truncation strategy"
Ruby: 2.3.0
Rails: 5.0.2
DatabaseCleaner: 1.5.3
Mysql: 5.5
mysql adapter: mysql 0.3.19

My spec config:

`config.before(:suite) do`
`    DatabaseCleaner.clean_with(:truncation)`
`  end`

  `config.before(:each) do`
`    DatabaseCleaner.strategy = :transaction`
`  end`

  `config.before(:each, js: true) do`
`    DatabaseCleaner.strategy = :truncation`
`  end`

`  config.before(:each) do`
`    Datab

[2017-03-04 12:25] dsounded commented on #475
Seems like there were troubles with database

[2017-03-04 12:25] #475 closed

[2017-03-05 18:31] activefx opened #476 "Rails 5.1 removes ActiveRecord::Migrator.schema_migrations_table_name"
ActiveRecord truncation strategy fails on Rails 5.1 because `ActiveRecord::Migrator.schema_migrations_table_name` has been replaced with `ActiveRecord::SchemaMigration.table_name`

[2017-03-05 20:54] djolereject commented on #476
I'm getting it too.
On starting tests, this message appears:

[code]

[2017-03-08 17:34] HarlemSquirrel opened #478 "Rails 5 #tables deprecation warning when cached_tables: true"
I'm using version 1.5.3 of DatabaseCleaner with Rails 5.0.1 and receive the following warning when setting `DatabaseCleaner.strategy = :truncation, { cache_tables: false }`

[code]

This is similar to the issue resolved with https://github.com/DatabaseCleaner/database_cleaner/pull/415

[2017-03-09 09:27] vinagrito commented on #299
I wouldn't encourage to use the master version (in general) if you have a good version. Stick to a know working version. As @magedmakled mentioned, works on `1.5.1`. I see `1.5.3` working as well

[2017-03-10 06:47] zedtux opened #479 "How to clone the structure instead of re-creating it?"
I'm working on an application composed of 322 tables. Launching Cucumber or Rspec is taking a while because of the table and indexes creation + the fixtures import.

Is there a way to tell DatabaseCleaner to clone an existing schema instead of re-creating it entirely from a file?

[2017-03-10 16:23] jasnow commented on #476
FYI: Think this has gone away: https://github.com/rails/rails/commit/96aa18974adf7321f265eafbdfe74c7c6e007cb0

[2017-03-10 18:26] agrberg commented on #418
@sarsena I don't think it's the ideal solution but I was able to take care of my secondbase database cleaning with
[code]

[2017-03-15 13:49] benoittgt opened #480 "Wrong argument passed to DatabaseCleaner"
Hello

Here is the issue I receive when I'm running my test suite :

[code]

Sometimes it's a different param...

[code]

I don't understand what's happen because 99% of the test pass but random throw me this error. I don't know if it's related to mongo or database cleaner.

[2017-03-19 21:13] rastating commented on #469
Thanks, this just resolved the same issue for me :+1:

[2017-03-20 15:01] ronak21691 commented on #466
I am facing the same issue, any idea when ruby 2.4.1 will be released or is there any work around for the time being.

[2017-03-20 17:40] twalpole commented on #466
@ronak21691  There is no published timetable for 2.4.1 - workaround is to revert to 2.3.3

[2017-03-21 07:22] ronak21691 commented on #466
Thanks, working fine now.

[2017-03-21 12:56] terry90 commented on #476
+1 must fix this

[2017-03-21 13:29] #476 closed

[2017-03-21 20:22] jasnow commented on #476
FYI: Now we are getting: **DEPRECATION WARNING: schema_migrations_table_name
is deprecated and will be removed from Rails 5.2** - Probably another issue. FYI

[2017-03-22 12:42] etagwerker commented on #476
@jasnow This is now fixed in `master` - Soon I'll release 1.6.0 with @activefx's fix.

[2017-03-22 18:28] jasnow commented on #476
Thanks

[2017-03-23 08:03] ncreuschling commented on #466
Ruby v2.4.1 just got released. Can somebody confirm if it works now.

[2017-03-23 10:33] dwbutler commented on #466
I can confirm that this issue is fixed under Ruby 2.4.1.

[2017-04-02 17:27] voleoo commented on #478
I think it's fixed in master

[2017-04-03 18:01] travisLilleberg opened #482 "Nested FactoryGirl factories not being cleaned"
Hello, I just had a quick question about how database_cleaner handles factories nested inside factories.

I have some basic tests for my FedoraResource model which itself `belongs_to:` a Spotlight::Exhibit model. When I run tests on FedoraResource, I generate a row in both the resources table and the exhibits table. Database cleaner is only cleaning the resources table. It doesn't appear to realiz

[2017-04-03 18:09] etagwerker commented on #482
@travisLilleberg As long as you're using the same ORM/database, it doesn't matter if you're using `FactoryGirl` or anything else to create your records. DatabaseCleaner will clean all the tables that were used.

Could you use this configuration? https://github.com/DatabaseCleaner/database_cleaner#rspec-example

Also, could you post your full `spec_helper.rb`?

[2017-04-04 14:17] travisLilleberg commented on #482
Tried the alternate configuration, but same result. The exhibit factory was in a gem, so I copied it into my application and used it as a local factory, but no change there either.

_spec_helper:_
[code]

_full rails_helper:_
[code]

[2017-04-04 14:19] travisLilleberg commented on #482
Interestingly, I've found the problem in my rails_helper.rb. It's the create_fedora_builder_file method. When I stop calling that, the problem goes away.

[2017-04-20 12:35] arambert commented on #447
I got a similar problem with rails 5.0.2, ActiveRecord and a transaction strategy.
I switched to truncation, it now works correctly.

[2017-04-28 11:04] morgoth commented on #476
Can we have a release? Rails 5.1 is out and it outputs this warning when using stable version of database cleaner

[2017-04-30 01:49] #482 closed

[2017-05-02 08:38] danielroseman commented on #460
I see that the version number has been bumped to 1.6.0 but there hasn't actually been a release; Rubygems is still showing the latest version as 1.5.3. With the release of Rails 5.1 this gem is now showing a deprecation warning; please can the latest version be pushed?

[2017-05-03 12:58] #455 closed

[2017-05-04 19:20] etagwerker commented on #476
Just released a new version of database_cleaner with this fix: http://databasecleaner.github.io/2017/05/04/v1-6-0-is-out/ 👍

[2017-05-04 19:27] tonyc commented on #476
Thank you!

[2017-05-12 13:54] olleolleolle commented on #478
@HarlemSquirrel Does this happen with 1.6.1?

[2017-05-13 20:29] HarlemSquirrel commented on #478
Everything seems to be fine with 1.5.3 @olleolleolle

[2017-05-13 21:09] HarlemSquirrel commented on #478
@olleolleolle Things seems to be working well on 1.6.1 too.

[2017-05-14 08:17] olleolleolle commented on #478
@HarlemSquirrel Is this issue then closable?

[2017-05-14 11:37] etagwerker commented on #478
@olleolleolle @HarlemSquirrel I'm going to close this issue now. It's fixed starting in version 1.6.0: http://databasecleaner.github.io/2017/05/04/v1-6-0-is-out/

Thanks!

[2017-05-14 11:37] #478 closed

[2017-05-17 17:30] etagwerker commented on #460
`database_cleaner` version 1.6.1 was released last week: http://databasecleaner.github.io/2017/05/09/v1-6-1-is-out/

[2017-05-17 17:30] #460 closed

[2017-05-18 13:05] etagwerker opened #488 "Remove Gemfile.lock"
Here is [why](http://stackoverflow.com/a/4151540/615138).

[2017-05-27 19:47] sbonami commented on #381
Bump? I'm seeing this as well

[2017-05-30 19:08] ajmiciano opened #489 "DatabaseCleaner with before(:all)"
I am using the common configuration of DatabaseCleaner and I came across a problem.
When I use `before(:all)`, the DatabaseCleaner does not clear the records created inside the hook.

Has anyone seen this?

Configuration:
[code]

My hook:
[code]

[2017-06-01 16:22] mauro-oto commented on #489
@ajmiciano your DatabaseCleaner config hooks into `:each`, for RSpec's `before(:each)` blocks, but there's no mention of `config.before(:all)`.

Usually `before(:all)` is something you want to avoid. The reason being that anything you create in a `before(:all)` by default is persisted throughout all of your test suite, bleeding into other tests.

You need to make sure to either clean up after it w

[2017-06-01 19:38] stevenharman commented on #422
Looks like this will be closed with #487 ships.

[2017-06-01 20:01] stevenharman commented on #422
Lies... now we'll need to wait for https://github.com/DatabaseCleaner/database_cleaner/pull/491 to land and ship.

[2017-06-08 13:55] austinthecoder opened #492 "Sequel deletion does work"
The deletion strategy works and is faster for Sequel. Is that just a typo in the docs?

[2017-06-12 06:26] rybex opened #493 "Test actions wrapped in transaction with Hanami"
Hi,

I am using the hanami framework and the rspec lib to test my code and PG database. When I trying to test one action I get following error:

`PG::InFailedSqlTransaction: ERROR:  current transaction is aborted, commands ignored until end of transaction block`

My action has been wrapped in repository transaction:

[code]

Here you can see part of my test which are failing:

[code]

First test p

[2017-06-12 15:21] knightq opened #494 "Before clean hook"
It would be very useful to have the chance to hook into the code execution of `clean` method to prevent - through an hook (via config) - the execution.

The use case is - for example - the bad execution of test in the wrong execution environment (read: production).

What if you mistakenly run your test suite against the wrong DB?
It happens that `database_cleaner` does its job and _delete all prod

[2017-06-20 13:13] hampei opened #495 "database cleaner breaks .reload in some cases?"
We have some code where we reload an instance and then call update_attributes.

[code]

After the update from 1.2.0 to 1.6.1 this suddenly fails because it's trying to do an insert instead of an update in the database (making a database restraint fail).

The really funny thing is

[code]

works just fine. As does

[code]

No time right now to create a small testrepo, but figured I'd mention it any

[2017-06-28 23:14] dreammaker commented on #456
I'm having this problem too.  It's repeatable for specific run orders with a `--seed`.  The specific error that I got for anyone searching is:

    NoMethodError: undefined method `rollback' for nil:NilClass

I'm using database_cleaner v1.6.1, which is currently the latest release.

What's the best way to fix this?  It seems like creating a connection unnecessarily is not ideal.

[2017-07-07 08:48] vbyno commented on #467
It looks like the issue is not reproducible within new `DatabaseCleaner` versions. I'll close it.

[2017-07-07 08:48] #467 closed

[2017-08-07 08:38] Fornacula commented on #454
Same case for me.

[2017-08-07 12:29] etagwerker commented on #454
@Fornacula @bradurani I believe this has been fixed in the latest version. Is this still happening with version 1.6.1? Please let me know.

[2017-08-07 16:39] Fornacula commented on #454
My bad - I was using older version (1.5.3) :)

[2017-08-07 16:42] etagwerker commented on #454
@Fornacula Great, thanks!

[2017-08-07 16:42] #454 closed

[2017-08-15 06:25] voxik commented on #237
Still an issue for 1.6.1

[2017-08-18 15:31] ryanong commented on #447
I added a new strategy. The transaction isn't clear across all threads
[code]

[2017-08-18 15:55] aoozdemir opened #499 "require 'database_cleaner' returns false"
~~I can't seem to make `database_cleaner` work. And even on `rails c test`, requiring the gem returns false.~~

~~What am I missing here?~~

Just nevermind! 🤦‍♂️

[2017-08-18 16:03] #499 closed

[2017-08-18 17:26] etagwerker commented on #499
@aoozdemir Next time you submit an issue please include your `Gemfile.lock` and the code that you're trying to use.

[2017-08-23 12:26] #492 closed

[2017-08-30 09:14] arambert commented on #447
I tried your new strategy and it works perfectly!
`DatabaseCleaner.strategy = DatabaseCleaner::ActiveRecord::Transaction4.new`

This probably justifies a PR, don't you think?

[2017-08-31 14:23] clemens opened #502 "Clean with transaction not working for 2 databases"
I've used DatabaseCleaner for several years (thanks!) without issues. But my current setup seems to not work properly.

Basic setup:

- Grape 0.19.2
- ActiveRecord 5.1.3 (+ otr-activerecord 1.2.4)
- RSpec 3.6.0
- DatabaseCleaner 1.6.1
- Posgres 9.5

On noteworthy thing about the app here is that it's using multiple databases: One main database and several tenant databases. In the test environment,

[2017-08-31 17:14] ryanong commented on #447
probably. https://github.com/rails/rails/blob/5-0-stable/activerecord/lib/active_record/fixtures.rb#L963 if you want some context around what is going on

[2017-09-06 17:45] rdlu opened #503 "Database Cleaner truncating the wrong environment DB"
I have found a weird issue when using database cleaner in one of my rspec'd projects.

If you set a url: in /development section/ of database.yml, it ignores the socket and database strings of /test section/.

In my case I mistakenly truncated the homologation database running rspec with guard, because I was manually testing a corner condition using that homolog url as development.

So be careful

[2017-09-27 08:48] principat commented on #502
i have the same issue in jruby 9.1.12.0-p0:
database_cleaner (1.6.1)
rspec-core (3.6.0)
activerecord (4.2.0)
activerecord-jdbc-adapter (1.3.23)
activerecord-oracle_enhanced-adapter (1.6.9)

[2017-10-03 18:27] etagwerker commented on #503
@rdlu Hi, I'm not able to reproduce this issue. Could you submit more information?

I assume you're using active_record. If so, what version?

Also, could you submit the code that you're using to setup database_cleaner?

Thanks!

[2017-10-03 18:33] etagwerker commented on #502
@clemens Hi, just curious, why are these lines commented out?

[code]

[2017-10-03 18:54] clemens commented on #502
During my testing, I cared about the tenant database, not the primary one. In my actual test suite, obviously both should be cleaned.

[2017-10-06 16:44] 0x414f opened #504 "Exclude SQLite views from tables_to_truncate"
With SQLite3, DatabaseCleaner tries to truncate views.

[code]

Issue appears to be [here](https://github.com/DatabaseCleaner/database_cleaner/blob/9755bc55dcb2b2f17df15e4d8fe94772487c2404/lib/database_cleaner/active_record/truncation.rb#L25).

[code]
Running `select table_name from information_schema.views` in SQLite3 returns

[code]

Looks like this was fixed for other adapters [here](https://gi

[2017-10-09 19:31] msmith1114 opened #505 "Can't seem to get :truncation to work with MS SQL Server"
Hi, so im at wits end trying to get this to work. Right now were connecting to MS SQL Server (2014) VM using the Activerecord gem for SQL Server: gem 'activerecord-sqlserver-adapter'

I can't seem to get DB Cleaner to work with this. It's worked great in the past using capybara/selenium webdriver.

I know you have to set it to use truncation strategy, but even putting:

[code]
at the beginning of

[2017-10-18 12:55] arambert commented on #447
I've switched back to truncation because event with the fix suggested by @ryanong it fails sometimes to properly reset the database 😢

Is anyone getting the same problem with the transaction strategy?

[2017-10-22 14:02] redtachyons commented on #456
I am getting this error randomly in rails 5.1

[2017-10-31 17:57] etagwerker opened #506 "Remove symlimk from package"
For more info: https://github.com/DatabaseCleaner/database_cleaner/commit/8c14a276ddb8115bb391d59cdf6b706577d29678#commitcomment-25314056

[2017-11-07 19:27] msmith1114 commented on #428
Im running into the same problem. Using the %only option isn't really ideal because we have MULTIPLE table names, also I believe you need to include the schema.table_name even using the %only option, since otherwise it seems to throw it to 'delete' which is just deleting the entire table for me.

[2017-11-09 11:08] Aravind99 opened #509 "Duplicate Key for first time rspec"
This error occured for the first time I ran (rspec) and then there is no error.
Mysql2::Error: Duplicate entry '1' for key 'PRIMARY': INSERT INTO `products` (`title`, `amount`, `coutry_id`, `product_type`, `id`, `created_at`, `updated_at`) VALUES ('samsung LED TV', 50000.0, 1, 'Luxury', 1, '2017-11-09 16:22:59', '2017-11-09 16:22:59')

[code]
[code]

[code]

[2017-11-13 02:01] etagwerker commented on #509
@Aravind99 It seems that you're starting with a dirty database. Please try using the code in this example: https://github.com/DatabaseCleaner/database_cleaner#rspec-example

[2017-11-13 02:01] #509 closed

[2017-11-14 13:56] zedtux commented on #479
I'm no more working on this application so I'm closing this issue.

[2017-11-14 13:56] #479 closed

[2017-11-16 13:11] rlue opened #511 "Getter method for strategy (to help with debugging)"
It appears that DatabaseCleaner does not currently support a getter method for determining which strategy it currently employs:

[code]

It would be nice to have this just so I could confirm, in my debugger, that I have DatabaseCleaner set up the way I had intended.

Is there another way to do this that I've missed?

[2017-11-21 12:22] Aravind99 commented on #509
@etagwerker Thanks :+1:

[2017-11-22 03:01] soundasleep opened #512 "database_cleaner 1.6.2 not installing on Windows: Errno::EACCES: Permission denied @ rb_file_s_symlink - (examples/../Gemfile"
When trying to use the latest `database_cleaner` gem:

[code]

However if I change the version to `1.6.1` it works fine:

[code]

Any ideas?

[2017-11-22 03:15] etagwerker commented on #512
@soundasleep This should be fixed in `master` by #508.

Could you test with `master` and confirm that it works?

[2017-11-22 03:19] etagwerker commented on #511
@rlue I think it's a good idea but it's not a trivial change because of this:

https://github.com/DatabaseCleaner/database_cleaner/blob/f052d64d3be9351a98a99e932a59be528ccc561c/lib/database_cleaner/configuration.rb#L64-L67

If your application is using more than one connection, then that could return an Array (or a Hash?)

Could you work on a PR for this?

[2017-11-22 03:20] etagwerker commented on #512
Closing this because it's a duplicate of #506.

[2017-11-22 03:20] #512 closed

[2017-11-22 03:23] etagwerker commented on #505
@msmith1114 Please post more information about your test setup code. Does it look exactly like the example? https://github.com/DatabaseCleaner/database_cleaner#rspec-example

[2017-11-22 03:26] etagwerker commented on #504
@0x414f What ORM and strategy are you using?

[2017-11-22 04:00] rlue commented on #511
I am, but it's going to be a while before I have time to familiarize myself with the codebase enough to know what the implications of my changes will be.

I'm not sure I understand — the `::strategy=` method appears to unconditionally set the strategy on all connections. Is there another way that an individual connection's strategy might be changed? Otherwise, wouldn't we expect all connections to

[2017-11-26 23:22] akatriel commented on #506
Still getting this issue
[code]

[2017-11-27 21:35] konalegi opened #513 "Deletion strategy reset ids sequence"
Is it possible with `deletion` strategy to reset ids sequence (Postgres) ? Cannot use truncation strategy, because it is really slow for us. (`truncation` - 8 sec, `deletion` 0.3 sec)

[2017-12-07 12:59] cleicar commented on #506
@etagwerker, I think that I fixed it on this commit:  https://github.com/DatabaseCleaner/database_cleaner/commit/a615552196d5707752d5e15752fe19e9b4c0badd

Did you release a new version? Can we close this issue?

[2017-12-07 13:12] etagwerker commented on #506
@akatriel @cleicar Could you test with `master` in Windows and confirm that you're no longer getting the `Errno::EACCES` error?

[2017-12-10 07:07] Honest-Objections commented on #506
Not sure how to run with ```master```, however the standard ```gem 'database_cleaner'``` is till installing ```1.6.2``` and failing

[2017-12-15 17:32] cleicar commented on #506
@etagwerker I came to the same conclusion. Changes are on `master` but the version isn't released on RubyGems. The version is still on `1.6.2`

[2017-12-18 16:57] duffyjp commented on #445
This has started happening to me on Jenkins.  I'm running with RSpec and Capybara, and use the appropriate RSpec config settings for that setup. (see below).  Everything *was* working fine, just started a week ago or so for no discernible reason.

Rails: 5.0.6
Database Cleaner: 1.6.2

Tests run for a moment then I get this:

[code]

Here is the DatabaseCleaner chunk of my `rails_helper.rb`

[code]

[2017-12-29 03:48] abhchand opened #515 "ActiveRecord Truncation does not work when using multiple schemas"
Hello - thanks for putting together `database_cleaner`! I've been using the gem for a while and I know maintenance takes effort, so appreciate those who contribute to this project.

I'm using the following setup -

- Rails 5.1.0
- ActiveRecord 3.0.0
- Postgres 9.6

Like many multi-tenant applications, my app utilizes postgres schemas which store parrallel, independent copies of my database tables.

[2018-01-02 05:37] rlue commented on #511
@etagwerker I finally got around to taking a look at the code. Here's my understanding — please correct me if I'm mistaken:

* Each “connection” is an element of the `@connections` instance variable on the `DatabaseCleaner` module, and
* These connections are instances of the `DatabaseCleaner::Base` class.

What would you think of adding the `#strategy` getter method on the `DatabaseCleaner::Base`

[2018-01-04 13:32] isacaraujo opened #516 "warning: instance variable @table_stats_query not initialized"
Always I run the test with `:deletion` strategy, I got this error:

[code]

My environment:

- OSX 10.13.2 (17C88)
- ruby 2.4.2p198
- rspec (3.7.0)
- mysql2 (0.4.10)
- database_cleaner (1.6.2)
- activerecord (5.1.4)

Workaround:

As workaround, I fixed as follow:

[code]

[2018-01-05 07:18] u46esp opened #517 "MySQL table_stats_query failed when table name is one of reserved words"
First off - database_cleaner is such a great help for me! Kudos to all contributors for your efforts in building, polishing and maintaining this.

I use MySQL for a Rails project which we use database_cleaner and RSpec to perform testing. Recently we've upgraded database_cleaner from version 1.5.0 to 1.6.2 and we can't clean with delete strategy anymore. We found out at some point that one of our

[2018-01-06 14:55] rlue commented on #511
Sorry, disregard my last comment. 1) I hadn't noticed that `DatabaseCleaner::Base#strategy` is already defined, and 2) I misunderstood how `DatabaseCleaner::[]` works.

I'm submitting a PR according to your previous suggestion.

[2018-01-08 13:04] fcheung commented on #515
I've come across a similar thing. For now doing
[code]
and then wrapping calls to `Databasecleaner.clean` with `with_all_schemas` seems to do the trick

[2018-01-10 08:53] rameshjesswani commented on #506
I am also facing same issue, I am on ```master```, but still it is not working for me. Can anyone help please?

[code]

[2018-01-10 11:23] Honest-Objections commented on #506
Simply use version ```1.6.1``` until this issue is resolved

[2018-01-14 17:02] proton commented on #517
I think it's better to change ` (backquote) to " (doublequote)

[2018-01-15 11:59] ahorek commented on #517
https://github.com/DatabaseCleaner/database_cleaner/pull/501

[2018-01-19 16:57] mgiagante commented on #447
I'm having the same problem, with Rails 5.1.4 and PostgreSQL 9.5.10. Might this be related to environments? Does database_cleaner know it has to clean the test database without any config?

[code]

[2018-01-22 15:40] lupine commented on #347
I've just experienced this issue while porting GitLab's spec suite from the truncation strategy to the deletion strategy: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/16516#note_55605767

If there's still interest in a PR to fix this upstream, I'm happy to work on it so we can remove the above monkey-patch!

[2018-01-22 16:59] mauro-oto commented on #347
@lupine awesome, yes, we're interested. Thanks!

[2018-01-29 10:11] zedtux opened #519 "Disable DatabaseCleaner for specific specs"
I'm testing a Rails application using DatabaseCleaner and all is fine until I started to test a service (a Plain-Old Ruby Object (PORO)) and have to always wait on DatabaseCleaner to truncate all the tables while the service is not persisting any data.

So is there a way to say that for my service, I don't need at all DatabaseCleaner and so get the tests running faster?

[2018-01-31 22:48] mauro-oto commented on #519
@zedtux if you use RSpec, you might be able to achieve this by tagging your test with something like `service: :true` or `skip_db_cleaner: :true`, and then in your Database Cleaner config in `spec_helper` or `rails_helper` do something like:

[code]

[2018-02-07 16:29] zedtux commented on #519
Thank you @mauro-oto, I'll try that soon and let you know.

[2018-02-07 18:21] stevenharman commented on #422
@etagwerker, I think we can close this as of #490.

[2018-02-08 14:24] etagwerker commented on #422
@stevenharman 👍

[2018-02-08 14:24] #422 closed

[2018-02-09 22:32] mauro-oto commented on #517
Closed via https://github.com/DatabaseCleaner/database_cleaner/pull/501

[2018-02-09 22:32] #517 closed

[2018-02-10 02:07] LauraKirby commented on #447
@mgiagante thank you for your post!
Rails: 5.1.4
MySql2: 0.4.10

I had modified spec/support/databse_cleaner.rb (remembering to include the file in rails_helper.rb and to set `config.use_transactional_fixtures = false`) in a variety of ways and nothing worked. Each time I ran my tests, the previous database objects persisted.

Solution:
- If you have added, `spec/support/databse_cleaner.rb`, delet

[2018-02-11 07:52] happycollision commented on #445
For what it's worth (and believe me, I have next to no idea what I am talking about), I think my problem with this was solved with `except: %w(ar_internal_metadata schema_migrations)`. I also was still getting the error after using `except: %w(ar_internal_metadata)` so I went hunting.

I added the `schema_migrations` part because I noticed that was a table that was originally in the DB after a suc

[2018-02-13 09:32] jshumakerpruitt commented on #447
@LauraKirby's solution worked for me. (OpenBSD 6.1, Rails 5.1.4, PostgreSQL 9.6.2)

[2018-02-14 02:25] mgiagante commented on #447
@LauraKirby I'm glad to be of help! As far as I know, it doesn't matter if the configuration is split into two files or unified, as long as it is correctly defined. So don't hesitate to extract parts of it to additional files and require them if it adds up to your code organization.

[2018-03-09 09:48] takanamito opened #520 "How to clean redis all db?"
It looks like `database_cleaner[:redis]` clean only a selected db.
https://github.com/DatabaseCleaner/database_cleaner/blob/f052d64d3be9351a98a99e932a59be528ccc561c/lib/database_cleaner/redis/truncation.rb#L10-L23

In my case, application uses multiple redis db.
So I'd prefer to use not `redis.flushdb` but `redis.flushall`.

Can I use `redis.flushall` in database_cleaner?

[2018-03-14 02:37] gazayas commented on #506
Running windows 7, putting `gem 'database_cleaner', '~> 1.6.1' ` still throws an error saying I saying permission denied, make sure `gem install database_cleaner -v '1.6.2'` installs first.

I changed to the version to `1.5.0` in my gemfile and it finally worked (it installed `1.5.3`).

[2018-03-27 14:46] sarojkh commented on #45
@robacarp Thanks! Saved my day.
@bmabey Should not the fact that `clean_with` doesn't share the excluded tables passed in `except` in `strategy=` be included in the README? It would be more obvious.

[2018-03-28 17:10] RTJ opened #523 "DatabaseCleaner cleans my development database instead of test"
Hi.
DatabaseCleaner cleans my development database instead of test
I have tried all possible configurations.
And I still have this problem.

database_cleaner 1.6.2
Rails: 5.1.5
Ruby 2.5

Gemfile:
[code]

in rails_helper i have forced env to test:
`ENV['RAILS_ENV'] = "test"`

DatabaseCLeaner conf file ( i have tried all posible combinations for configuration:
[code]

From tests when i print ENV i g

[2018-03-31 00:15] starrychloe commented on #506
@gazayas You have to use version specifier '~> 1.6.1.0' or '1.6.1'. Bundler will find the latest version ignoring the last digit when you use '~>', so '~>1.6.1' means the latest version between 1.6.0 and 1.6.999.

[2018-03-31 00:18] starrychloe commented on #506
#MeToo

[code]

[2018-03-31 00:21] starrychloe commented on #523
Set your environment from the shell, not from Ruby.

    export RAILS_ENV=test

If you set it from inside a Ruby file, then `Rails.env` may have already been set.

[2018-03-31 01:06] gazayas commented on #506
@starrychloe cool, thanks for the info

[2018-04-03 08:00] RTJ commented on #523
I'm not sure if you have read what I have written.
If I check the environment from the test, the environment i can confirm that the env is TEST not dev, even though databasecleaner uses the development database

code inside some test:
`p ENV["RAILS_ENV"] #=> "test"`
how you cans see everything is correct.

I also want to emphasize that database_cleaner is present only in the test environment:

[co

[2018-04-04 12:33] etagwerker commented on #523
@RTJ Could you post a bit more information about your environment? Please share keys/values without exposing any sensitive information. We've seen unexpected behavior like this when `ENV['DATABASE_URL']` is set.

[2018-04-09 11:34] RTJ commented on #523
There was some bug, this problem was present in different devices.
Test Env was configured correctly, from tests i was geting TEST env but database cleaner was using development database instead of test.

For now i fixed it adding ENV['RAILS_ENV'] = 'test'  to  spec_helper.rb ( i had it only in rails_helper.rb but it seems that it is not enough for database_cleaner )
in my case database cleaner is

[2018-04-09 18:45] oscarAtNava opened #524 "active_record/truncation.rb missing Oracle adapter from to load."
On line 7 of active_record/truncation.rb the list of connection adapters is missing the oracle_enhanced_adapter. Without this adapter name in the list the code in line 224 fails to load the OracleAdapter decorator. As a consequence when you try to use the cleaner with an Oracle DB you get a NotImplemented error when the truncate_table method is executed.

I modified my local copy of database_clean

[2018-04-12 19:45] ryan-plated commented on #447
rails 5.1 updated their transaction strategy so I re-ported it over

[code]

[2018-04-19 01:51] siman-man commented on #409
According to this [History](https://github.com/DatabaseCleaner/database_cleaner/blob/master/History.rdoc#bug-fixes-5), this issue seem to has already been solved. Is this issue closed?

[code]

[2018-04-19 19:46] #409 closed

[2018-04-19 20:37] etagwerker commented on #398
This is fixed in v1.7.0: https://rubygems.org/gems/database_cleaner/versions/1.7.0

Thanks!

[2018-04-19 20:37] #398 closed

[2018-04-19 20:37] etagwerker commented on #523
@RTJ Thanks for sharing! I'm glad it's solved.

[2018-04-19 20:37] #523 closed

[2018-04-19 20:38] etagwerker commented on #516
@isacaraujo Thanks for reporting this! Could you submit a PR with the patch?

[2018-04-20 17:58] blevine opened #527 "DatabaseCleaner.clean hanging"
Environment:
- Ruby 2.5.1
- Rails 5.2.0
- MacOS 10.13.2
- PostgresQL 9.4.0
- DatabaseCleaner 1.6.2

`DatabaseCleaner.clean` hangs.  This occurs regardless of where I put the clean call. See code below. The `clean` call from the `before(:all)` block never returns.  If I remove this call, the spec(s) complete, but the spec command never exits because the `clean` call in the `after(:all)` block hangs

[2018-04-20 19:00] blevine commented on #527
Additional information.  Just noticed in the log output that the hang appears to happen when a transaction is being started.  I see the following as the last line output just before the hang:

   `(0.2ms)  BEGIN`

[2018-04-20 19:06] etagwerker commented on #527
@blevine Supposedly you don't need `database_cleaner` with Rails 5.2.0. Did you try running your spec without `database_cleaner`?

[2018-04-20 19:13] blevine commented on #527
@etagwerker I create a couple of models in my before(:all) that are used by each example and those need to be removed to avoid unique violations the next time the specs are run.  Yes I suppose I could delete each of those fixture models in the after(:all), but I was hoping not to have to do this.  What is it about Rails 5.2.0 that makes DatabaseCleaner not required?

[2018-04-20 19:24] etagwerker commented on #527
@blevine I believe they added support to Rails (starting with 5.1.0). You can find more information here:

- http://guides.rubyonrails.org/5_1_release_notes.html#system-tests
- https://github.com/rails/rails/pull/26703

As an example, here you can see how `solidus` adjusted their test code accordingly: https://github.com/jhawthorn/solidus/commit/9be29352398bee088d216ae11289b4167543942d

[2018-04-20 19:26] etagwerker commented on #524
@oscarAtNava That is quite clear. Could you please submit a PR with your patch?

[2018-04-20 20:26] blevine commented on #527
False alarm.  It seems that either my test database became corrupted or something went wrong with my instance of Postgres.  After some additional testing, it seems that  number of ActiveRecord calls were hanging.  Re-starting Postgres and re-creating the test DB solved the problem.

Apologies!

[2018-04-20 20:26] #527 closed

[2018-04-21 23:40] botandrose opened #528 "New safeguard should consider `sqlite:` urls safe?"
Heya, thanks for database cleaner!

I updated to 1.7.0, and the safeguard tripped on this setting:
[code]

I'm thinking that perhaps "sqlite3:" urls should always be considered local? AFAICT you can't connect to a remote sqlite server over this procotol. What do you think? I'll submit a PR if this sounds agreeable.

[2018-04-22 03:47] saiqulhaq commented on #528
yes I'm agree with you
sqlite is local database

[2018-04-27 20:05] oscarAtNava commented on #524
Will do. I need to be added as contributor?

[2018-04-27 20:15] etagwerker commented on #524
@oscarAtNava It's not necessary. You need to fork the repository, create a branch, commit the change to the branch, push to your forked repo, and finally open a PR.

Here is more info here: https://github.com/DatabaseCleaner/database_cleaner/blob/master/CONTRIBUTE.markdown

Considering it's such a small change, it won't be necessary to add a test.

[2018-04-27 20:17] oscarAtNava commented on #524
Ok, I did create a branch but missed the forking step. Will do.

[2018-04-27 20:53] oscarAtNava commented on #524
https://github.com/DatabaseCleaner/database_cleaner/pull/542

[2018-04-28 01:22] botandrose opened #543 "2.0 release?"
@etagwerker I took a look at your 2-0 branch, and some of the other associated repos. I agree that this is the direction needed to pull database_cleaner out of dependency hell, and get Appraisals for different versions of AR, etc.

Now that the test suite is looking a bit better, I was thinking about taking a stab at this. It's been two years since your 2-0 branch and new repo extractions, though,

[2018-04-28 20:27] etagwerker commented on #543
@botandrose hey, i'm glad that you agree and are interested in helping out with this much needed change for 2.0.

https://github.com/DatabaseCleaner/database_cleaner/tree/2-0 is a branch that i started a long time ago and i don't know how hard it will be to rebase the changes we have added to `master` since then.

i think you could give it a shot. it might be easier than you think. not much has ch

[2018-04-30 16:13] oscarAtNava commented on #524
My pull request is green. When will it be merged to master and available for us to use in our app?

[2018-04-30 19:50] jrgns opened #544 "sqlite::memory: is seen as a "remote url""
Some of my projects use `sqlite::memory:` as the URL when doing CI.

The [CI started failing](https://travis-ci.org/EagerELK/ditty/jobs/373193311#L616) though due to the `DatabaseCleaner::Safeguard::Error::RemoteDatabaseUrl` check.

Can `sqlite::memory:` please be seen as a local DB?

[2018-04-30 20:01] etagwerker commented on #544
@jrgns Could you test with the latest version in `master`? This should have been fixed by https://github.com/DatabaseCleaner/database_cleaner/pull/529

[2018-04-30 20:06] jrgns commented on #544
@etagwerker Sorry, didn't see that issue :)

[2018-04-30 20:06] #544 closed