[2018-04-30 21:36] itamarhaber opened #545 "The Redis cleaner uses `KEYS`"
I recommend against using this tool in production... at all costs.

[2018-05-01 00:42] #545 closed

[2018-05-01 00:43] etagwerker commented on #524
@oscarAtNava Just merged #542. You can test that it works using `master` now. Thanks!

[2018-05-01 00:43] #524 closed

[2018-05-01 03:08] botandrose commented on #543
@etagwerker Okay, sounds great! I am glad you suggested cutting a 1.x deprecation release... I was thinking the same thing! I'm putting together an outline of what I'm thinking the road to 2.0 could look like, and will post it here for feedback, shortly.

[2018-05-01 18:26] botandrose opened #546 "Improve DatabaseCleaner Configuration API"
Way back in 2012, 016d66c4c9621fceadbebeb80feb5744d810c681 changed the `::[]` API to act as both a command and query, in a decision based on pragmatism. At the time, @bmabey noted his dislike for this, and his desire to deprecate it. Now that we're talking about a v2.0 release, I think this is a good time to talk about improving this situation in a backwards-incompatible way.

I have an alternativ

[2018-05-02 05:53] botandrose commented on #543
# 1.9.0
  - Deprecate ORM autodetection
    - Clients will explicitly declare ORMs in Gemfile e.g. `gem database_cleaner-active_record`, etc.

  - Deprecate API methods
    - DatabaseCleaner.[] - Split out into its own issue #546
    - DatabaseCleaner.clean! - use .clean instead
    - DatabaseCleaner.clean_with! - use .clean_with instead
    - DatabaseCleaner::Base#clean! - use .clean instead

[2018-05-02 09:33] sandelius opened #548 "Safeguards with SQLite"
When using SQLite, e.g `DATABASE_URL=sqlite:///path/to/database.db` the safeguards raises the error since `localhost` is not part of the URL. This should not happen.

[2018-05-02 13:07] etagwerker commented on #548
This is a duplicate of https://github.com/DatabaseCleaner/database_cleaner/issues/528

Please use `master` until a new release is published.

[2018-05-02 13:07] #548 closed

[2018-05-02 13:09] #519 closed

[2018-05-02 13:11] #506 closed

[2018-05-02 13:12] #503 closed

[2018-05-04 06:45] zedtux commented on #519
@mauro-oto it is working fine, I just changed the `:true` to `true`. 👍

[2018-05-10 07:02] sobinsunny commented on #325
I faced this problem and  I fixed this issue by adding  ```require 'rails_helper'``` in ```spec_helper.rb``` file

[2018-05-16 02:34] botandrose commented on #543
@etagwerker Heya, just checking in. I'm going to be starting up some big projects in a few weeks, so my window of opportunity to put in some significant hours on this is starting to close. I've done some additional work on branches, but they're currently blocked on some of the open PRs. I know you're very busy, but if you wouldn't mind taking a look at those PRs, that would do a lot to unblock me

[2018-05-16 11:08] yb66 commented on #456
My quick and dirty solution was to use an ENV var:

[code]

And then in the specs that don't need the database:

[code]

Regards,
iain

[2018-05-17 06:14] DannyBen opened #554 "1.7.0 breaks Cucumber with DATABASE_URL"
After upgrading from 1.6.2 to 1.7.0 I get the friendly (thanks for that) safeguards error when running cucumber features on CI (where it uses DATABASE_URL):
[code]

So I went ahead and tried following the instructions in the README section.

First, tried allowing this the Ruby way, inside `features/support/env.rb` (which is the only place I saw `DatabaseCleaner` in my code):

[code]

That didn't w

[2018-05-17 21:15] etagwerker commented on #543
@botandrose Hey, I just merged a bunch of pull requests. I have limited time for open source projects as well (parenting and billable projects take most of my time). What PR is blocking you?

It seems that your plan is similar to what I had in mind.

A couple of comments:

I'm not sure that matters so much. Some gems are minimal and require little (no?) maintenance. I think `ohm` is one of them.

[2018-05-18 00:07] botandrose commented on #543
Hey @etagwerker, thanks for the merges and feedback! This is all very helpful. I only have a minute here, so I'll be brief, but I'd like core to provide adapter gems with as much of a test suite as possible, and that work is blocked by #538. I'm also looking into supporting adapter gems in the 1.x series, so users can see the deprecation warnings, but also have a path to fixing them, all within th

[2018-05-19 03:03] botandrose opened #555 "Deprecate and remove `DatabaseCleaner.app_root` setting in v2.0?"
This setting appears to only be used in one place... providing the base for the default value of `DatabaseCleaner::ActiveRecord.config_file_location`, like so: `"#{DatabaseCleaner.app_root}/config/database.yml"`.

We could keep this behavior by inlining the usage of `app_root` with its default: `Dir.pwd`. If customization of this path is needed, this setting can be overridden directly, like so:
`D

[2018-05-20 17:10] rgaufman opened #556 "I don't have ActiveRecord, but getting: ActiveRecord::ConnectionNotEstablished"
Hi there,

I do not have (or want) ActiveRecord, however, when I run rspec, it is showing this:

[code]

Any ideas?

I'm on rails (5.2.0), database_cleaner (1.7.0)

my application.rb has the following (excluding ActiveRecord):

[code]

[2018-05-20 17:27] etagwerker commented on #556
@rgaufman Could you share the `DatabaseCleaner` code from your `spec_helper.rb`? How are you configuring `DatabaseCleaner` within your test suite?

[2018-05-20 17:48] #447 closed

[2018-05-20 17:48] #80 closed

[2018-05-20 17:49] #105 closed

[2018-05-21 11:46] rgaufman commented on #556
I also tried adding:
[code]

But it's still trying to connect to ActiveRecord:

[code]

Any ideas?

[2018-05-21 12:39] rgaufman commented on #556
Ah, I had to add this to my spec_helper.rb - this is a change that was introduced by ActiveStorage:

[code]

[2018-05-21 12:39] #556 closed

[2018-05-21 18:49] botandrose opened #558 "Deprecate and remove `DatabaseCleaner.logger` setting in v2.0?"
This setting appears to be completely unused. Any reason to keep it?

[2018-05-23 22:39] botandrose opened #559 "`reset_ids: false` setting has no effect in AR Truncation strategy"
While refactoring specs, it became apparent that the `reset_ids: false` setting has no effect in the AR truncation strategy. While this wouldn't be too hard to fix, it makes me wonder... What exactly is the value of this setting? In what circumstance would you want the ids to not reset?

[2018-06-11 08:39] hakunin commented on #493
I've got the same issue. It looks like DatabaseCleaner is using savepoints and once the transaction goes bad (using Postgres) it cannot be reused and a [new transaction needs to be created](https://stackoverflow.com/questions/21138207/activerecordstatementinvalid-pg-infailedsqltransaction/31146267).

I am trying to figure out how to catch the initial issue, or even catch the error and re-run the t

[2018-06-11 23:34] fdr opened #561 "Unix sockets should be considered local with Postgres"
Similar to #528, localish URLs relying on unix sockets are miscategorized with Postgres.

Unix socket urls can look like: `postgres:///dbname` or `postgresql:///dbname` (when using the default unix socket baked into the linked `libpq`) or, more flexibly, `host=/tmp` (`libpq` detects unix sockets with a leading slash: only absolute paths are supported).

I think there is also an IPv6 (`::1`) omissi

[2018-06-15 15:17] fidalgo commented on #403
Just beware that the @dapicester solution will remove all the indices for all environments.

[2018-06-16 02:37] dapicester commented on #403
@fidalgo I've not been using this for a long time and I cannot verify what you wrote.
However, I recall that I have two ElasticSearch instances running, one for `develop` environment and one for `test`, so whatever I do with the `test` instance should not affect the `develop` instance.

[2018-06-18 09:21] fidalgo commented on #403
@dapicester also using https://github.com/ankane/searchkick the indices have a suffix of the environment, like `users_test`

[2018-06-25 09:21] kaikuchn commented on #474
I just ran into the same problem. In my case it's because `Sequel::DATABASES` was empty when calling `DatabaseCleaner.start`.

Thus I simply had to initialise the connection to my database before calling `DatabaseCleaner.start`

[2018-07-30 14:57] sevab opened #564 "Records created in before(:all) are cleared within examples."
I recently switched our config from transactional to truncation strategy as shown in the Rspec + Capybara example in Readme.

However, this seems to affect the data created in the `before(:all)`. With transaction strategy, records created in `before(:all)` were persisted and available between examples, as expected. With truncation strategy, however, records created within `before(:all)` are only a

[2018-07-31 11:49] dreyks commented on #554
you're probably using DatabaseCleaner call somewhere earlier in the suite. In one of the `before` hooks maybe? look at the complete backtrace

[2018-07-31 12:03] DannyBen commented on #554
The only place I am calling `DatabaseCleaner` from my own code is in `features/support/env.rb`

[code]

[2018-08-07 08:35] prashanth-sams opened #565 "Unable to connect sequel DB"
it auto-detects redis ORM; and when I try to connect sequel DB, it throws, `NameError: uninitialized constant Sequel`

![connect](https://user-images.githubusercontent.com/2948696/43764257-10648ffc-9a3e-11e8-875d-a3c1c646b3d4.png)

![screen shot 2018-08-07 at 12 30 35 pm](https://user-images.githubusercontent.com/2948696/43764246-0a7c4864-9a3e-11e8-9814-3ce58102bc20.png)

Note: I use cucumber fram

[2018-08-07 09:04] prashanth-sams commented on #565
Missed `gem 'sequel'`

[2018-08-07 09:04] #565 closed

[2018-08-11 02:38] cody-code-wy commented on #564
This also, perhaps unsupprisingly, also happens with the deletion strategy.

[2018-08-31 19:48] ahorek commented on #564
hi, yes it's an expected behaviour, transaction strategy requires a block and it'll clean only records created within the block
[code]
on the other hand truncation and deletion strategy just clean the whole database except persistant tables
[code]
it's basicaly the same as this
[code]

[2018-09-06 04:53] gumatias opened #566 "Can't `except` tables be partially cleaned?"
hi!

This is really a shot in the dark, but I'm hoping someone can provide some guidance :)

I have a table that some of its data is persisted/seeded and others aren't, i.e. they're created in tests. I wanted to clean the latter only, but whichever combination of RSpec lifecycle hooks I try, it doesn't work.

Am I doing something wrong?

[code]

The new record `temporary_user_role` is still in the

[2018-09-06 13:53] etagwerker commented on #566
@gumatias Is that all the code related to `database_cleaner`?

You don't need to define the strategy for each scenario. You can do it before the suite and then `start/clean` around each scenario. See: https://github.com/DatabaseCleaner/database_cleaner#rspec-example

The only reasonable explanation I can think of is that you are somehow within a transaction that hasn't committed, but I don't know

[2018-09-06 18:34] gumatias commented on #566
thanks, @etagwerker ! You're right... not related to DB Cleaner at all 🤦‍♀️

For whoever else sees this with a similar issue; it had to do with ActAsParanoid!

[2018-09-06 18:34] #566 closed

[2018-10-02 12:37] alex198211 commented on #325
I could be wrong but I think there's no need to load the rails helper for all examples...like I am facing now the same error all out of the sudden for some unit tests..

[2018-11-14 09:21] asnad opened #570 "PG::ConnectionBad: connection is closed after upgrading to rails 5.2"
I have update rails version of my project form 4.2 to 5.2. Now I am getting following error on some of my tests randomly.
`Counters::DefectDistributionContext execute group by defect should group counters by defect
       Failure/Error: DatabaseCleaner[:active_record].clean_with(:truncation)`

       `ActiveRecord::StatementInvalid:
         PG::ConnectionBad: connection is closed: TRUNCATE TABLE

[2018-11-16 17:50] #293 closed

[2018-11-20 05:00] #516 closed

[2019-01-02 20:34] jttyeung opened #572 "undefined method `url_whitelist=' for DatabaseCleaner:Module"
[code]

This is occurring because the latest gem version `1.7.0` was released on April 19, 2018 - one day prior to [these changes](https://github.com/DatabaseCleaner/database_cleaner/commit/c0013de1ee7afb4e25a0581940e22408f73273f9) being merged in.

When specifying `gem "database_cleaner", git: "https://github.com/DatabaseCleaner/database_cleaner", ref: "c0013de1ee7afb4e25a0581940e22408f73273f9"`,

[2019-01-25 01:58] muneebaahmad commented on #325
For me, this usually shows up when I have a syntax error in the file.

[2019-03-01 06:45] manuraj17 opened #573 "Explicit #clean method invocation behavior with parallel_tests"
Hello,

I am trying to understand the implication of having an explicit (although not recommended) call to `DatabaseCleaner.clean` inside an `after` block inside a spec, which is being run in a suite with parallel_tests gem.

From what I understand the parallel_tests gem runs the specs in different processes each with it's own database.
Looking at the DatabaseCleaner code I see that the clean meth

[2019-03-11 03:50] jpwynn commented on #572
It's a little worse that that... if you modify the Gemfile:

`gem 'database_cleaner', :github => 'DatabaseCleaner/database_cleaner', :branch => 'master'`

(and of course run `bundle install`)

running rspec now complains
[code]

even though spec_helper.rb still has `require "database_cleaner"` right where's it's always been.

So the usual advice to use the master branch does not work with the curr

[2019-03-24 11:27] sdu6342 commented on #447
@Bodacious
I also met same problem like you.
Below is the solution of your problem.
https://github.com/DatabaseCleaner/database_cleaner/issues/489
If you don't mention the problem, I never solve that!
Thank you.

[2019-04-16 14:01] Pilabio commented on #447
Thank you very much sir! You saved me :)

[2019-04-28 19:10] ignisf commented on #504
Hello, I'm not OP, but here's my config:

[code]

[2019-05-17 08:53] petenorth commented on #558
@botandrose as you say if it remains unused then it should be deleted but it would be good to get some basic informational logging into the gem so that users can see what is going on.

As far I can see there is no logging in the gem.

[2019-05-20 07:00] okuramasafumi commented on #469
For ActiveRecord users who have models with connections to different DB and config is located other than `config/database.yml`, the config below worked perfectly.

[code]

BTW, this is documented in README. Cannot this issue be closed?

[2019-05-24 14:45] mickael-palma-argus commented on #572
👍

Same thing here with `database_cleaner (1.7.0)` and this configuration:
[code]

[2019-05-28 23:39] Dantemss commented on #564
I think this actually happens because Rails 5.2 reaps DB connections every 60 seconds by default and the DatabaseCleaner configuration in the guide might be incompatible with the Rails connection reaper. This issue was fixed for me by setting `reaping_frequency: 0` for the test DB in `database.yml` (DON'T do this for Rails < 5.2 or you will see very degraded performance due to the reaper running o

[2019-05-28 23:48] Dantemss commented on #570
Well try setting `reaping_frequency: 0` for the test DB in database.yml (DON'T do this for Rails < 5.2 or you will see very degraded performance due to the reaper running on a loop). I think it might have the same cause as https://github.com/DatabaseCleaner/database_cleaner/issues/564

[2019-05-28 23:51] Dantemss commented on #564
Nvm I should have read the issue more closely... My issue was that objects were disappearing within a single example.

[2019-06-12 08:27] kaukas commented on #445
[This PR] only deals with PG but `ar_internal_metadata` is created for other RDBMSes, too. Any plans to support e.g. MySQL?

[2019-06-20 20:29] benoror commented on #523
@RTJ @etagwerker Having the exact same issue! wondering how does your `spec_helper.rb` and `rails_helper.rb` files looks like, as mine starts with:

`rails_helper.rb`:
[code]

So, why the need to add it to `spec_helper.rb`? And more importantly, if ENV is set after it's required in `rails_helper.rb`, why is it not working?

My hunch is that this can really be a bug. Thoughts?

[2019-07-07 12:59] #261 closed

[2019-07-14 02:39] fedefa opened #582 "Explicit clean method invocation on rspec example"
Your example must include after each clean code.

[code]

[2019-07-18 09:27] starduliang commented on #572
Actually I'm using postgres, so url (`postgres://postgres:password@db:5432`) on local is not allowed. I did below trick instead of using `DatabaseCleaner.url_whitelist` to make sure it's still safe on production.
[code]

[2019-07-19 03:25] cobot00 opened #583 "Change date "1.7.0 2017-04-19" in History.rdoc?"
Hi, thanks for database cleaner!

`1.7.0 2017-04-19` in History.rdoc, right?
I'm thinking that perhaps `1.7.0 2018-04-19` .

https://github.com/DatabaseCleaner/database_cleaner/commit/ec01c43005cbecbbd785bf6bac118a249329adf9#diff-c65ed44cbe1768797ac07d046c79bdc6

[2019-07-19 11:32] etagwerker commented on #583
@cobot00 Good point. That was a typo. Could you submit a PR?

[2019-07-19 13:24] cobot00 commented on #583
:ok:

[2019-07-19 15:08] #583 closed

[2019-09-01 19:26] hron84 opened #587 "[IMPROVEMENT] Switch back README.md on master branch until splitted packages are really available"
Currently, the default `README.md` states you have to install `database_cleaner-active_record` gem and such stuffs but they are currently not available from https://rubygems.org source, only from your Git. Please update accordingly the README that states it contains informations that aren't valid yet or roll back the default README to relate with currently available packages.

I'm understand you a

[2019-09-13 09:18] P9GIT opened #590 "Will next version be compatible with Ruby MongoDB driver 2.5+?"
Current version 1.7.0 is incompatible with Ruby MongoDB driver 2.5+ due to the addition of session pool from 2.5 and onward.

I get an exception when attempting a "clean":  `TypeError: Time can't be coerced into Integer`

Back trace:
[code]

So my question is: will the next version be able to handle the 2.5+ Ruby MongoDB driver?

Thanks!
Thomas.

[2019-09-17 14:51] hron84 commented on #587
@borenho the problem is not for me but anyone who tries to use this gem at first time. Your default `README.md` provides not (yet) valid information for newcomers and this can cause mislead and unneccessary issues opening. I think any project should take care about its default `README` to state correct information and release new things only when they land in the code and/or appropriate package re

[2019-09-17 19:24] borenho commented on #587
I agree with you @hron84 . I also faced a similar problem and it took me a while to understand. To be truthful, the master docs are a bit misleading. I also commented on it here https://github.com/DatabaseCleaner/database_cleaner-active_record/issues/1.
I too wish the maintainers dedicated the master branch and README to the latest released development version

[2019-09-17 21:39] borenho commented on #587
Actually, they'll be releasing v1.8.0 sometime this week, so this will be solved https://github.com/DatabaseCleaner/database_cleaner-active_record/issues/1 🎉

[2019-09-23 12:56] etagwerker opened #591 "Broken links in README"
All the adapter links in the README are pointing to a non-existing page.

For example:

- https://github.com/DatabaseCleaner/database_cleaner/adapters/database_cleaner-couch_potato

[2019-09-23 13:16] etagwerker opened #593 "Travis CI build is broken in `master`"
Travis CI configuration is out of date and builds are no longer working. For example: https://travis-ci.org/DatabaseCleaner/database_cleaner/jobs/588443682

[2019-09-23 19:35] #591 closed

[2019-09-23 22:33] #593 closed

[2019-09-30 22:37] deathwish commented on #515
Honestly, this is pretty awful.

But the solution above works and can be improved by using
[code]
to fetch all schemas in the active database for cleaning, which is the behavior I expected database_cleaner to exhibit.

[2019-10-03 14:41] FunkyloverOne commented on #590
@P9GIT that's strange, I'm using it with `mongo (2.9.0)` in my `Gemfile.lock` without any issues.
Here's my rspec config:
[code]

[2019-10-16 11:25] P9GIT commented on #590
Hi @FunkyloverOne

I've digged further into this and it turns out that the bug was in the testing code, NOT in database cleaner.
Closing the issue.

[2019-10-16 11:25] #590 closed

[2019-10-22 23:22] Randall-Coding opened #596 "database_cleaner-active_record Doesn't exist in https://rubygems.org"
The readme indicates to use this gem `gem 'database_cleaner-active_record'`.  Is it going by another name now?

I'm installing this on a Rails 5 app.  Added the required gem to my Gemfile then ran `bundle install`

Output on the console is:

*edit adding more details

[2019-10-22 23:24] Randall-Coding commented on #596
I'm installing this on a Rails 5 app.  Added the required gem to my Gemfile.

Output on the console is:

.

[2019-10-23 01:13] Randall-Coding commented on #596
The only gem on RubyGems is database-cleaner (without the -active_record) and using that seems to work.  I think you just need to update your readme instructions.

[2019-10-23 21:20] malkaviano commented on #596
database_cleaner

[2019-10-24 16:35] kulkarni2u commented on #505
Any luck with this, even we are facing a similar issue with MS SQL Server. Tried `truncation` `deletion` and `transaction` strategies with no luck.
Below is the RSpec config code we have.

[code]

[2019-11-04 18:41] smoyth commented on #570
@Dantemss Thank you so much for this fix! Saved my life!

[2019-11-05 15:01] eimermusic opened #597 "Truncation except order matters?"
I just setup a new clean Rails app, but against a legacy database where I want to keep some pretty static "seed" data. At least until I move them over as seeds or migrations in Rails.

It seems like
[code]
is not the same as
[code]

The top config works as expected for me whereas the second kept truncating the `apples` and `clementines` but leaving `bananas` alone.

If this seems odd, I would love

[2019-11-06 08:17] botandrose commented on #597
@eimermusic My first thought is that this is due to a mistake in your syntax. When you are using the `%w[]` syntax, you must omit the commas, otherwise, they are considered part of the string. For example:

[code]

Try removing the commas from your arrays, and then see if your issue is resolved.

[2019-11-14 03:23] bekicot commented on #596
The readme have a warning that the master branch readme is for unreleased version of the gems.
Use the 1.7.0 readme instead.
https://github.com/DatabaseCleaner/database_cleaner/blob/v1.7.0/README.markdown

It think this issue should be closed.

[2019-11-18 02:39] benoror commented on #456
Seeing the same issue in Codeship with version `1.7.0`. Clearing the build cache temporarily fixes the issue. Any new insight/workaround?

[2019-11-18 02:58] botandrose commented on #456
@benoror Can you reduce it down to a repo you can share that reproduces the problem? I'd be happy to get to the bottom of it.

[2019-11-18 04:12] benoror commented on #456
Hey @botandrose thanks for the reply. I will try to have something soon that can replicate the issue, but I noted if happens randomly. For now, not sure if this could help, but here's our only place where we run `DatabaseCleaner` (for some reason is in the same initializer as [factory_bot_rails'](https://github.com/thoughtbot/factory_bot_rails) 🙈 ):

[code]

[2019-11-18 20:36] gbirchmeier commented on #587
2 months later, still not released.  Readme is still leading people astray..

[2019-11-18 21:03] gbirchmeier commented on #445
I'm running Rails 6, mysql, and cucumber-rails 1.8.0 gem, and seeing this annoying message whenever I run cucumber a second time.

This `except: %w(ar_internal_metadata)` workaround is not working for me (and neither is adding `schema_migrations` per @happycollision's comment).

[2019-11-20 16:26] JonRowe commented on #587
The readme explicitly mentions that it is for a unreleased version, and links to the currently released read me, closed by #589

[2019-11-20 16:26] #587 closed

[2019-11-22 12:48] hron84 commented on #587
@JonRowe Thank you very much!

[2019-12-09 06:06] botandrose opened #599 "Releases and Maintenance"
Hey @etagwerker @JonRowe,

Would you grant me commit and release permissions for the database cleaner family of gems? I'd like to finish the work to get these libraries in good condition, and I know that you two are very busy.

1. Release v1.8.0 and v2.0.0 to get ourselves out of dependency hell
2. Get Appraisal running so we can test multiple versions of Ruby and Rails
3. Merge a bunch of long-st

[2019-12-09 13:26] JonRowe commented on #599
I'm ok with this if @etagwerker is... but I don't feel I have the authority to grant access on my own, although I'm happy to sort out what I can if @etagwerker gives the ok.

[2019-12-09 13:32] etagwerker commented on #599
@botandrose I think that is a good idea. Sorry it took so long and welcome to the team of maintainers! 😄

Just sent you an invitation to the organization.

[2019-12-09 13:32] #599 closed

[2019-12-09 17:47] botandrose commented on #599
@etagwerker @JonRowe Hooray! I'm excited to get these improvements out the door. Thanks for your faith in me!

Moving forward, I want to strike the right balance of autonomy to get stuff done without bothering you folks, and collaboration so I don't take the project in an unwanted direction. I was thinking something like the following strategy:

**Semver patch-level changes:** Merge bugfixes and r

[2019-12-09 17:49] JonRowe commented on #599
What is your rubygems email, and do you have 2FA turned on? (You should enable it if not).

[2019-12-09 18:14] botandrose commented on #599
@JonRowe My rubygems email is micah@botandrose.com, and I have 2FA enabled for that account.

I hear you on the heads-up before releases. What were you thinking? Should I just open a issue beforehand and tag you both?

[2019-12-09 18:42] JonRowe commented on #599
I don't mind, a PR is probably the best choice, it just avoids us asking when a release notification comes through, e.g. the shock factor.

[2019-12-09 18:48] botandrose commented on #599
Ah, gotcha. That makes sense. Will do!

[2019-12-09 18:52] JonRowe commented on #599
I've added you as an owner to the main gem

[2019-12-09 18:55] botandrose commented on #599
Thank you, Jon!

[2019-12-09 19:23] botandrose opened #600 "Proposal: database_cleaner v2.0 works only with ActiveRecord"
So, I've been thinking:

We're just about ready to release v1.8.0, which is backwards compatible with v1.7.0, but adds deprecation warnings that all ORM-specific code will be extracted to adapter gems, e.g. database_cleaner-active_record, database_cleaner-mongoid, etc, etc. This is awesome, because it will get us out of dependency hell, and adapters can evolve on their own terms, independently of

[2019-12-10 09:49] kevinhq commented on #445
Got exactly same problem.

[2019-12-10 17:36] botandrose commented on #445
@gbirchmeier @kevinhq It sounds like you can reproduce this issue consistently! Can you reduce your app down to something you can share with me, so I figure out the issue and fix it?

[2019-12-10 17:38] #596 closed

[2019-12-10 17:45] gbirchmeier commented on #445
@botandrose I can try to make some time for it.

[2019-12-12 03:25] botandrose commented on #597
Closing, assuming that this resolved your issue.

[2019-12-12 03:25] #597 closed

[2019-12-16 18:13] botandrose commented on #600
Since there has been no dissent, I'm going to proceed with a PR to implement these changes.

[2019-12-16 19:30] botandrose commented on #600
Slight amendment to strategy outlined above. Instead of renaming `database_cleaner-active_record` to `database_cleaner`, I think I'm going to have `database_cleaner` just be an empty metagem that has one dependency: `database_cleaner-active_record`. That way its super clear what's going on, and `database_cleaner-active_record` can continue to be just another adapter, consistent with the others...

[2019-12-17 19:50] botandrose commented on #546
In the interest of getting v2.0 out the door, I'm going to defer this to some later v2.x release, with potential for removing the old interface in v3.x

[2019-12-18 11:51] alejandro-falkowski-gelato commented on #515
For me as I am using sequel was to use search_path as described here https://github.com/jeremyevans/sequel/blob/master/doc/opening_databases.rdoc#postgres

[2019-12-19 20:14] benoror commented on #456
In our case it seems that there was a race condition between starting transactions with `DatabaseCleaner.start` and closing it with `DatabaseCleaner.clean` in two different (async?) RSpec config hooks: `before(:suite)` and `.before(:each)`, as wometimes would attempt to rollback a transaction which was already rollbacked.

I based on existing examples from DatabaseCleaner & FactoryBot, and split t

[2019-12-19 20:20] benoror commented on #456
NVM, failed again inside the CI (Codeship), trying this workaround instead: https://github.com/darren987469/membership-system/issues/19#issuecomment-445713259

[2019-12-20 12:27] eimermusic commented on #597
Good catch... thanks!

[2019-12-23 07:55] #555 closed

[2019-12-23 08:09] #558 closed

[2019-12-24 08:11] #600 closed

[2020-01-14 10:35] ThomasKoppensteiner commented on #256
For me, it looks like this issue has been fixed within `JRuby 1.7.3` (https://www.jruby.org/2013/02/21/jruby-1-7-3.html)

[2020-01-15 15:10] slhck commented on #45
I'm getting this now:

[code]

[2020-01-15 23:42] botandrose commented on #45
@slhck Are you using ActiveRecord, or some other ORM?

[2020-01-16 07:10] slhck commented on #45
This is using ActiveRecord in Rails 6.0, yes.

[2020-01-16 10:21] ThomasKoppensteiner commented on #543
Any updates on the `2.0.0` release?
Maybe it is a good idea to create a Github "Project" do document the progress.

[2020-01-16 14:59] botandrose commented on #543
Hi @ThomasKoppensteiner! Thanks for your interest.

Right now it's pretty much all on me. I'm currently preparing a v1.8.0.beta release to make sure that v1.8.0 is the smooth transition release between v1.x and v2.0.0 that we want it to be. I'm hoping to get this beta release out this weekend, and then follow with full v1.8.0 release a week later if there are no issues. From there, v2.0.0 should n

[2020-01-16 23:10] botandrose commented on #45
@slhck Yes, I can confirm that database_cleaner does not support the `except` option for the ActiveRecord transaction strategy. This makes sense when you think about how transactions work... its just reverting the database back to a checkpoint, more or less. If you want to explicitly specify tables to ignore, switch to the truncation strategy. I hope this helps.

[2020-01-17 06:04] slhck commented on #45
That's fine, thanks for checking! It's just that the above example is no longer valid (but can be easily found online... That's how I can here.)

[2020-01-21 19:10] botandrose commented on #543
Just released v1.8.0.beta for testing. More info here: https://groups.google.com/forum/#!topic/database_cleaner/YG-BX4zjWZQ

[2020-01-28 12:09] DannyBen commented on #554
Ok - so I revisited this issue again, and it seems like it was all my fault.

My tests run inside a container, and this container did not have the proper environment variable. Once I fixed it, it is all working as advertised.

Closing.

[2020-01-28 12:09] #554 closed

[2020-01-29 07:33] shivusolanki opened #609 "Database Cleaner strategy is cleaning the table mention in except block of truncation strategy"
I have the following database cleaner strategy

[code]

It's still cleaning the roles table and I don't have any dependent destroy on the models that role belongs to.
This does not look like intended behavior

[2020-01-29 17:46] botandrose commented on #609
@shivusolanki I don't see any obvious issue in the code you've posted here, or the DatabaseCleaner truncation code. If you can create and share a git repo that reproduces this issue, I'll be happy to take a look!

[2020-01-30 09:29] coding-bunny commented on #564
It's not working as described however.
We use the `:transaction` strategy like this in our RSpec suite, and this was working fine on 1.7.
However now with the 1.8 upgrade, the majority of our tests fail with errors like `Cannot find object with ID xxxxxxxx` because database_cleaner is wiping all the data between the tests.

[code]

The output mostly is:
[code]

So with the new version all data is

[2020-01-30 12:53] botandrose commented on #564
@coding-bunny Hmm, yes, it does sound like the 1.8 release introduced a regression. If I can reproduce it, I can fix it! I tried to reproduce the error you're experiencing by taking what you shared and chopping it down to just ActiveRecord and DatabaseCleaner here: https://gist.github.com/botandrose/5dc4c20e5f3d63cee191cbf336f3a542 , but the test passes.

Can you try to reduce your test suite down

[2020-01-30 13:07] coding-bunny commented on #564
Euh...I can try when i find the time, because this is a client's private source code, with a mySQL and Oracle database setup, so this won't be easy to get outside and visible.
I'll try to spend some time tomorrow to see if i can pin it down to mySQL or Oracle, perhaps it's database specific!?

[2020-01-30 13:28] botandrose commented on #564
Yes, perhaps you are right!

[2020-01-30 15:08] botandrose commented on #543
v1.8.0 is out! Working on v2.0.0.beta now.

[2020-01-30 15:54] botandrose opened #610 "GitHub access to adapter gem repos"
@etagwerker v1.8.0 is out, woohoo! Now we can FINALLY bring sanity to the dependency situation by splitting the adapter gems out into their own repos. I'm doing this work now, but find I only have GitHub push permissions to the database_cleaner-active_record repo, not the rest of them. Would you grant me push access to the other adapter repos? Thank you!

[2020-01-30 23:33] bethesque opened #611 "LoadError: cannot load such file -- active_support/core_ext/string/inflections"
When updating to database_cleaner 1.8, if active support is not included in the project, this line fails the error `active_support/core_ext/string/inflections` is thrown.

https://travis-ci.org/pact-foundation/pact_broker/jobs/644112758#L453

Thank you kindly for maintaining this wonderful gem. I have used it happily for many years. I would very much appreciate it if you could continue not to have

[2020-01-31 00:18] botandrose commented on #611
@bethesque Thank you for bringing this to my attention. This is indeed a regression from 1.7. I'll see if I can't fix it and push out a 1.8.1, presently.

[2020-01-31 00:18] parndt commented on #611
You could consider https://github.com/dry-rb/dry-inflector

[2020-01-31 00:27] botandrose commented on #611
@parndt Thank you, that's a good idea!

Taking it look, I find that dry-inflector has a hard ruby 2.4+ requirement in its gemspec, though, and until we release v2.0.0 I can't drop support for older rubies 💩

The code actually using this inflection bit is going to be deleted for the v2.0.0 release, anyways, though, so I'll probably just cobble together something ugly just to resolve this regression

[2020-01-31 00:33] parndt commented on #611
I appreciate your efforts 👍 maintaining open source software is no small task. Thank you.

[2020-01-31 00:41] bethesque commented on #611
I know DRY is hard baked into us, but in this case, I think a tiny bit of copy-paste is the lesser of the evils! Thanks for getting on to this so quickly.

[2020-01-31 00:56] botandrose commented on #611
@bethesque No problem! This was my goof, so its definitely on me to fix it, and I really don't want to leave non-ActiveRecord users of this library in the dust.

Would you do me a favor and verify that https://github.com/DatabaseCleaner/database_cleaner/pull/612 fixes your issue? Our test suite is currently a lovecraftian nightmare stuck in 2010 (primary motivation for v1.8.0 and v2.0.0), so its n

[2020-01-31 01:12] botandrose commented on #611
@bethesque If it does indeed resolve it, I'll release v1.8.1 right away. The entire library being unusable for all of our users that don't have a dependency on ActiveSupport is a pretty big regression!

[2020-01-31 01:31] bethesque commented on #611
Just tried:

[code]

and it works like a shop bought one 👍

[2020-01-31 01:34] parndt commented on #611
Nice work, works for me too 🥇

[2020-01-31 01:54] botandrose commented on #611
@bethesque @parndt Wonderful! Thank you both so much for your help with this. I'll merge and release.

[2020-01-31 01:54] #611 closed

[2020-01-31 02:02] botandrose commented on #611
https://rubygems.org/gems/database_cleaner/versions/1.8.1 :rocket:

[2020-01-31 02:13] bethesque commented on #611
Thanks Micah! As someone who maintains an open source project that also supports multiple database backends, I appreciate both the gem and how hard it is to support multiple databases at the same time! Appreciate the quick fix.

[2020-01-31 03:18] botandrose commented on #611
@bethesque You're very welcome!

Would it be all right if I hit you up (and @parndt as well) to test the v2.0.0.beta release when that lands in the next week or two? All of my projects use ActiveRecord, at present, so y'all's real-world projects would be a really useful testbed to shine a light on where our test suite is lacking.

[2020-01-31 05:33] bethesque commented on #611
Happy to. I'm using Sqlite, Postgres and MySQL2.

[2020-01-31 11:52] Cruikshanks opened #616 "1.8.1 mongoid adapter has a reference to moped. Is this right?"
We have 3 projects that currently use the database cleaner mongoid adapter for cleaning our MongoDb 3.6 database when testing.

The release of version 1.8.1 kicked of [Dependabot](https://dependabot.com/) to raise a PR in each to upgrade Database Cleaner. However, every one of them broke

- https://github.com/DEFRA/waste-carriers-front-office/pull/388
- https://github.com/DEFRA/waste-carriers-back

[2020-01-31 18:43] botandrose commented on #616
@Cruikshanks Thank you for bringing this to my attention, and double thank you for the very detailed error report! This does seem to be a mistake on first look. Probably a typo on my part while I was splitting out the 10 different adapters. I'll take a closer look presently.

[2020-01-31 20:19] botandrose commented on #616
Looking at this a bit more closely, I think there are really two issues:

1. Upgrading to from 1.7 to 1.8 broke requiring strategies directly, e.g. `require "database_cleaner/mongo/truncation_mixin"` throws an exception now. This is a regression! 1.8 should be a backwards-compatible release with 1.7. If anything, this require pattern should display a deprecation warning, not throw an exception!
2.

[2020-01-31 22:02] botandrose commented on #616
@Cruikshanks Okay, I've looked at this even more closely, and it appears that the moped dependency is, in fact, intentional. It looks like database_cleaner/mongoid is actually choosing between database_cleaner/mongo, database_cleaner/mongo2, and database_cleaner/moped as its internal implementation, depending on the version on Mongoid that is loaded. When I split the library apart into adapters, I

[2020-02-01 16:19] botandrose commented on #616
It goes deeper! In addition to DC::Mongoid relying on those three separate implementations, DC::Ohm depends on DC::Redis, and DC::MongoMapper depends on DC::Mongo! Honestly, I'm embarassed that I didn't notice this when extracting the adapters. Bugfix releases forthcoming!

[2020-02-01 16:26] botandrose commented on #610
@etagwerker Sorry to ping you again so soon, but I'd like to release v2.0.0.beta ASAP... hopefully this weekend, even! But that release effort will soon be blocked by lack of repo access. Do you have a few minutes this weekend to invite me to those repos?

[2020-02-01 17:08] botandrose commented on #616
@Cruikshanks would you do me a favor and test your app with the #617 branch to verify that it has resolved this issue for you? To be clear, please note that at the moment, its just the base `database_cleaner` gem, not the `database_cleaner-mongoid` adapter, so your Gemfile would look something like:

[code]

If this resolves this issue for you, I'll release database_cleaner-mongoid v1.8.1 immediat

[2020-02-01 17:32] vitalinfo commented on #616
@botandrose it does work for me (1.8.1 doesn't work for me as well)

[2020-02-01 17:38] botandrose commented on #616
@vitalinfo Awesome! Thank you for testing it. I'll merge and release database_cleaner-mongoid v1.8.1 presently.

[2020-02-01 17:39] #616 closed

[2020-02-01 17:49] botandrose opened #618 "DatabaseCleaner::Ohm is identical to DatabaseCleaner::Redis?"
It appears that there is no functional difference between the two adapters, whatsoever. Looking at the file linked below, DC::Ohm::Truncation inherits from DC::Redis::Truncation, and adds a single `#default_redis` private method. However, this method is not used anywhere!

https://github.com/DatabaseCleaner/database_cleaner/blob/v1.8.1/adapters/database_cleaner-ohm/lib/database_cleaner/ohm/truncat

[2020-02-01 18:02] botandrose commented on #616
https://rubygems.org/gems/database_cleaner-mongoid/versions/1.8.1 :rocket:

However, note this issue won't be resolved in the base `database_cleaner` gem until we release v1.8.2, which will contain a few additional bugfixes.

[2020-02-01 19:22] Cruikshanks commented on #616
Thank you, thank you, thank you!! 😁 🎉 🥇

[2020-02-01 20:19] etagwerker commented on #610
@botandrose Sure thing. Just gave you access to the rest of the repositories. Thanks!

[2020-02-01 20:19] #610 closed

[2020-02-01 20:21] botandrose commented on #610
@etagwerker Confirmed! Thank you!!

[2020-02-01 20:25] #618 closed

[2020-02-02 10:04] abrom opened #621 "1.8.0 base gem release has adapters in it"
Hi there,

Not sure if this may have been intentional or possibly a transitional step to a 2.0 release, but it looks like the 1.8.0+ gem cut has the split out ORM adapters included in it. Caused by:

https://github.com/DatabaseCleaner/database_cleaner/pull/560/files#diff-657fa18700ecf959b7fba9b0de545da0R29

See https://diff.coditsu.io/gems/database_cleaner/1.7.0/1.8.0#d2h-173909

I don't see any r

[2020-02-02 16:01] botandrose commented on #621
Hi @abrom! Thanks for writing, and for your interest in database_cleaner internals!

The inclusion is indeed intentional, and the base gem does indeed load the adapter code, here:

https://github.com/DatabaseCleaner/database_cleaner/pull/560/files#diff-8cb3a37f7659171d75ff6bdb7b47dd28R173

It's set up this unorthodox way to facilitate transition from 1.x to 2.x, as you guessed. By adding the adapt

[2020-02-02 16:01] #621 closed

[2020-02-03 10:34] Cruikshanks commented on #616
And just to confirm, Dependabot closed those original PR's, but the new ones it created for 1.8.2 all passed CI and were merged successfully this AM without needing to add additional dependencies or make changes to our Gemfiles.

So many thanks again 👏

[2020-02-03 14:27] botandrose commented on #616
That's wonderful news! Thanks for letting us know. Hopefully all future releases will be that non-eventful 🤞

[2020-02-04 23:45] patrobinson opened #622 "Postgres 9.6.16 deadlocks during cleaning"
Hi, This is probably not the repository for this issue, but putting it here incase someone else stumbles across it. Feel free to close it.

We are using DatabaseCleaner with Postgres 9.6.16 in a small Event Source application. Recently after adding a few more specs we noticed the database was consistently becoming deadlocked in our CI environment, across multiple EC2 instances each downloading a f

[2020-02-05 00:13] botandrose commented on #622
Wow, really interesting. My kneejerk hypothesis is that this is a bug somewhere upstream, but that's honestly of little value. :)

If you can reduce this down to some kind of sharable repo that reproduces the issue, I'd be happy to take a look at it!

[2020-02-05 07:59] coding-bunny commented on #564
I haven't been able to do much around this, but I can tell it's happening on our MySQL database, and all tests fail that depend on our named seeds, e.g data that's created during the test-suite initialization, at the beginning of the RSpec configuration block.

It seems that once we define the before/after configuration for database_cleaner, all data is being wiped.

[2020-02-05 08:01] coding-bunny commented on #564
This is what we have inside the configuration:

[code]

We basically generated data with the `named_seeds` gem for those specific classes.
And we tell database_cleaner then to run everything in a transaction with truncation, except for specific classes that are mapped to Oracle.

And all tests fail with the named seed usage.

[2020-02-05 17:13] botandrose commented on #564
Good job narrowing it down to MySQL and not Oracle! That's really good news because it makes it more likely that we'll be able to reduce this down to a test that fails on CI!

[2020-02-06 00:33] kramuenke opened #623 "require 'database_cleaner/active_record' fails with rails 4.2.11.1"
Hi,

we upgraded from 1.7.0 to 1.8.2 and now getting the following error when running specs

[code]

[2020-02-06 01:08] etagwerker commented on #623
@kramuenke Could you share what your `Gemfile.lock` looks like? My first impression is that it's weird that you have both `database_cleaner-active_record-1.8.0` and `database_cleaner-active_record-1.8.2` in your app, but maybe that has nothing to do with it.

[2020-02-06 03:01] kramuenke commented on #623
here is the diff after changing `Gemfile` and running `bundle install`

[code]

[2020-02-06 03:37] kramuenke commented on #623
i think we figured it out... looks like a load order problem and removing `require: false` avoids ActiveSupport tentacles to overload `delegate`

[2020-02-08 20:55] botandrose commented on #623
Well, this is interesting. It sounds possible to get ActiveSupport to mess with our usage of `delegate`?? I'd like to prevent this from happening, if possible. I'm going to see if I can reproduce.

[2020-02-08 21:08] botandrose commented on #623
@kramuenke If you can reduce this down to a gist or a repo that reproduces the failure, I'd be happy to fix it.

I tried to reproduce with the following, but failed:

[code]

[2020-02-10 18:52] benedikt opened #624 "Performance degradation of `DatabaseCleaner.strategy=` in database_cleaner >= v1.8.0"
With the recent refactoring of database_cleaner into multiple gems, the performance of `DatabaseCleaner.strategy=` took a big hit. As it is not unusual that the method will be called in a `before(:each)` hook, this can significantly slow down a test suite. (In our case it's about 30x slower)

A simple benchmark outlines the problem:

[code]

I haven't fully figured out the root cause, but I suspec

[2020-02-10 19:16] benedikt commented on #624
I think it boils down to the [`DatabaseCleaner::Base#orm_module`](https://github.com/DatabaseCleaner/database_cleaner/blob/0f4e29d0adf207e961e1ea18562a828a8c1017fd/lib/database_cleaner/base.rb#L117-L123) method. It modifies the load path and attempts a new require every time it is called. This happens every time the strategy is set (`#strategy=` -> `#create_strategy` -> `#orm_strategy` -> `#orm_mo

[2020-02-11 06:52] hwo411 commented on #624
I can confirm the performance degradation. After the recent gem upgrade of our app, tests started taking 2-2.5x more time, even if there is no database activity in the test suite at all. I was just going to report the problem and discovered this new issue.

@benedikt, thanks for working on it!

[2020-02-11 20:29] etagwerker opened #626 "Rename whitelist to allowlist"
I think it would be a friendlier term for the safeguard configuration: https://github.com/DatabaseCleaner/database_cleaner#safeguards

[2020-02-18 18:16] botandrose commented on #624
Closed via #627

[2020-02-18 18:16] #624 closed

[2020-02-18 20:43] botandrose commented on #609
Closing due to lack of activity. Feel free to reopen with more information if you're still having this issue!

[2020-02-18 20:43] #609 closed

[2020-02-18 20:46] botandrose commented on #582
This looks like a suggestion to update documentation? I'm not seeing where this suggestion could be applied, though, so maybe it has already been fixed. Reopen (or better yet, open a PR) if not.

[2020-02-18 20:46] #582 closed

[2020-02-18 20:49] botandrose commented on #573
As long as different databases are indeed set up for each parallel test run, database_cleaner should not cause any issues here. I use it for this myself! Closing this issue, but if you are still experiencing the problem, and can share reproduction steps, please reopen!

[2020-02-18 20:49] #573 closed

[2020-02-18 20:50] botandrose commented on #572
Should be resolved now. Closing. Reopen if not!

[2020-02-18 20:50] #572 closed

[2020-02-18 20:51] #570 closed

[2020-02-18 20:53] botandrose commented on #561
Looks like this was addressed by #569. Reopen if not.

[2020-02-18 20:53] #561 closed

[2020-02-18 21:02] botandrose commented on #494
I believe this has been addressed by the safeguards introduced in v1.7.0: https://github.com/DatabaseCleaner/database_cleaner#safeguards

[2020-02-18 21:02] #494 closed

[2020-02-18 21:03] #489 closed

[2020-02-18 21:04] botandrose commented on #488
Resolved by d6f8bb133fd2546adc41958790f183be4d7f056a

[2020-02-18 21:04] #488 closed

[2020-02-18 21:10] #441 closed

[2020-02-18 21:11] #438 closed

[2020-02-18 21:11] botandrose commented on #429
Closing due to lack of activity. Feel free to reopen if you're still having issues.

[2020-02-18 21:11] #429 closed

[2020-02-18 21:19] botandrose commented on #383
No, unfortunately not, and this happens at the database level, not ActiveRecord or database_cleaner. https://stackoverflow.com/questions/449346/mysql-auto-increment-does-not-rollback

[2020-02-18 21:19] #383 closed

[2020-02-18 21:23] botandrose commented on #331
Closing, due to lack of activity. Feel free to reopen with more information.

[2020-02-18 21:23] #331 closed

[2020-02-18 21:23] #309 closed

[2020-02-18 21:26] #289 closed

[2020-02-18 21:28] botandrose commented on #280
Closing due to age and inactivity. Feel free to reopen if this issue is still relevant.

[2020-02-18 21:28] #280 closed

[2020-02-18 21:30] #275 closed

[2020-02-18 21:31] #271 closed

[2020-02-18 21:32] #263 closed

[2020-02-18 21:32] #258 closed

[2020-02-18 21:32] #237 closed

[2020-02-18 21:33] #226 closed

[2020-02-18 21:35] #204 closed

[2020-02-18 21:36] #177 closed

[2020-02-18 21:37] #175 closed

[2020-02-18 21:37] #174 closed

[2020-02-18 21:37] #173 closed

[2020-02-21 23:34] jttyeung commented on #572
Thank you!

[2020-02-28 14:41] TheSmartnik opened #628 "Adding new adapters"
Hi!
Since database_cleaner is moving away from putting all adapters in `adapters` folder. I was wondering how to contribute new adapters? I guess would be a good idea to add a README entry for that.

[2020-02-28 15:27] etagwerker commented on #628
@TheSmartnik Definitely a good idea. Do you want to take a stab at it?

The good news is that there are many examples out there now. For example: https://github.com/databaseCleaner/database_cleaner-active_record

I think the most important code will be in this folder: https://github.com/DatabaseCleaner/database_cleaner-active_record/tree/master/lib/database_cleaner/active_record

The section in th

[2020-02-28 15:34] TheSmartnik commented on #628
@etagwerker thank you for a quick reply! Sure, would love to do that. One thing is unclear, though.
When adding a new adapter:

1. Do I create a folder `adapters` in database_cleaner repository and you create a separate gem and rept after the pr is merged.
2. Do I have to create my own repo and transfer it to you
3. Something else?

[2020-02-28 19:16] botandrose commented on #628
@TheSmartnik Yes, thank you for pointing this out! Now that adapters can be made and maintained without involving changes to database_cleaner core, we should absolutely document how this can be done in the README. Your perspective as an outsider trying to do this will be extremely helpful in creating this documentation. Thank you! I think @etagwerker's suggestion above is a really good place to st

[2020-03-01 19:57] etagwerker commented on #628
@TheSmartnik What @botandrose said is correct:

You don't need to submit a PR to `database_cleaner` with the adapter code, you can create your own repository. Once it's up and running, you can submit a PR to `database_cleaner` so that we can list it here: https://github.com/databaseCleaner/database_cleaner/#list-of-adapters

You don't need to transfer it to the `DatabaseCleaner` organization. In t

[2020-03-01 20:03] etagwerker commented on #403
@kimegede Good idea! If someone wants to implement a new ORM, they can follow the instructions being discussed over here: https://github.com/DatabaseCleaner/database_cleaner/issues/628

[2020-03-01 20:03] #403 closed

[2020-03-01 20:13] etagwerker commented on #183
@andreypronin Sorry for the delay. The gist is no longer available, so I'm missing information. If this is still an issue, please re-open it in this project: https://github.com/DatabaseCleaner/database_cleaner-active_record

[2020-03-01 20:13] #183 closed

[2020-03-01 20:33] botandrose commented on #628
Thinking about this some more, perhaps `database_cleaner-core` can package some kind of test suite  that adapters can include that verifies that they're adhering to the contract that we will define in the README. Something like:

[code]

This could verify (at the very least) that the described constant supplies a list of strategies, a default strategy, and that each strategy has all the right meth

[2020-03-01 22:12] TheSmartnik commented on #628
@botandrose I really like the idea. Do you want to do it? I can implement that in a separate PR before implementing the README update

[2020-03-01 22:40] botandrose commented on #628
Awesome, yes, please go ahead!

[2020-03-05 19:01] TheSmartnik commented on #628
I took a look at the current adapters and it seems that maybe it would be a good idea to add a cli command for generating adapter. Something like
[code]
What do say?

[2020-03-05 19:23] botandrose commented on #628
@TheSmartnik I think that's a really interesting idea, and worth considering!

It would add some complexity to the project, though, so let's wait and see where things are at after we fully document the process for building a new adapter manually. Looking at that, there may be opportunities for us to simplify the process to the point where its so simple to do so that introducing a generator would b

[2020-03-11 09:24] jamesw opened #630 "undefined method `use_transactional_fixtures='"
Hi and thanks for a great gem
I am using Rspec and Capybara in a Rails 6 project and I have followed your documentation to add the following code to my spec_helper file however I am receiving an undefined method `use_transactional_fixtures='. I would be grateful if you have any more up to date documentation on how to use your gem or maybe point me in the right direction for a work around

[code]

[2020-03-11 09:35] jamesw commented on #630
Sorry. I found the use_transactional_fixtures method call in rails_helper.rb file.

[2020-03-11 09:35] #630 closed

[2020-03-11 12:28] etagwerker opened #631 "Document public API for DatabaseCleaner::Configuration"
Hi there,

I think this can be a good issue for a first-time contributor. It would be great if we can increase documentation for the DatabaseCleaner::Configuration API: https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/configuration.rb#L56-L72

Even though methods are pretty self-explanatory, I think it is a good idea to maintain a complete documentation for publ

[2020-03-17 19:59] TheSmartnik commented on #628
@botandrose I've started working on an README, but have found out that since v2 things changed a bit. For once, `database_cleaner-core` isn't yet released, but all future adapters should depend on it and not on `database_cleaner`. So I thought maybe it's a good idea to wait with it until v2 is released. What do you think?

[2020-03-17 20:12] botandrose commented on #628
@TheSmartnik Personally, I think having a good README story for adapter writers is something that I want to have when v2 is released. Also, this is our last chance to break things until v3 (which hopefully won't be for a long time), so if there are small things we can break now to make adapter writing simpler and easier, I'd love to do it before v2.

In short, I consider your efforts here vital fo

[2020-03-24 21:26] kohrVid commented on #35
Not sure if anyone's run into this issue lately. I've found that the solution above doesn't work with the [standalone_migrations gem](https://github.com/thuss/standalone-migrations) for some reason and still returned an `ActiveRecord::ConnectionNotEstablished` error. As this is quite an old issue, I suppose the gem has changed substantially since that post was written.
Adding the following to `spe

[2020-04-03 09:38] Ex-Ark opened #632 "Deprecation notice coming from within the lib on windows"
### Description of the bug

On windows, the lib fires deprecation notice coming from within it's own code.

[code]

I suppose this is coming from [called_externally?](https://github.com/DatabaseCleaner/database_cleaner/blob/4dffa84b68bc259b77c57049b32cc26a05b3e07a/lib/database_cleaner/base.rb#L153) checking for `:` in the file path, but on windows you have at least 1 `:` in a file path : `C:`

I q

[2020-04-03 17:36] botandrose commented on #632
Hello @Ex-Ark,

Wow! This is a really great bug report with excellent detective work! Thank you!

I've just pushed out a bugfix PR: #633, but I don't have access to a Windows box to confirm that it actually fixes the false deprecation warnings. Would you mind trying that branch out and letting me know whether or not it fixes it for you? If it does, I'll merge and release v1.8.4.

[2020-04-04 14:35] Ex-Ark commented on #632
Thank you for the quick answer and fix !

Confirmed that using :
[code]

I have no deprecation notice showing in STDOUT 👍

Will wait eagerly for 1.8.4 then :)

Keep up the good work

[2020-04-04 15:20] botandrose commented on #632
@Ex-Ark Awesome, thanks for testing this for me! And great idea about the unit testing; that's exactly what I did! ;)

https://rubygems.org/gems/database_cleaner/versions/1.8.4

[2020-04-04 15:20] #632 closed

[2020-04-06 15:35] botandrose opened #638 "Test coverage tracking?"
Hey @etagwerker,

I would like to get some test coverage tracking going, probably either with Coveralls or Code Climate, but there's the question of permissions.

I could set up Coveralls myself, but then I think my @botandrose account would be the only account with permissions, which is not ideal.

Code Climate is already set up, but I don't have the permissions to add test coverage to it.

Do yo

[2020-04-06 16:03] etagwerker commented on #638
@botandrose I'm not sure how to add you to Code Climate for you to do this. I think that all you need is the CodeClimate's test reporter ID:

[code]

Do you want to take a stab at it?

Also, lately I've been using https://codecov.io for new projects. If you're open to adding a new service, we could try with that.

[2020-04-06 16:28] botandrose commented on #638
@etagwerker Sure! Whichever you'd prefer is fine with me.

[2020-04-06 23:37] botandrose commented on #628
@TheSmartnik Hiya! I'm getting ready to move onto documenting (and hopefully improving) the story for adapter writers, ahead of the upcoming v2 release. If you have anything to share, even if its just a Work in Progress, I'd love to see it!

[2020-04-07 15:15] botandrose commented on #638
@etagwerker One last thing, I just logged into CodeCov to enable coverage on the adapter repos, and it looks like I have permissions to view the repos under the DatabaseCleaner org, but not add any. Any ideas?

[2020-04-07 17:56] etagwerker commented on #638
@botandrose Just added you as an admin in CodeCov. Please test now. 👍

[2020-04-10 05:40] #638 closed

[2020-04-14 09:36] Ex-Ark commented on #564
Having kind of the same problem, I'm creating object in rspec `shared_context`, and this specific object is getting deleted by the time my test is run.

I have a minimal setup for now, so I don't need records to be deleted around examples, as per configuration :

[code]
I have a shared_context, when included it creates a user. I added debug prompts :
[code]
And finally in the test where I need the

[2020-04-16 20:43] botandrose commented on #564
@Ex-Ark thank you for sharing this example! It looks relatively simple, so I think we should be able to pare this down to a failing test. Is it possible for you to share this in a github repo that reproduces the problem? If you can do that, I'd be happy to take it from there!

[2020-04-24 09:30] Ex-Ark commented on #564
Sure thing, here is the most basic repo I could create to reproduce what I mentionned in my comment.
(rails api boilerplate with rspec and database_cleaner)
https://github.com/Ex-Ark/databasecleaner_issue_564

From there you can add before(:all) in tests to try OP's setup.

[2020-04-25 23:58] botandrose commented on #564
Hi @Ex-Ark! Thank you so much for sharing this repo. It's super helpful to be able to look at the same code to figure out what's going on!

After taking a look, I think that the bug is actually in how the test is using RSpec's shared context. Specifically, the user creation code is happening directly in the `shared_context` block, instead of in a `before` block inside of that block:

[code]

When

[2020-04-27 09:24] Ex-Ark commented on #564
Thanks for taking a look at this !
The code in the sample repo is of course not 100% what I have in my app, as I need to have the user in a memoized variable because of how `swagger` works.

Anyway I refactored my context using your approach, in fact I declared everything in `let` helper, and it worked !

Strange thing is that I used (wrongly ? 👎  ) rspec context until now and it always worked bef

[2020-04-27 15:31] botandrose commented on #564
@Ex-Ark you're welcome! I'm glad we were able to resolve your issue. Since it didn't ultimately involve `before(:all)`, though, I don't think I can close this issue, yet. @coding-bunny if you can Share a reproduction repo with me, or modify the one shared above to demonstrate your error, I'd be happy to take a look!

[2020-05-15 15:41] Extazystas commented on #556
Still getting this nasty error, after fix applying got: `NameError: uninitialized constant ActiveRecord`

[2020-05-16 01:41] botandrose opened #647 "Demote Neo4j adapter?"
Howdy, y'all. I'm applying the last bit of polish to the adapters for the v2.0 release, and when I got to the Neo4j adapter, I realized that it needs a lot of work... more than I can give it alone, I think.

First thing I noticed was that the tests are very incomplete, and those that are there aren't actually testing anything about Neo4j at all. They don't even integrate with the database! So I se

[2020-05-16 13:02] etagwerker commented on #647
@botandrose That sounds like a good idea to me. If anyone is passionate about it, they will submit an issue or try to bring it back to life.

We should signal that `database_cleaner-neo4j` is not actively being maintained and looking for maintainers. Here are a couple ideas.

- Archive `database_cleaner-neo4j`
- Add an issue to the repo that says we are not actively maintaining it and we are looki

[2020-05-16 13:12] etagwerker opened #648 "Release 1.8.5 missing in History.rdoc"
Hey @botandrose,

I see that History.rdoc has details for 1.8.4 but not for 1.8.5

Could you look into this?

Thanks!

[2020-05-16 14:01] botandrose commented on #648
Ah, good catch. Thank you! Fixed!

[2020-05-16 14:01] #648 closed

[2020-05-16 14:37] etagwerker commented on #648
@botandrose Great, thanks! 💯

[2020-05-16 14:40] etagwerker commented on #647
@botandrose I guess the issue with archiving the repository is that no new comments or issues can be submitted to it.

I like that an "archived" repository shows a big warning strip on top of the project, but I guess people will have to submit an issue to the core project if they want to restore that adapter.

Are we good with that?

[2020-05-16 18:21] botandrose commented on #647
@etagwerker Yeah, I was thinking that, too. I definitely don't want to discourage people from getting involved with the retired adapters. Maybe someone will come by with the intention to do a drive-by PR for one of them, and then end up becoming a maintainer! It happened to me ;)

[2020-05-17 16:29] botandrose opened #649 "`:connection` vs `#db` confusion. Let's pick one!"
@etagwerker These are two ways of saying the same thing, but they look pretty different:

[code]

Ignoring, for the moment, that perhaps we could limit this to one (and only one) way, I think we should at least align the naming for v2.0. Options I can think of:

[code]

[code]

I'm leaning towards `db`, because its shorter, and (at least to me) has a broader connotation, where `connection` makes m

[2020-05-18 15:38] etagwerker commented on #647
Cool! If someone is interested in maintaining database_cleaner-neo4j, hopefully they will find this issue and comment. I'll close this issue for now. 😄

[2020-05-18 15:38] #647 closed

[2020-05-18 15:56] #559 closed

[2020-05-18 15:59] botandrose commented on #307
@etagwerker Closing this, since the gems were split out in v1.8, which I believe satisfies this issue.

[2020-05-18 15:59] #307 closed

[2020-05-18 16:31] etagwerker commented on #649
@botandrose I think `db` is a little bit more high level and easier to understand. I don't really care about connections when cleaning my database.

[2020-05-18 16:49] botandrose commented on #649
@etagwerker Cool, sounds like we're on the same page, then. I'll open a PR for this. Thanks for sharing your input!

[2020-05-19 12:07] scottrobertson opened #651 "Rails 6 Multiple Databases Clarification"
Hey

We have been using the multiverse gem for a long time to manage multiple databases, but with an upgrade to Rails 6, we are moving to use their built-in setup.

Previously, we had the following:

[code]

With the following in the Model's

[code]

The new way of doing it is by having the following in database.yml:

[code]

And this in the models:

[code]

How should Database cleaner be setup fo

[2020-05-19 12:10] scottrobertson commented on #651
Will ask this in the AR repo actually.

[2020-05-19 12:10] #651 closed

[2020-05-22 14:23] wjessop opened #652 "Switching from :transaction to :truncation for some tests doesn't work"
So, I have some tests that need truncation because I am testing the whole Sidekiq stack and as a separate process Sidekiq needs to be able to see the records created in the original process. I want to keep the suite in general as `:transaction` though as the rest of the tests are fine with that strategy.

To do this I add come config to the rspec config:

[code]

Then add metadata to the test:

[c

[2020-05-22 15:09] botandrose commented on #652
Hi, @wjessop , thanks for the issue! At a glance, my first guess is that the `#clean` command is being called _before_ the `#strategy=` command. Can you confirm or refute this?

[2020-05-22 15:10] botandrose commented on #652
Fat fingered the Close and comment button instead of the Comment button 😅

[2020-05-22 15:39] wjessop commented on #652
Thanks for the reply @botandrose! I found some `around` that looked like it might be the culprit:

[code]

I commented it out and the records are now available outside the process, and the test passes, but rather confusingly the strategy still reports as transactional:

[code]

I've got Spring disabled BTW, just to eliminate that as a possible issue.

[2020-05-25 22:47] aledalgrande commented on #652
Had the same problem and removed the `around` block, problem solved. Instead of using the `around` block I use:
[code]

[2020-05-29 16:26] deivid-rodriguez opened #655 "Improve `DatabaseCleaner.cleaners` vs `DatabaseCleaners.connections` deprecation"
When using `cucumber-rails`, I get a deprecation that reads

[code]

This deprecation makes you think that `DatabaseCleaners.cleaners` is a drop-in replacement for `DatabaseCleaners.connections`, but replacing it makes things crash.

I believe `DatabaseCleaner.cleaners.values` would be a more appropriate recommendation?

[2020-05-29 16:32] botandrose commented on #655
@deivid-rodriguez Hmm, good point. If you submit a PR for this, I'll merge it!

Also, just out of curiosity, what is your use-case for calling the `DatabaseCleaners.connections` method? I didn't honestly expect anyone to actually see this deprecation!

[2020-05-29 16:40] deivid-rodriguez commented on #655
No idea, the warning comes from `cucumber-rails` code, I was on a round of fixing deprecations in my test suite and decided to try fix this one. But I'm not sure why there're using it, they admittedly call it a hack :laughing:.

This is my PR to `cucumber-rails` where you can see the code: https://github.com/cucumber/cucumber-rails/pull/463.

You might have a better suggestion :)

[2020-05-29 16:43] deivid-rodriguez commented on #655
Which branch should I target the PR to? Do you have a `1-8-stable` branch or something like that? I'm asking because the method has been completely removed from master.

[2020-05-29 16:44] deivid-rodriguez commented on #655
Oh, I just saw those, there's `v1-8-maintenance` and `v1-maintenance`. Which one?

[2020-05-29 16:48] botandrose commented on #655
@deivid-rodriguez Ah, very interesting. They are trying to save the original strategy, so that they can temporarily change it, and then reset it back to the original afterwards. As the existing `# that feels like a nasty hack` comment indicates, this only works when there is only one strategy in play. If there are multiple databases with different strategies, this will stomp on all of them! I thin

[2020-05-30 15:36] #649 closed

[2020-05-30 18:38] botandrose commented on #655
Closed by #656

[2020-05-30 18:38] #655 closed

[2020-05-31 08:37] kp666 opened #657 "Nobrainer support"
Would it be possible to have a rethinkdb support, and would it be possible to achieve it with the current database cleaner?

[2020-05-31 13:37] botandrose commented on #657
Hi @kp666, thanks for the issue!

The current release of database_cleaner is v1.8.5. This release has the list of supported ORMs hard-coded into it, so, no, it is not possible to use the current release with the nobainer ORM for RethinkDB.

However, we're very close to releasing v2.0.0, which splits all the ORM adapters out into a gem for each ORM, and makes it easy for someone to create a new ada

[2020-05-31 14:28] kp666 commented on #657
Thanks for the update. Let me see what can be done.

[2020-06-09 08:50] dfabreguette-ap commented on #523
Having the same issue with Rails 6 - using v1.8.5.
Adding "ENV['RAILS_ENV'] ||= 'test'" to my rails_helper file didn't fix it for me.
Any idea ?

[2020-06-18 18:01] #626 closed

[2020-06-19 19:03] thefotios opened #659 "Add modular safeguard support"
My team recently came across a really nasty issue where `spring` kept our `ActiveRecord::Base.connection_config` cached. In that case, the current ENV var based safeguards failed us (luckily nobody was seriously injured).

For example,
[code]

There are lots of different ways to get into this scenario. While checking for the ENV vars works for some low hanging fruit, it doesn't let ORMs (or maybe

[2020-06-23 20:30] botandrose commented on #659
@thefotios I really like this idea. We're on the verge of releasing v2.0.0, so let's circle back to this after the release is made and we can look at figuring out doing something with this for v2.1.

[2020-07-01 02:32] Victorcorcos commented on #564
@botandrose I am facing the same issue as the author of this PR @sevab

And I took a time to write a very simple way to reproduce the issue

## The issue

I am facing a very anonying issue with the `DatabaseCleaner` gem when dealing with the `before(:all)` blocks.

When using the `before(:all)` block, the database items will be available on the next `it` block, but they will not be available on al

[2020-07-02 19:00] dmolesUC opened #661 "README: link to additional options for :truncation is broken"
Under "[What strategy is fastest?](https://github.com/DatabaseCleaner/database_cleaner/blob/v1.8.5/README.markdown#what-strategy-is-fastest)", the README says:

However, there is no "Additional ActiveRecord options for Truncation" section. It appears to have been removed after [1.7.0](https://github.com/DatabaseCleaner/database_cleaner/blob/v1.7.0/README.markdown#additional-activerecord-options-fo

[2020-07-02 19:02] dmolesUC commented on #661
Actually, it looks like it was moved to the [ActiveRecord-specific README](https://github.com/DatabaseCleaner/database_cleaner/tree/v1.8.5/adapters/database_cleaner-active_record#additional-activerecord-options-for-truncation).

[2020-07-15 17:47] paulbernhard opened #663 "Getting `ArgumentError` in `truncate_tables` method"
Hi,

i am trying to use the *DatabaesCleaner* gem in several Rails' tests (Minitest) where i can't use Rails' built-in `use_transactional_tests` feature.

# Setup

In the following test, i disabled `use_transactional_tests` as they do not work well in combination with [`Shrine`](https://github.com/shrinerb/shrine) gem (see [Testing with Shrine](https://shrinerb.com/docs/testing)) and i am trying t

[2020-07-22 15:10] foton commented on #2
Is there way to turn off `cascade` for `DatabaseCleaner.clean_with(strategy, except: KEEP_TABLES)` ? It deletes record (binded) in tables listed in KEEP_TABLES.

[2020-09-28 14:01] prostko opened #664 "`pre_count` option for :truncate isn't included in the documentation"
Is there any reason `pre_count` isn't included in the documentation?

It does appear in the error message when trying to pass an unavailable parameter as an option to :truncate. (BTW thanks for that, super helpful)

I'll open a PR against this issue in case it just never got added.

Thanks

[2020-10-06 16:56] zedtux commented on #657
Hello @kp666,

I just made one version [here](https://github.com/zedtux/database_cleaner-nobrainer). If you'd like to give it a try, feel free to give me your feedback 😉.

[2020-10-09 03:45] ngan opened #665 "Ruby 2.7 deprecations"
We're using Ruby 2.7 and are getting warnings from this gem:

[code]

I'd be more than happy to put up a PR...is there a minimum version of Ruby that this database_cleaner v2 plans to support?

[2020-10-09 14:47] etagwerker commented on #665
@ngan That would be great. We are currently maintaining Ruby 2.5 and higher: https://github.com/DatabaseCleaner/database_cleaner/blob/master/.travis.yml

[2020-10-09 14:48] etagwerker commented on #664
@prostko Good question. It is probably an oversight. Could you submit a PR for this issue?

Thanks!

[2020-10-09 15:03] prostko commented on #664
https://github.com/DatabaseCleaner/database_cleaner/pull/666

Looks like it is included in the docs, but for the ActiveRecord lib.

Submitted a PR to update the link [here](https://github.com/DatabaseCleaner/database_cleaner/pull/666).

Thanks again

[2020-10-09 15:16] ngan commented on #665
@etagwerker here ya go: https://github.com/DatabaseCleaner/database_cleaner/pull/667

[2020-10-09 15:38] #665 closed

[2020-10-11 08:07] wout opened #668 "allow_remote_database_url not working as expected"
I'm running Rails in development in a Dockerized environment. One of the configured Docker Compose services is a container to run commands (e.g. `rails`, `rake`, ...) and its `RAILS_ENV` is `development`. If I accidentally run `rspec` in that particular container, my development database gets cleaned, which is not what I want.

I tried configuring `DatabaseCleaner.url_whitelist` to include the ful

[2020-10-20 07:44] nicolasrouanne opened #669 "Undefined method `rollback' for nil:NilClass"
I'm running around 2000 tests with `rspec ` and _ActiveRecord_. Every now and then, let's say one out of 5 test runs (i.e. 1 out of 10,000 tests), **a random test fails with the `undefined method 'rollback' for nil:NilClass`**:

[code]

I'm using this configuration (taken from [the readme](https://github.com/DatabaseCleaner/database_cleaner/tree/f7b9246e6801cb5c609b64ba871c3ee8c99350c5#how-to-use)

[2020-11-03 06:38] zedtux commented on #657
BTW @botandrose, would you like to add my gem to the list of adapters, or would you like to take it in your github group?

[2021-02-01 09:04] tmaier commented on #668
Re `DatabaseCleaner.url_allowlist`: This should support regex as well. See README

[2021-02-01 09:12] tmaier opened #671 "2.0 Regression: allow_remote_database_url and url_allowlist not working anymore"
Dependabot just upgraded `database_cleaner-active_record` to 2.0 and now all tests fail.
I used to have `DatabaseCleaner.allow_remote_database_url = true` in my code.

<details>
<summary>Open to see error message and trace log</summary>

[code]
</details>

I also tried to set `DatabaseCleaner.url_allowlist = ['postgres://postgres@postgres']`, but this did not help.

[2021-02-01 09:14] tmaier commented on #671
Issue opened at wrong repository. Closing it in favour of https://github.com/DatabaseCleaner/database_cleaner-active_record/issues/51

[2021-02-01 16:26] botandrose commented on #671
This is actually the correct place! The safeguard lives in core, so it can be shared by all adapters.

[2021-02-01 16:34] botandrose commented on #671
@tmaier Hmm. The safeguards are still in place, and should be working. I'm guessing its something specific to your usage of database cleaner, plus some refactoring that I did, and together they are having some unintended consequences.

Can you reduce your project down to a minimum reproduction of this issue, and share it with me? If I can reproduce it, I can fix it!

[2021-02-02 00:41] samuelgrigolato commented on #671
I had something similar happening here. The error was happening right at the `require` line, so the code didn't yet had the time to reach the `allow_remote_database_url` config. Changing to the env var strategy (i.e. exporting `DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true`) worked for me.

[2021-02-02 00:43] samuelgrigolato commented on #671
Here's the stack:

[code]

spec_helper.rb:35 is `require "database_cleaner/sequel"`.

[2021-02-02 17:57] jcoglan commented on #671
We're seeing a similar thing happening when we run `assets:precompile`, because that causes `config/application.rb` to be loaded, which calls `Bundler.require(*Rails.groups)` -- simply loading the gem triggers this exception, even if the process never calls it, so there's no way of configuring the `DatabaseCleaner` class to turn off this safeguard.

[2021-02-02 21:51] tmaier commented on #671
I tried to configure it right after the `Bundler.require` statement in the `application.rb`. This did not fix the problem.
So I agree with @jcoglan.

[2021-02-03 16:07] jramiresbrito opened #672 "NoMethodError: undefined method `orm=' for DatabaseCleaner:Module"
To be right on point, here's my `spec_helper.rb`:

[code]

When I run `bundle exec rspec`, it throws:

[code]

[2021-02-03 16:43] botandrose commented on #672
Hi! Please downgrade to database_cleaner v1.99 and resolve all the
deprecation warnings. Then, you can upgrade to v2.0.

On Wed, Feb 3, 2021 at 8:07 AM João Victor Ramires Guimarães Brito <
notifications@github.com> wrote:

[2021-02-03 17:10] jramiresbrito commented on #672
@botandrose Thank you. It worked. Closing issue.

[2021-02-03 17:10] #672 closed

[2021-02-03 20:52] botandrose commented on #671
Okay, opened #673 to attempt to fix this bug. Can you folks try out the branch and let me know if it fixes your issues?

You can do this by changing the database_cleaner line in your Gemfile to the following:
[code]

[2021-02-03 22:23] tmaier commented on #671
Hi @botandrose, I tried it out. It works for me. Thanks mate!‚

[2021-02-04 16:18] botandrose commented on #671
Okay, great! I'll push this out as v2.0.1, presently. Thanks for the detailed reports, detective work, and testing, y'all!

[2021-02-05 13:06] skydev2020 opened #674 "Strategy :transaction doesn't work with click_button"
This is very obvious error I think.
I have this code.

[code]

And this is the active_database_cleaner configration

[code]

But click_button doesn't login and it remains or redirected back to login form
if I change the :transaction to :truncation it works.
any idea?

[2021-02-05 13:35] skydev2020 commented on #674
if I comment out the DatabaseCleaner.start, it works

[2021-02-08 16:49] botandrose commented on #674
Closing in favor of https://github.com/DatabaseCleaner/database_cleaner-active_record/issues/53

[2021-02-08 16:49] #674 closed

[2021-02-16 21:06] takamario commented on #668
I tried with rspec by setting `ENV['RAILS_ENV'] ||= 'test'` in `spec/rails_helper.rb`, but
https://github.com/DatabaseCleaner/database_cleaner/commit/77dece1e145899231a57b0fead8a20f6e43d3d0a caused `Rails.env.test?` to return `false`.

[2021-02-19 18:20] bblack opened #676 "Feature request: specify when to stop re-raising server errors when raise_server_errors=true"
We use capybara for our feature specs. We have `raise_server_errors` set to `true` (by default).

We also use [database_cleaner](https://github.com/DatabaseCleaner/database_cleaner) to wipe the database after each test, using an RSpec `after` hook.

Occasionally, we'll have a feature spec example fail, due to this sequence of events:
* the example completes, while there are still requests in progr

[2021-03-02 11:40] swiknaba opened #677 "Ruby 3 compatibility"
Have there been any efforts already on getting this gem ready for Ruby 3?

this kind of magic: https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/cleaner.rb#L43

won't work in Ruby 3, I've seen quite some usage of this pattern.

Also, the `redis` and the `active_record` sub-gems use kwargs vs. options-hashes differently, see:

options hash: https://github.com/Data

[2021-03-02 22:22] maxwell opened #678 "Deprecation Warning on 2.7"
[code]

Worth noting, we perhaps are doing some non-standard access to handle having multiple databases.

[code]

[2021-03-03 12:20] swiknaba commented on #678
seems like the same issues described here: https://github.com/DatabaseCleaner/database_cleaner/issues/677

[2021-03-03 14:59] jrochkind commented on #543
I see 2.0.0 is out -- but I can't find any release notes anywhere, or an announcement.

Is there anywhere I can find a list of breaking and other changes? I assume a 2.0 major release involves some breaking changes?

[2021-03-03 15:03] etagwerker commented on #543
@jrochkind In theory nothing should break if you are using ActiveRecord, but things might break if you are using another ORM.

There are a few release notes over here: https://github.com/DatabaseCleaner/database_cleaner/blob/master/History.rdoc

@botandrose Do you think it is necessary to have an announcement post? It seems that http://databasecleaner.github.io has fallen out of date.

[2021-03-03 15:36] jrochkind commented on #543
Ah perfect, thanks! I had somehow missed the History.rdoc, was looking for a `CHANGES` or `CHANGELOG`! Perfect.

[2021-03-08 10:50] swiknaba commented on #677
@botandrose in case one would start working on this, any preference from the maintainers for either *kwargs* or *options-hashes*? I think, using hashes gives more flexibility regarding the DSL, since the gem is broken into multiple gems, and each gem might want to add or omit certain options/key-words. On the other hand, being explicit makes it easier to follow the codebase if you are not familiar

[2021-03-08 15:17] etagwerker commented on #677
@swiknaba Not sure about Micah's preference, but I would prefer the options-hash way.

So instead of doing this:

[code]

I would be interested in it doing this:

[code]

I think that would be the least disruptive change and it wouldn't require people using `database_cleaner` to change their implementations.

[2021-03-11 15:33] danielpclark commented on #669
Try this:

[code]

[2021-03-13 18:29] #671 closed

[2021-03-13 18:33] botandrose commented on #677
@swiknaba @etagwerker Yes, options-hash sounds good to me!

[2021-03-13 18:47] #543 closed

[2021-03-16 05:34] softpro opened #680 "Poor strategy class lookup"
You should use `strategy.to_s.classify` instead of `strategy.to_s.capitalize` in `DatabaseCleaner::Cleaner#orm_strategy`.
https://github.com/DatabaseCleaner/database_cleaner/blob/a34c4c3d94d7397878e3510987093f17603f81cf/lib/database_cleaner/cleaner.rb#L89

[2021-03-16 05:38] botandrose commented on #680
You're absolutely right! Wanna make a PR?

On Mon, Mar 15, 2021, 10:35 PM Alexander Senko ***@***.***>
wrote:

[2021-03-16 14:55] #680 closed

[2021-04-11 21:20] luizkowalski opened #683 "DatabaseCleaner triggering `before` hook while threads are still running"
This one is hard to reproduce, might not have anything to do with DC but I tracked the issue down to the `config.before` block so I thought about giving it a shot.

I have a code that runs a couple of operations on threads, using `concurrent-ruby`'s `Future`. It goes along these lines:

[code]

when I'm running controller specs that invoke this part of code, they fail and the exception is that the

[2021-04-13 21:19] dmolesUC opened #684 "url_allowlist only works against DATABASE_URL"
I debated filing this against [database_cleaner-active_record](https://github.com/DatabaseCleaner/database_cleaner-active_record), but after digging in a bit I think it would need a more comprehensive fix.

I have a Rails app running in a Docker stack, where under test, the database is configured the old-fashioned way in `database.yml` rather than with `ENV['DATABASE_URL']` -- or rather, both are

[2021-04-25 18:44] danitobello opened #685 "Data"
Erase

[2021-04-25 20:33] #685 closed

[2021-05-08 19:57] botandrose commented on #677
@swiknaba @etagwerker I took a look at this today, and I learned something new about Ruby! It looks like the way Ruby handles multiple arguments to setter methods ending in `=` is a bit of syntax sugar magic. Specifically, it will always first convert the multiple arguments to an array, and then passes that array as a single argument to the method. The only way I could find to bypass this magic is

[2021-05-08 20:13] botandrose commented on #678
@maxwell @swiknaba I'm unable to reproduce this warning on 2.7.2, or as an error in 3.0.0. Can you help me with instructions, or better yet, add a test to expose this?

[2021-05-08 20:18] botandrose commented on #676
Taking a look at this, this seems to me to be outside the scope of database_cleaner, and should be handled in your test runner somewhere. My initial thought is figure out a way to delay completion of the example until the XHR requests have competed. I remember doing something like this in years past... ah yes, here it is. I will paste below. Note this is from years ago when all my XHR was going th

[2021-05-08 20:18] #676 closed

[2021-05-08 20:25] botandrose commented on #684
@dmolesUC Looking at this, I completely agree with your conclusion. While the safeguard container and running logic should be in `database_cleaner-core`, the specific safeguards themselves should be supplied by the adapter gems. We just need to figure out how to do this in a backwards-compatible way. Want to take a stab at this?

[2021-07-19 20:28] exocode opened #686 "uninitialized constant ActiveRecord::DatabaseConfigurations::ConnectionUrlResolver::URI"
I run my specs on Gitlab CI. When I try to run ` bundle exec rspec` I get:

[code]

 ruby '2.7.2'

Gemfile:

[code]

Gemfile.lock

[code]

[2021-08-20 14:01] jonatasdaniel opened #687 "Remote database is wiped out"
I have two databases in my app (ActiveRecord (Postgres) and MongoID (MongoDB)) with this config:
[code]

but running my specs with `DATABASE_URL` set on my env, I got the `Safeguard::Error::RemoteDatabaseUrl` error but my remote database keeps getting wiped out.

[2021-11-10 22:27] arowla opened #688 "API documentation is empty"
The link to docs on [the homepage](http://databasecleaner.github.io/) goes to an empty page:

https://www.rubydoc.info/gems/database_cleaner

![Screen Shot 2021-11-10 at 4 26 55 PM](https://user-images.githubusercontent.com/166715/141203913-0d337697-8443-4cce-9c96-1429e8c63689.png)

[2021-12-31 16:02] jlurena commented on #683
Experiencing the same. Are you by any chance using the same db connection elsewhere manually?

[2021-12-31 16:03] jlurena commented on #683
Same here. Were you able to resolve this?

[2022-01-11 16:06] luizkowalski commented on #683
@jlurena I didn't solve it. I'm no longer working at the company where I had this issue but back then, what I did was avoid database connections inside threads so I mocked anything that would trigger a connection. Later, [I created a gem](https://github.com/luizkowalski/concurrent_rails) that handles the conversation between Threads and Rails and also added a helper for testing (`ConcurrentRails::

[2022-01-16 03:30] etagwerker commented on #688
@arowla Thanks for submitting this issue!

I went ahead and updated our [README](https://github.com/DatabaseCleaner/database_cleaner#changelog) and repo settings: https://github.com/DatabaseCleaner/database_cleaner -- We haven't been using https://databasecleaner.github.io for release documentation for a while.

I also added a note to https://databasecleaner.github.io to explain that that page is

[2022-01-16 03:30] #688 closed

[2022-01-16 03:39] etagwerker commented on #678
@maxwell I can't reproduce this with 2.7.2 either. Please reopen if you can provide more details. Thanks!

[2022-01-16 03:39] #678 closed

[2022-01-16 09:14] swiknaba commented on #678
2.7.2 turned off these warnings: https://bugs.ruby-lang.org/issues/17000 so this has to be tested on 2.7.1 and 3.
Did you test if it actually works on 3.0 @etagwerker?

[2022-04-06 23:06] ka8725 commented on #123
Just in case. I had a similar case, for some reason some user records were not cleaned from DB. My analysis showed that those records that assigned to `Thread.current` are not cleaned automatically by DatabaseCleaner.

So I come up with the fix:

[code]

[2022-05-25 15:55] jacobat opened #690 "YAML aliases with Ruby 3.1"
When trying to use DatabaseCleaner 2.0.0 with Ruby 3.1 and a database.yml file containing aliases I get this error:
[code]

The YAML loading in Ruby 3.1 no longer supports aliases in YAML by default.

Further information and examples:
https://bugs.ruby-lang.org/issues/17866
https://github.com/rails/rails/commit/179d0a1f474ada02e0030ac3bd062fc653765dbe
https://github.com/mperham/sidekiq/pull/5141

[2022-06-01 06:46] takamario commented on #523
https://github.com/DatabaseCleaner/database_cleaner/issues/668#issuecomment-780117915

↑ My this comment means the same thing, https://github.com/DatabaseCleaner/database_cleaner/commit/77dece1e145899231a57b0fead8a20f6e43d3d0a made `Rails.env.test?` return `false`, so development DB will be clean up after running rspec.

[2022-06-07 11:14] olistik commented on #686
I upgraded Rails to 6.1.6 and the problem somehow disappeared from my pipeline.
I did a quick scan of Rails' changelog but couldn't find a direct fix so 🤷🏻‍♂️ 😅

[2022-07-16 09:23] toomanyjoes commented on #22
I am having a problem in my app and this issue seems like it could be related. I cannot tell if this was ever merged and published. Is this fix in the current version of the gem?

[2022-07-25 17:33] Porras2007 opened #691 "Hand soap"

[2022-07-27 10:05] rakshahope commented on #691
What was the Issue?

[2022-08-09 20:06] lucasthomazoni opened #692 "NoMethodError: undefined method 'state' for nil:NilClass"
### Setup
[code]

### Error

From time to time, if a run my specs locally it might throw the error below, the fun thing is it errors for like two or three runs and then it passes (using same seed at all times);

This error also occurs occasionally on GitHub Actions, I have to re-run my workflow some times as well to make it pass (different seeds)

[code]

### Database Cleaner Config
[code]

Any id

[2022-09-03 19:45] cesarjr commented on #690
Same problem over here. It "works" if I remove database cleaner.

@jacobat, did you find some solution? The only way I found was to remove alias at `database.yml` and duplicate all the config.

[2022-09-05 06:30] jacobat commented on #690
I added a monkey patch in an initializer:

[code]

[2022-09-05 21:41] cesarjr commented on #690
Thanks, man! 🤜🤛

[2022-09-12 18:56] jrochkind opened #693 "edge rails (future 7.1) no longer has ActiveRecord::SchemaMigration.table_name"
Current edge rails (future Rails 7.1) produces an error from cleaning in `:truncation` or `:deletion` strategies, due to `ActiveRecord::SchemaMigration.table_name` apparently being removed.

eg

[code]

It looks like this is the commit where it moved: https://github.com/rails/rails/commit/436277da88507f9aae0874e62f3e61a8546b9683

It looks like similar things have happened in the past that effected

[2022-09-17 09:32] zedtux commented on #677
Ruby 3.0 is out since almost 2 years now, when could we expect this gem to be adapted for Ruby 3 ?

@botandrose which branch has that fix ? If I can help by testing it, I would be very happy to do so.

[2022-09-17 10:13] swiknaba commented on #677
@botandrose  indeed, tests are all passing, however when I used

[code]

in my codebase, then RSpec failed with a syntax error.

[2022-09-17 10:31] swiknaba commented on #687
A few thoughts:
* your remote DBs shouldn't be accessible through the public internet, e.g., from within your CI tool or the local machine
* you shouldn't have the remote DB's URLs (that include user/password) in your local env
* the user/password used for the application shouldn't have full permissions; create a user/role that can perform CRUD operations but can't truncate the DB; see the [docs](

[2022-09-24 13:41] zedtux commented on #677
In the case that helps, here is the deprecation warning from Ruby 2.7 :

[code]

[2022-10-24 19:25] EduardoRSeifert opened #694 "v2.0.1 is throwing deprecation warning for using #tables instead of #data_sources"
```DEPRECATION WARNING: #tables currently returns both tables and views. This behavior is deprecated and will be changed with Rails 5.1 to only return tables. Use #data_sources instead. ```

This is being thrown when i run `DatabaseCleaner.clean_with(:truncation)`

After some searching, i found 2 PRs that fixed this and were merged onto master, [PR1](https://github.com/DatabaseCleaner/database_cle

[2022-10-24 19:47] Marinofull commented on #694
Dear maintainers, which versions of Rails is this and [Database_cleaner-active_record](https://github.com/DatabaseCleaner/database_cleaner-active_record) supposed to support? I'm thinking of opening a PR to that repository  making it handling this `data_sources`/ `tables` situation again. But it is good to understand what are the intended versions to be supported before any suggestion

[2022-11-01 18:06] bdewater commented on #693
FWIW Rails 6 shipped with a `db:truncate_all` task, you can add in your test helper for the same effect ([docs](https://api.rubyonrails.org/classes/ActiveRecord/Tasks/DatabaseTasks.html#method-i-truncate_all)):
[code]

[2022-11-06 23:59] navidemad commented on #692
UP i'm getting randomly the same issue, any updates ?

[2022-11-12 03:50] Gitgody opened #695 "### Examples"
### Examples
socks5:
[code]
http:
[code]
input file support:
[code]

_Publicación original de @parrasajad en https://github.com/projectdiscovery/asnmap/pull/10_@end

[2022-11-12 03:50] #695 closed